[2018-06-04 20:38] rongou opened #3 "validate # GPUs"
When specifying GPUs in the simplified version, the number of GPUs should satisfy some conditions. For example, if each node has 4 GPUs, the valid # GPUs should be:

1, 2, 4, 8, 12, ...

We should add validation for this when creating the mpi job.

[2018-06-04 20:41] rongou opened #4 "move docker images to shared dockerhub or gcp"
Right now using my personal account for docker images. Should move to https://hub.docker.com/r/kubeflow/ or some shared place on gcp.

[2018-06-04 21:22] rongou opened #5 "allow specifying resources explicitly"
The current code only allows specifying total # GPUs. It's probably useful to allow users to specify # replicas and GPUs/replica explicitly. This is defined in the [proposal](https://github.com/kubeflow/community/blob/master/proposals/mpi-operator-proposal.md) but not yet implemented.

[2018-06-04 21:23] rongou opened #6 "better support for gang scheduling"
The current code splits GPUs between the worker `StatefulSet` and the launcher `Job`. For gang scheduling, it may be better to allocate all the GPUs to the workers. Not sure if that should be the default, but it should at least be an option.

[2018-06-04 21:25] rongou opened #7 "switch to operator sdk?"
Not sure how mature it is, but might want to switch the implementation to use the [operator sdk](https://github.com/operator-framework/operator-sdk).

[2018-06-04 21:29] rongou opened #8 "run unit tests in ci"
Right now the prow config is empty. Should ask it to run the unit tests.

[2018-06-04 21:29] rongou opened #9 "simple end to end test"
Create a simple end to end test and run it through prow.

[2018-06-04 21:54] rongou opened #10 "ksonnet package"
Create a new ksonnet package and add it to the kubeflow registry.

[2018-06-04 21:55] rongou opened #11 "helm chart"
For people who don't want to use ksonnet, might also be useful to create a helm chart.

[2018-06-05 02:14] gaocegege commented on #7
Could you explain what we will get from the switch?

[2018-06-05 02:16] gaocegege commented on #4
@jlewi Could you please guide rongou to push images to docker hub?

[2018-06-05 12:48] jlewi commented on #4
Instructions about building docker images are here:
https://github.com/kubeflow/kubeflow/blob/master/docs_dev/releasing.md

The general process is create an argo workflow to build the images using docker in docker and then add the workflow to our nightly builds.

We don't push to DockerHub regularly yet.

[2018-06-05 17:34] rongou commented on #7
I think the main benefit is ease of maintenance, and maybe leverage other parts in the operator framework: https://coreos.com/blog/introducing-operator-framework.

[2018-06-05 17:37] rongou opened #12 "investigate PMIx"
The Open MPI people suggested running a PMIx server on each worker pod, and use the PMIx API to launch. Need to investigate whether that's a better approach.

SLURM has some useful information: https://slurm.schedmd.com/mpi_guide.html
PMIx home: https://pmix.org/

[2018-06-05 23:52] rongou commented on #4
@jlewi do you know who owns the kubeflow org on docker hub? Can I be added to it? I set up dockerhub's automated build on my fork, seems to work well enough for top-of-tree images. We may still want to rely on argo to build nightlies and releases.

https://hub.docker.com/r/rongou/mpi-operator/
https://hub.docker.com/r/rongou/mpi-operator-kubectl-delivery/
https://hub.docker.com/r/rongou/mpi-operat

[2018-06-05 23:56] rongou commented on #4
BTW this is their documentation:

https://docs.docker.com/docker-hub/builds/

[2018-06-06 17:33] #4 closed

[2018-06-07 05:12] #8 closed

[2018-06-08 04:15] yncxcw commented on #12
hi, how to involve this issue.

[2018-06-08 04:32] rongou commented on #12
I really don't know much about PMIx. If you are interested, you can try to prototype a solution.

Right now we start the worker pods and sleep, the launcher than calls `mpirun` to launch the processes remotely. With PMIx, my understanding is each worker pod would start a PMIx server, then the launcher can start the processes using the PMIx API.

Probably need to dig a bit into Open MPI and/or SLUR

[2018-06-08 04:36] yncxcw commented on #12
I see. I can take a try on this issue.

[2018-06-08 18:35] rhc54 commented on #12
Just to help clarify a bit: PMIx is just a library - there is no PMIx server "daemon" to run. The way you use it is to have your local launcher daemon on each node dlopen (or link against) the PMIx library and initialize it as a "server" (instead of a "client" or "tool"). This provides access to all the PMIx APIs, including the ones dedicated to server-side operations (see the [pmix_server.h](http

[2018-06-14 16:49] #5 closed

[2018-06-14 16:49] #6 closed

[2018-06-14 17:44] jlewi opened #17 "ksonnet package"
We should add a ksonnet package for the mpi operator so it can be deployed as part of Kubeflow.

Instructions for adding a package are here
https://github.com/kubeflow/kubeflow/blob/master/docs_dev/ksonnet_packages.md

[2018-06-14 18:17] rongou commented on #10
Using #17 instead.

[2018-06-14 18:17] #10 closed

[2018-06-15 02:14] #3 closed

[2018-06-15 21:22] rongou opened #19 "better user documentation"
For now probably just need a better README.

[2018-06-19 15:00] rhc54 commented on #12
Please do holler if/when I can be of help. I confess my ignorance of the Kubernetes internals, but am happy to advise (and hopefully be educated along the way). I'd like to see all the MPIs and workflow-based models that rely on interprocess messaging get supported.

[2018-06-21 17:30] rongou opened #20 "allow more flexible rbac of mpi jobs"
Right now we create a new Role/ServiceAccount/RoleBinding for every MPIJob. Should give cluster admin the option to reuse existing RBAC resources. Need to change to code and add params to the ksonnet prototype.

From @everpeace:

Sometimes, cluster-admin wanted to manage RBAC related resources on their own or to use existing service account. In the case, admins don't want to let the prototype crea

[2018-06-21 21:32] rongou commented on #19
From @kunmingg:

[2018-06-21 23:21] #17 closed

[2018-07-09 03:10] cheyang opened #21 "are there any concerns to replace sshd with `kubectl exec` in MPI interaction?"
When I read the design of MPI-operator, I noticed:

[code]
Is there any concerns about performance which connects through API server? And if it's possible to use sshd for alternative solution?

[2018-07-09 20:04] rongou commented on #21
Whether we use `ssh` or `kubectl exec`, it's only for the initial setup. The actually MPI communication is done through Open MPI's own sockets. In a typical deep learning environment it probably doesn't matter one way or the other.

On the other hand, if you are launching across thousands of gpus/nodes (e.g. on the Summit supercomputer), the latency of launching processes becomes a concern. In tha

[2018-07-10 03:39] cheyang commented on #21
Not yet, thanks for your response.

[2018-07-10 03:39] #21 closed

[2018-07-20 01:45] GarnettWang opened #22 "mpi-operator do not support schedule MPIJob with kube-arbitrator for gang schedule"
Hi, @rongou, mpi-operator should support kube-arbitrator for gang schedule like tf-operator ?

launcher job and statefulset workers should as a batch job for scheduler,  they should be either both be scheduled or no one be scheduled?

It's useful for improve gpu usage in the cluster when gpu resources are scarce in the cluster.

[2018-07-20 01:53] GarnettWang commented on #22
like tf-operator, mpi-operator add a flag `--enable-gang-scheduling` , and implement the integration with kube-arbitrator for gang schedule ?

[2018-07-20 22:31] rongou commented on #22
@GarnettWang great idea! I'm a little busy with other things at the moment, so probably won't be able to get to this for a while. Happy to review pull requests though. :)

[2018-07-24 13:46] GarnettWang commented on #22
I have a thought, this may be change the workflow of mpi-operator:

![image](https://user-images.githubusercontent.com/23478460/43141873-9a544046-8f89-11e8-8ace-bc91e5d78680.png)

1. Create a ConfigMap that contains:
A helper shell script that can be used by mpirun in place of ssh. It invokes kubectl exec for remote execution.
A hostfile that lists the pods in the worker StatefulSet (in the form o

[2018-08-11 06:26] cheyang opened #25 "Failed to launch MPI Job when specifying gpu request"
make small changes of mpijob in the example,  only add gpu in requests. The yaml is as below:

[code]

The launcher job is not created, and checking the mpi-operator logs:

[code]

[2018-08-13 07:28] cheyang opened #27 "Need to specify the retry times of the MPI Job"
Current the launcher Job's backoffLimit is 6, and it can't be modified the by end user. I suggest that the end user should be able to modify it.

And I think it can be 0 by default.

[2018-08-13 13:32] cheyang opened #29 "slots in hostfile need to be configurable"
The slots of the mpi-operator is not configurable. The current implementation is https://github.com/kubeflow/mpi-operator/blob/master/pkg/controllers/mpi_job_controller.go#L753-#L761.  And the sample output is

[code]

Please check `slots` and `max_slots` in https://www.ibm.com/support/knowledgecenter/en/SSZTET_10.1.0/smpi02/smpi02_host_list.html. I think we may have two choices:

1. Make slots co

[2018-08-13 22:40] cheyang commented on #29
/assign @rongou

[2018-08-13 22:45] cheyang commented on #29
/assign @everpeace

[2018-08-14 03:07] #25 closed

[2018-08-14 05:02] rongou commented on #27
Is there a compelling reason to set it to 0 by default? Seems like there could be transient errors that the MPI Job could recover from by retrying, rather than failing right away?

[2018-08-14 05:04] rongou commented on #29
Right now the slots are tied to the number of GPUs. Open MPI actually relies on the number of slots to figure out how many processes to launch. Is there a reason to change this behavior?

[2018-08-14 05:42] cheyang commented on #29
Yes.
1. I think MPI operator can be used for scientific computing without GPU. If there is no GPU env, the slots should be the number of available processors on that host. The max slots being 1 is not acceptable.

2. For sharable GPU cases, some of our customers need to run more than one process in the same GPU  for MPI training. They can limit the GPU memory usage in application level.

So we hav

[2018-08-14 06:00] rongou commented on #29
The number of slots need to match the number of GPUs (or CPU cores if we want to support that), and then you can oversubscribe to launch more processes. See https://www.open-mpi.org/faq/?category=running#oversubscribing.

We can potentially not specify `max_slots` to allow oversubscribing, but messing with `slots` is not a good idea.

[2018-08-14 07:41] cheyang commented on #27
Do you have any suggestions on the  default value. the `backofflimit` is 6 for Kubernetes job.

[2018-08-14 09:10] cheyang opened #31 "Should the limits and requests of the resource(cpu, memory) copy to launcher resource?"
When I create a MPIJob which specifies cpu and memory, it means Job Launcher also requires such a mount of resources. But it's difficult to allocate such large resource for the Job launcher.

[code]

How do we handle such issue? The ideas in my head:

1. Remove requests and limits from Job launcher

2. Make Job launcher as worker, it also participates the computation.

@rongou @everpeace @jlewi Ca

[2018-08-14 18:37] rongou commented on #29
Sounds good.

[2018-08-14 18:39] rongou commented on #27
Would it be too bad to leave the default as 6?

[2018-08-14 18:43] rongou commented on #31
Yeah I originally had the launcher acting as a worker, but it was suggested that it may not be compatible with gang scheduling.

Probably the easiest solution is to remove the resource requirements from the launcher?

[2018-08-14 22:38] cheyang commented on #31
I think we have to remove the resource requirements from the launcher now.
/cc @wsxiaozhang @GarnettWang

[2018-08-14 22:53] #27 closed

[2018-08-15 01:01] cheyang commented on #31
And I think it's better to let the launcher run on master node so it will not be impact by the workers. @rongou

[2018-08-15 01:03] cheyang commented on #29
Will you make this change? @rongou , thanks.

[2018-08-15 23:31] #29 closed

[2018-08-16 01:47] #31 closed

[2018-08-16 09:30] cheyang opened #37 "Failed to create MPI worker statefulset when restartPolicy is Never"
When deploying the following mpijob:

[code]

It can't create the MPI workers, reported the error:

[code]

It's caused by the reason that launcher job and statefulset shares the same pod spec, and Statefulset only supports `Always`

[2018-08-16 15:58] #37 closed

[2018-08-17 16:05] #19 closed

[2018-08-18 09:27] tingweiwu opened #40 "how can I Launch a multi-node horovod training job with mpi-openrator?"
after I do `kubectl create -f deploy/`
I want a test training jod

As I just 2 node. one 1 GPU , anoher 2 GPUs
I tried examples/tensorflow-benchmarks-imagenet.yaml  with a modified but I get error.
change
[code]
to
[code]
and error is
[code]
how can I run examples/tensorflow-benchmarks-imagenet.yaml ？

additionally, I want to test a horovod examples like tensorflow_mnist.py  can I define yaml like

[2018-08-18 20:02] rongou commented on #40
The yaml file you included should work. Did you get any errors from it?

There are basically two ways of running mpi jobs. The first, "simple" approach is to specify `gpus`. For this to work, you need to configure the operator to match your cluster environment. In your case, you need to change `deploy/3-mpi-operator.yaml` to set `--gpus-per-node` to 1.

The second "custom" approach is to specify b

[2018-08-20 01:31] tingweiwu commented on #40
@rongou Yes. I got some error when I run my yaml file with  horovod example.
the launcher pod restart 3 times and the errors from laucher pod are as follow:

it may seem like an  connection error?
[code]

[2018-08-20 01:56] rongou commented on #40
Yeah does look like some kind of connection error. How did you set up your kubernetes cluster? What CNI plugin are you using?

[2018-08-20 03:39] tingweiwu commented on #40
@rongou Yes. my kubernetes cluster use calico plugin. the connection error is becuase some of my calico-nodes is not Running. after I fixed this. I run horovod example again.
my `mpijob-horovod-launcher-9h7hw` pod restart again and and I get another error this times.
it seems that error occurs when `read_data_sets('MNIST-data-%d' % hvd.rank())`
this horovod example I have tested on pods with hostn

[2018-08-20 04:00] rongou commented on #40
Yeah looks like problem downloading mnist? If you just want to test mpi, you can run something super simple like `mpirun hostname`.

[2018-08-20 06:29] tingweiwu commented on #40
@rongou Yes. Just as you said. when I mount mnist data into container so it no need to downloading, I run horovod mnist examples success. Many thanks for your replying

the logs from `launcher`
[code]

Here is my finally yaml.
As the tensorflow_mnist.py examples read data from `('MNIST-data-%d' % hvd.rank())`. so I mounted the same dir to containers `MNIST-data-0`  and `MNIST-data-1`.   I don't ha

[2018-08-20 15:50] rongou commented on #40
Cool, glad it's working for you now. We can probably use some better documentation. :)

[2018-08-20 15:50] #40 closed

[2018-08-25 03:51] tingweiwu opened #42 "is the restartPolicy of pod can be set in MPIJob spec by user?"
I found that if i set `restartPolicy: Never` in `MPIJob` spec.

After create this mpijob , the restartPolicy  of `launcher` pod still is `OnFailure`

[2018-08-25 09:17] soyuutaku opened #43 "Got an error when start a job with OpenMPI 3.1.2"
When I start my own MPI Job with OpenMPI installed with caffe. My Launcher get logs below:

[code]

Here is my Dockerfile of wich install OpenMPI 3.1.2:

[code]

Seems Launcher node cannot connect to worker node? My network is flannel. How can i fix this error?

[2018-08-25 16:55] rongou commented on #43
Perhaps you need to pass in `--enable-orterun-prefix-by-default` in your `./configure` call?

[2018-08-25 17:01] rongou commented on #42
Yes right now it's hard-coded to `OnFailure`: https://github.com/kubeflow/mpi-operator/blob/master/pkg/controllers/mpi_job_controller.go#L1040

We can potentially change it to match the user request if it's either `Never` or `OnFailure`, but default to `OnFailure` if it's not set. What do you think?

[2018-08-27 02:04] tingweiwu commented on #42
@rongou That's nice If you can change like this.

[2018-08-27 06:14] soyuutaku commented on #43
I added the flag `--enable-orterun-prefix-by-default`, but the launcher node still error with logs:

[code]

According to [this post](https://stackoverflow.com/questions/37110538/open-mpi-scalasca-can-not-run-mpirun-command-with-option-prefix), I think the path is not a ploblem.

And in the error log print by launcher, it seems Launcher cannot connect to Worker. And i try ping the worker node with

[2018-08-27 20:39] rongou commented on #43
We actually use `kubectl exec` for remote execution, so I'm not sure if `ping` would have worked. Maybe you can try something like
[code]

[2018-08-28 02:01] soyuutaku commented on #43
@rongou , I tried what you said, and `kubectl` seems not work in the launcher. It can print version info, but cannot execute hostname on worker pod.

The exec command stuck until the pod restart because mpirun timeout.

[2018-08-28 02:14] soyuutaku commented on #43
@rongou , I have found out what happen. I set http_proxy in the Dockerfile, which should not used to kubectl. I removed the proxy, and it works.

[2018-08-28 02:15] #43 closed

[2018-08-28 06:51] tingweiwu commented on #42
@rongou is this images `mpioperator/mpi-operator:laster` is auto rebuild after you change this?

[2018-08-28 12:59] rongou commented on #42
@tingweiwu yes.

[2018-08-28 19:02] #42 closed

[2018-08-30 03:16] tingweiwu opened #45 "when restartPolicy is set never, launcher pod got into error and started a new one?"
[code]

and logs from `launcher` pod show than there is network error between`launcher` and  `worker-1`.
[code]
after that I saw `launcher` pod go into Error and start a new pod.

**how can I set  `launcher` pod go into Error and do not start a new pod when error occurs?**

[code]

[2018-08-30 06:12] tingweiwu commented on #45
solved this by setting `  backoffLimit: 0`
like this:
[code]

[2018-08-30 11:11] #45 closed

[2018-08-31 07:20] tingweiwu opened #46 "the performance when use mpi-operator"
I run tf_cnn_benchmarks.py on two 8GPU nodes use MPIJOB
the output is
[code]
and when I run tf_cnn_benchmarks.py with pod host-network
the output is as following.
could you get me some suggest why the result above is so slow？

[code]

[2018-08-31 09:07] gaocegege commented on #46
How about your network condition?

[2018-08-31 09:16] tingweiwu commented on #46
@gaocegege do you mean pod's network?

[2018-08-31 09:25] tingweiwu commented on #46
@gaocegege Infiniband

[2018-08-31 09:29] gaocegege commented on #46
@tingweiwu Could you please show us the MPIJob spec that you used to benchmark the operator?

[2018-08-31 09:33] tingweiwu commented on #46
here is the yaml
[code]

[2018-08-31 15:41] rongou commented on #46
Also since I last looked at this, Mellanox also came up with some support:

https://community.mellanox.com/docs/DOC-3153
https://community.mellanox.com/docs/DOC-3151
https://github.com/Mellanox/k8s-rdma-sriov-dev-plugin

[2018-09-01 15:34] everpeace commented on #46
In my cluster, I'm using my custom device plugin:  https://github.com/everpeace/k8s-host-device-plugin

please see [here](https://github.com/everpeace/k8s-host-device-plugin/tree/master/ib-example) for how to activate InfiniBand devices in your cluster via this plugin.

[2018-09-04 10:44] xqqcoder opened #47 "I have a problem about the code, worker config command sleep 365d, how the laucher wake up the worker"

[2018-09-04 11:30] xieydd opened #48 "MPIJob error"
When i use mpi-operator , meet a error.
@rongou @everpeace an you help me?
[code]

[2018-09-04 12:28] rongou commented on #47
The launcher invokes `mpirun` which uses `kubectl exec` to remotely execute the desired commands on the worker pods. When `mpirun` finishes, the operator/controller sets the number of replicas to 0 for the worker statefulset. There is more information in the original proposal: https://github.com/kubeflow/community/blob/master/proposals/mpi-operator-proposal.md

[2018-09-04 12:37] rongou commented on #48
What kind of Kubernetes cluster are you running on? Looks like there was some permission issue:
[code]
You can check the logs of the operator to see if there are clues.

[2018-09-05 02:32] xieydd commented on #48
I run it in k8s 1.11, this is the only err log
[code]

[2018-09-05 03:41] rongou commented on #48
Can you share your MPIJob yaml file? Looks like the launcher connected to worker-0 but not worker-1. Can you check to see if both worker pods are running?

[2018-09-05 04:58] xieydd commented on #48
This is my yaml
[code]
I am sorry , there is no log for worker

[2018-09-05 05:12] rongou commented on #48
Hmm, there is a bunch extra stuff, I'm not sure which is causing the problem. Can you try to run the example at https://github.com/kubeflow/mpi-operator/blob/master/examples/tensorflow-benchmarks-custom.yaml to see if it works for you?

[2018-09-05 06:26] xieydd commented on #48
Thanks a lot , i have try this ,same error

[code]

mpijob.yaml

[code]

[2018-09-05 07:11] rongou commented on #48
Hmm, this looks more like kubernetes configuration issue. How did you set up your cluster? Using `kubeadm`? Is this running on your local machine or a cloud provider?

[2018-09-05 07:13] xieydd commented on #48
I think this may be the kubelet authentication error, but i don`t know where is error.
I run in Local machine.

[2018-09-05 07:47] xieydd commented on #48
Are there some condition when use `kubectl exec` in a container . @rongou

[2018-09-06 01:33] rongou commented on #48
You can try both:
[code]

[2018-09-06 02:40] xieydd commented on #48
[code]

[2018-09-06 02:56] xieydd commented on #48
@rongou
I want to know how you can use `kubectl exec ` in pod?
Do you use RBAC in your test cluster.
Thanks a lot

[2018-09-06 04:55] rongou commented on #48
In a pod it uses `InClusterConfig`. Do you not have RBAC enabled?

[2018-09-06 04:58] xieydd commented on #48
Thanks a lot , i have noticed  the `InClusterConfig` ,and i will review my code.

[2018-09-06 06:52] xqqcoder commented on #47
thank you, I got it

[2018-09-06 06:53] xqqcoder commented on #47
thank you, i got it

[2018-09-06 12:47] answer3y opened #49 "Slow to start a MPIJob"
My k8s has thousands of mpijob，when I create a new mpijob，it takes long time to be run.

I find that the code below:
`kubeflowInformerFactory := informers.NewSharedInformerFactory(kubeflowClient, time.Second*30)` in md/mpi-operator/main.go

Because of the implement of informer, the mpi-operator will check and sync the MPIJob status every 30 second. I have thousands of MPIJobs that make the new job

[2018-09-06 15:30] #47 closed

[2018-09-06 15:52] rongou commented on #49
Thanks for the report! Searching around for this problem, there doesn't seem to be a definitive answer. In the kubernetes code base it's mostly set to minutes. Can you try something like `kubeflowInformerFactory := informers.NewSharedInformerFactory(kubeflowClient, 10*time.Minute)` to see if that solves your problem?

[2018-09-06 15:54] rongou commented on #49
By the way I'm really interested in where you are running these thousands of mpi jobs and for what purpose. :) Can I quote you guys as a user/customer of mpi-operator?

[2018-09-06 18:50] #49 closed

[2018-09-06 18:52] rongou commented on #7
Yeah probably not. :)

[2018-09-06 18:52] #7 closed

[2018-09-07 06:05] rongou commented on #49
Right, setting the resync period to 0 means to never resync, that should solve your problem.

[2018-09-07 16:32] rongou commented on #49
@answer3y do you mind telling me your group/company's name? If you don't feel comfortable sharing it on github, you can email me directly (rong dot ou at gmail dot com), or hit me up on the kubeflow slack. Thanks!

[2018-09-12 06:06] xieydd commented on #48
I forget it , i have a mistake in install ha k8s; i use different –service-account-key-file in different master;

[2018-09-12 06:06] #48 closed

[2018-09-12 07:05] tingweiwu commented on #46
@rongou
As my cni plugin is calico. I don't want to use SR-IOV CNI plugin.
so I use https://community.mellanox.com/docs/DOC-3153
and it works well.
now I can run mpi job use RMDA in pod.
the speed is almost the same as host-network.

[2018-09-12 17:00] rongou commented on #46
Good to know. Thanks for reporting back!

[2018-09-12 17:00] #46 closed

[2018-09-15 12:13] tingweiwu opened #51 "A process or daemon was unable to complete a TCP connection?"
create a Job with 2 node like this
[code]

and get error
[code]

 I have run `systemctl disable firewalld` on everynode  and check all the nodes with `systemctl status firewalld`

[code]

[2018-09-15 13:55] tingweiwu commented on #51
solved

[2018-09-15 13:55] #51 closed

[2018-09-15 14:35] rongou commented on #51
@tingweiwu do you mind sharing what the problem was?

[2018-09-17 01:15] tingweiwu commented on #51
when I run `calicoctl node status` , some host nodes disappeared, but all the `calico-node-` pod seems ok.
I solved by delete those host from k8s cluster. and join to master again.
After do this, those host nodes appear with `Established` state when run `calicoctl node status`

so, it seems to be `calico`issue

[2018-09-17 01:43] rongou commented on #51
Cool, thanks for reporting back. Open MPI's error messages, though very detailed, are not always helpful. :) Probably need to come up with some utilities to make debugging easier.

[2018-09-20 09:57] xieydd opened #52 "Support the different GPU of pod in one job?"
Are there any plans in place to meet this demand , if i have a job need 15 gpus, It is automatically allocated as to the shape of 2, 2, 5, and 6 depend on node resources.
@rongou

[2018-09-20 18:58] rongou commented on #52
There is some support for this in the current implementation, but not to the extent that you want.

For performance reasons, it's better to run each pod on as many gpus as possible. For example, if you have 8-gpu nodes, you should launch 8-gpu worker pods. That way NCCL can leverage NVLink for higher bandwidth and lower latency within each node. Crossing the node boundary is expensive, even with I

[2018-09-21 01:44] xieydd commented on #52
I'm sorry, maybe I didn't make myself clear. When the task is decomposed, it is considered to occupy as many gpu resources as possible on a single node. If a single node does not have enough resources, it will be allocated to multiple nodes. The problem is that the current architecture of the mpi operator indicates that all pod gpus for a task are the same.

[2018-09-21 15:33] rongou commented on #52
I guess I didn't make myself clear. :) Using the maximum number of gpus per node for each worker pod is the most efficient way to do multi-node training, so that's the default behavior. If your goal is to fully utilize all the gpus and reduce job queuing, it's best done by the scheduler bin-packing.

The exact mechanism you described seems rather imperative, goes against kubernetes' philosophy of

[2018-09-30 02:37] tingweiwu opened #53 "launcher pod is not OK when namespace set ResourceQuota"
1、 I set ResourceQuota of namespace cv. the yaml is as following
[code]
2、I create mpijob as following. but only `mpijob-0-worker-0` and `mpijob-0-worker-1` pod is Running.
[code]

[code]

3、I delete ResourceQuota  of namespace cv that I create in step one. and all the pod is Running
[code]

I guess the reason is the launcher pod don't set  resouce Limits and Requests?
Could you mind to give the c

[2018-10-01 16:11] rongou commented on #53
Yeah right now we use the same pod spec for both the workers and the launcher, and mung the spec a little to make it work for the launcher. Since you already have a test case, do you mind sending a PR to fix it? Shouldn't be too involved. Probably around https://github.com/kubeflow/mpi-operator/blob/master/pkg/controllers/mpi_job_controller.go#L997

[2018-10-08 02:01] tingweiwu commented on #53
@rongou  do you mean to fix by setting the launcher pod's Limits and Requests as worker spec?
If we change it like this, it will occupy GPUS more than we need.

Another solution is that when namespace set ResourceQuota, set the LimitRange at the same time.
[https://kubernetes.io/docs/tasks/administer-cluster/manage-resources/memory-default-namespace/](url)

[2018-10-08 05:17] rongou commented on #53
Oh I see the problem is the launcher doesn't have requests or limits set. Perhaps a short-term fix is to set them to something small, say 0.1 cpu and 500 mb memory? Longer term it seems we should separate out the pod specs for workers and the launcher. What do you think?

[2018-10-09 16:04] rongou opened #54 "separate out worker and launcher pod specs"
The worker pods and the launcher typically have very different resource requirements. Right now we have a single spec for them and the controller munges the launcher podspec to make it more resource efficient. We should give user more control by separating out the worker and launcher pod specs. Need to move the api version to v1alpha2.

See #53

[2018-10-09 16:04] rongou commented on #53
Ok, I created a separate issue to track the api change.

Can your code be folded into the current controller?

[2018-10-30 07:17] Chaos-Ju opened #55 "Sometimes appear this problem"
+ POD_NAME=tensorflow-benchmarks-16-custom-worker-0
+ shift
+ /opt/kube/kubectl exec tensorflow-benchmarks-16-custom-worker-0 -- /bin/sh -c     PATH=/usr/local/bin:$PATH ; export PATH ; LD_LIBRARY_PATH=/usr/local/lib:$LD_LIBRARY_PATH ; export LD_LIBRARY_PATH ; DYLD_LIBRARY_PATH=/usr/local/lib:$DYLD_LIBRARY_PATH ; export DYLD_LIBRARY_PATH ;   /usr/local/bin/orted -mca ess "env" -mca ess_base_jobid

[2018-10-30 17:43] rongou commented on #55
Probably some network setup issue. Once the pods are up, you can try to talk to them manually:
[code]

[2018-12-03 08:20] Chaos-Ju commented on #55
done

[2018-12-03 08:20] #55 closed

[2018-12-03 08:36] Chaos-Ju opened #56 "how to build and install the openmpi ?"
./configure && make && make install

Is .configure  need sspecial options ?

[2018-12-03 19:16] rongou commented on #56
Depends on your setup. For development, I usually just do
[code]

[2018-12-11 02:01] ldd91 commented on #20
I deployed MPIJob using Role in my own namespaces however it failed,but when i used the clusterrole it succeed。My question is how to set RBAC in cluster when using MPIJob.

[2018-12-11 02:45] everpeace commented on #20
MPIJob is expanded `StatefulSets` and pods owned by the statefulsets is run with the dedicated serviceaccount for the MPIJob, which is created by MPI operator.

So, I believe that you just need permission to `C-R-U-D` for `MPIJob` CRDs.

[2018-12-11 02:50] rongou commented on #20
If you look at https://github.com/kubeflow/mpi-operator/blob/master/deploy/2-rbac.yaml, it shows all the permissions you need.

[2018-12-11 03:18] ldd91 commented on #20
Thank you for timely reply.I  will have a try.@rongou @everpeace

[2018-12-12 11:18] tingweiwu opened #57 "NCCL Connection refused when run horovod with mpijob"
I run tf_cnn_benchmarks.py with horovod in two ways.
(1) with host-network docker as describe in [Horovod in Docker ](https://github.com/uber/horovod/blob/master/docs/docker.md)

[code]

(2) with MPIJob as follow
[code]

when I use image `uber/horovod:0.13.10-tf1.9.0-torch0.4.0-py3.5`
host-network docker and MPIJob both go well.

but when use image `uber/horovod:0.15.2-tf1.12.0-torch1.0.0-py3.5`

[2018-12-12 18:54] rongou commented on #57
Thanks for reporting! Let me try to see if I can reproduce it in my environment.

[2018-12-12 22:57] rongou commented on #57
Looks like I'm running into the same issue with my desktop k8s. I'm asking the NCCL team now.

[2018-12-12 23:17] rongou commented on #57
OK, found the issue, this is actually a problem in horovod's Dockerfile. Will send a fix upstream.

[2018-12-12 23:50] rongou commented on #57
OK, this should be fixed by the Horovod PR. For now you can try to replace `uber/horovod:0.15.2-tf1.12.0-torch1.0.0-py3.5` with `rongou/horovod:latest` and see if that fixes it for you.

[2018-12-13 03:17] tingweiwu commented on #57
@rongou thanks a lot it fixes for me when use image `rongou/horovod:latest`
so just remove `NCCL_SOCKET_IFNAME=^docker0` in  /etc/nccl.conf solved this issue?

[2018-12-13 16:52] rongou commented on #57
Yes, see the response from NCCL lead: https://github.com/uber/horovod/pull/700#issuecomment-446851794

[2018-12-13 16:52] #57 closed

[2018-12-17 03:47] tingweiwu opened #58 "is the cmd in launcher and worker pod different?"
when I start a mpijob as follow
[code]

 I get an error `python: can't open file 'tf_cnn_benchmarks.py': [Errno 2] No such file or directory`.
 I check that the ` /temp` dir is existed in launcher  pod but not in the worker.
I guess the cmd `cp -rf /code /temp && cd /temp` have not executed in the worker pod.

when I change cmd into `cd /code && mpirun python tf_cnn_benchmarks.py --model resnet101

[2018-12-17 18:35] rongou commented on #58
Yes that's currently a limitation. We use `PodSpec` for both the workers and the launcher, but they run different commands. The workers simply run `sleep 365d` and ignores the command set in the spec. More details here: https://github.com/kubeflow/community/blob/master/proposals/mpi-operator-proposal.md

Going forward we might want to separate them out, see #54.

[2018-12-18 01:16] tingweiwu commented on #58
yes. I know the entrypoint cmd in launcher and workers pod are different as I describe pod when MPIJob running.
I means that when podSpec cmd in MPIJob is `cd /code && mpirun python tf_cnn_benchmarks.py --model resnet101 --batch_size 64 --variable_update horovod`

does `cd /code` execute in worker pod ? If not, how the workers find  `tf_cnn_benchmarks.py`?

maybe I am confused about mpirun communi

[2018-12-18 19:00] rongou commented on #58
No the worker pods only execute `sleep 365d`. Are you modifying `tf_cnn_benchmarks.py` locally? If not, you can just put it in the container image. See https://github.com/kubeflow/mpi-operator/blob/master/examples/tensorflow-benchmarks/Dockerfile#L5.

[2018-12-19 01:07] tingweiwu commented on #58
I can't put my `tf_cnn_benchmarks.py` in the container image. because I will run others script . the `tf_cnn_benchmarks.py` is just a example.
As my code is mount into pod.
when the entrypoint in `MPIJob Spec` is
[code]
it works well.

I wonder as the `cd /code` not execute in worker pods. how the workers pod find the script  `tf_cnn_benchmarks.py`

and why I change entryponit in `MPIJob Spec` to

[2018-12-19 05:44] rongou commented on #58
I guess it depends on how your container image is built. If the `WORKDIR` is set to `/code`, then `cd /code` is basically a no-op.

[2018-12-19 06:21] tingweiwu commented on #58
@rongou I have already checked the WORKDIR in container image early .
It is the horovod examples dir. and when I haven't mount the `/root/Horovod/local/tf_cnn_benchmarks` into the container  path `/code`. you can see there is no `/code `dir as the following
so I can be sure that the `code` is not the WORKDIR in container image.

this makes me confused.

[code]

[2018-12-19 07:18] rongou commented on #58
Hmm not sure what's going on. Where are you seeing the "no such file" error? Is it in the launcher pod or the worker pod?

[2018-12-19 09:07] tingweiwu commented on #58
actually I am not sure "no such file" error is from launcher pod or the worker pod. firstly, I find that the ` /temp`   dir exsit  in launcher pod. and not in the worker pod

cmd is
[code]
the error logs is as following, and launcher pod goes into Error  status
[code]

when change cmd into
[code]
the logs as following
[code]

[2018-12-19 17:10] rongou commented on #58
OK I think I know what's going on. When `mpirun` sets up the communication, it actually passes the working directory to all the workers. Since you have `/code` mounted on all the pods, it works if you use that directory. But since the worker pods only run `sleep 365d`, they wouldn't have the `/temp` directory, thus failing to locate the python file.

There is not much we can do right now until we

[2018-12-20 03:02] tingweiwu commented on #58
well, is there any play to fix #54?
Indeed I've noticed your invitation on fixing this problem on issus #53. I wish you don't mind that I haven't done it yet cause I'm totally new to GO language.

[2018-12-20 16:46] rongou commented on #58
We have some work planned to enhance the mpi operator, we can put #54 in the list. Closing this for now.

[2018-12-20 16:46] #58 closed

[2018-12-21 19:36] terrytangyuan opened #59 "Hard requirement on cluster-level roles"
Current to deploy MPI-Operator, we have to apply cluster-level roles, e.g. `ClusterRole` and `ClusterRoleBinding` specified in [deploy/2-rbac.yaml](https://github.com/kubeflow/mpi-operator/blob/master/deploy/2-rbac.yaml). However, some infrastructure rules/restrictions that disallow such cluster-level roles.

The cluster level roles seem needed even though the `MPIJob`, controller, etc. are in the

[2018-12-25 01:43] xieydd commented on #22
Is there any progress？ @GarnettWang @rongou

[2018-12-25 02:09] soyuutaku commented on #54
Is there any Road-map for v1alpha2? Separate out worker and launcher is necessarily. It may add possible to add some initial containers for workers but the launcher just need to trigger the job.

[2018-12-26 11:48] tingweiwu opened #61 "Error from server: error dialing backend: dial tcp HOSTIP:10250: getsockopt: connection timed out"
Recent months, we meet the following error accidentally when we run 8*8 job. and  almost everytime we get the same HOSTIP  connection timed out.
so I have run the telnet cmd `telnet HOSTIP 10250`from other host to it. it seems OK.
could you give me some idea about how to fix this problem ？
thanks a lot .

[code]

[2019-01-02 02:31] tingweiwu opened #63 "the rank num when run with muti-nodes"
I run in 8*8node.
and the start log is as following
[code]

I got missing rank error
[code]
I want to ask is
rank 2 -> is the 3rd gpu in `p6be5d36d24d4c7f9087c49150e4b0a4-mpijob-0-worker-0`?

rank0.....rank7 in `worker-0`
rank8.....rank15 in `worker-1`
rank16....rank23 in `worker-2`
.....
rank56.....rank63 in `worker-7`?

[2019-01-07 01:09] rongou commented on #61
Not sure. Maybe you can ask the Open MPI guys directly for help? See https://www.open-mpi.org/community/help/.

[2019-01-07 01:14] rongou commented on #63
Yes that would be my understanding.
@alsrgv

[2019-01-07 04:09] alsrgv commented on #63
@tingweiwu, yes.  You can also self-diagnose easily by running a toy program that will print `hostname` and `hvd.local_rank()`.

[2019-01-07 13:42] jlewi opened #66 "Plans for mpi-operator in Kubeflow 0.5?"
What are the plans for the mpi-operator in 0.5?

/cc @everpeace @rongou

[2019-01-07 13:46] terrytangyuan commented on #59
Thanks @rongou for re-opening this. #60 did not resolve this completely yet. There's still remaining issue:

[code]
This is because we still need to do the same thing for `kubeflowInformerFactory`. However, it is using `github.com/kubeflow/mpi-operator/pkg/client/informers/externalversions` which is generated by `informer-gen` but `NewFilteredSharedInformerFactory` wasn’t generated automatically s

[2019-01-07 16:14] rongou commented on #59
We can probably update the dependencies now.

[2019-01-07 19:25] rongou commented on #66
We are planning some work internally (at NVIDIA) to have better support for
gang scheduling, bare metal/networking performance etc. Not sure how what
would fit into the kubeflow release schedule. What's the target date for
0.5?

On Mon, Jan 7, 2019 at 5:42 AM Jeremy Lewi <notifications@github.com> wrote:

[2019-01-08 01:40] k82cn commented on #66
@rongou , are going to have a new implementation of gang-scheduling or leveraging [kube-batch](https://github.com/kubernetes-sigs/kube-batch) ?

[2019-01-08 20:36] terrytangyuan opened #72 "Additional tags for docker images on Dockerhub"
Currently Docker images are being built and pushed automatically to [mpioperator on Dockerhub](https://hub.docker.com/u/mpioperator). However, the images built automatically do not have tags other than "latest". We can probably tag them with Git commit hashes and then have an official release tag. Otherwise, users will end up maintaining their own images and releases which is unaffordable in the l

[2019-01-08 22:54] rongou commented on #72
Agreed. That was my quick and dirty solution. Kubeflow has a more formal release process and pushes docker images to GCP. Maybe it's something we can leverage?

[2019-01-08 23:07] terrytangyuan commented on #72
Yes that would work. Alternatively, Travis seems to provide an easy process for this as well that we might want to consider:
https://docs.travis-ci.com/user/docker/#pushing-a-docker-image-to-a-registry

[2019-01-08 23:13] rongou commented on #66
This work is mostly done by the Nvidia GPU Cloud (NGC) team. They have an internal scheduler, but they are also looking at kube-batch, so I guess it's still to be determined.

[2019-01-09 01:34] k82cn commented on #66
Got that; if anything I can help, please let me now :)

[2019-01-10 08:40] k82cn commented on #66
BTW, if the scheduler is internal, how other use that?

[2019-01-10 17:03] terrytangyuan commented on #66
Not sure if these will all fit in Kubeflow 0.5 but just want to add a couple related issues for discussion here:
* Additional tags for docker images on Dockerhub and formal release before any API changes: https://github.com/kubeflow/mpi-operator/issues/72
* Update `k8s.io/code-generator` as discussed in https://github.com/kubeflow/mpi-operator/issues/59
* [WIP] Support processing resource types ot

[2019-01-11 01:41] rongou commented on #72
Got it configured on docker hub.

[2019-01-11 01:41] #72 closed

[2019-01-11 02:54] k82cn commented on #66
Got that :)

[2019-01-11 05:42] rongou commented on #59
Sent you #78.

[2019-01-11 15:02] terrytangyuan commented on #66
@everpeace good to know that. Let's continue non-GPU specific discussion on the PR.

[2019-01-12 05:18] #59 closed

[2019-01-14 06:44] junggeh opened #80 "Failed to create MPIJob due to invalid values"
Hi. I am new and trying to run the tensorflow-benchmark using argo-events (https://github.com/argoproj/argo-events). When the  K8s CustomResourceDefinition (CRD) tries to launch the MPIJob, it also includes empty arrays such as below:

1. parameters with empty array such as spec.arguments, spec.arguments.templates (input,output etc) (removed private information)

`apiVersion: argoproj.io/v1alpha1

[2019-01-14 06:57] #80 closed

[2019-01-17 09:24] EdwardZhang88 opened #82 "how does the shift command work in the kubexec configmap"
I am doing a comparison test on a 3 node*4GPU setting which involves using both openMPI and mvapich. While the default openMPI is good to run, I have trouble in getting mvapich to work with mpi-operator. And I believe the problem is that mvapich fails to recognize the hostfile as the log shows only 3 shift happen(while it is 12 for openMpi), one for each pod.
Original hostfile:
pod1 slots=4
pod2 s

[2019-01-17 09:47] EdwardZhang88 commented on #82
Just have a closer look at the openMPI log, there are actually only 3 shift too. I was misled because mpirun has been triggered for both workers and servers.

[2019-01-17 17:11] rongou commented on #82
The shift just takes off the pod name, then the rest of the args are passed to kubectl. Perhaps you can play around with this repo (https://github.com/rongou/k8s-openmpi) to debug this type of issues.

We haven't tested the operator on mvapich at all. If you get it working, feel free to send us PRs.

[2019-01-18 14:16] EdwardZhang88 commented on #82
Thanks for your reply. Right now I am trying with mvapich only because some training tasks get hung in the middle using current OpenMpi+kubectl exec approach while the same task runs smoothly using conventional mvapich+passwordless SSH. My question is do you think that kubeclt exec could be a potential I/O bottleneck since it flows the data load all the way from node a -> apiServer -> kubelet on n

[2019-01-18 18:23] rongou commented on #82
Seems unlikely. `kubectl exec` is only used for the initial handshake, afterwards OpenMPI takes over and does its own networking.

[2019-01-21 02:32] rongou commented on #52
I think this is outside the scope of the mpi operator. Closing for now.

[2019-01-21 02:32] #52 closed

[2019-01-21 02:34] rongou commented on #22
@xieydd not  yet, but PRs welcome. :)

[2019-01-21 02:37] rongou commented on #53
Marking this as a duplicate of #54

[2019-01-21 02:37] #53 closed

[2019-01-21 02:37] xieydd commented on #52
@rongou I have implemented the version of mpi-operator , but i did`t think this  conform to declarative logic, so i give up it.

[2019-01-21 02:38] rongou commented on #56
See https://www.open-mpi.org/faq/?category=building

[2019-01-21 02:38] #56 closed

[2019-01-21 02:41] rongou commented on #63
Marking this as resolved.

[2019-01-21 02:41] #63 closed

[2019-01-21 02:42] rongou commented on #66
@cheyang see #54.

[2019-01-21 14:58] cheyang commented on #66
Thanks, got it!

[2019-01-22 15:30] EdwardZhang88 commented on #82
@rongou Yes, you are right. I confirm that kubectl exec as RSH launcher to initialize MPI is not an issue. It appears that openMPI may have some MCA related parameters (e.g., -mca btl_openib_receive_queues even though I didn't use openib in the first place) which require special tuning. I haven't really figured it out how and why. But I do manage to run my training task successfully without any ha

[2019-01-22 15:30] #82 closed

[2019-01-31 03:09] ustcyue opened #86 "mpijob restarts a few hours after launcher completed."
My job definition is like this.
[code]
After the launcher job finished, either Failed or Succeed, all worker pods terminated normally. However,  after around three hours, the whole job automatically restarts. Is this expected? Should I delete the mpijob after each run?

[2019-01-31 16:49] rongou commented on #86
That's strange. Did you do anything with the cluster during those 3 hours?

[2019-02-01 06:12] rongou commented on #86
Do you have the logs from `mpi-operator`?

[2019-02-06 19:32] terrytangyuan commented on #22
I am currently looking into this. I'll keep everyone here posted.

[2019-02-07 17:12] terrytangyuan commented on #22
Created a PR for this in #87. Feel free to chime in.

[2019-02-08 22:59] Jeffwan opened #88 "MPI job needs rich status information"
Could we add `startTime` and `completionTime` field in the status?  `launcherStatus` is helpful on status but can not indicate job duration.

[code]

I can open a PR for this issue if you think it's reasonable.

[2019-02-08 23:43] rongou commented on #88
Sure, feel free to send a PR.

[2019-02-09 08:30] Jeffwan commented on #88
Add #89

[2019-02-09 17:46] terrytangyuan opened #90 "Launcher and worker statuses do not correctly indicate the underlying states"
Launcher keeps crashing:
[code]
However, from the launcher's log, one of the worker is the one that's failing and is killed (later found that it was due to OOM)
[code]
Here's the description for launcher job which does not indicate any abnormal events:
[code]

The above problems could potentially be addressed by https://github.com/kubeflow/mpi-operator/issues/12 (currently mpirun does not give us

[2019-02-11 23:53] terrytangyuan opened #92 "MPI Operator v1alpha2 API Design Proposal"
Hi community,

I am proposing the design for v1alpha2 API version for MPI Operator. You are very welcomed to join the discussion here if you have any questions, comments, concerns, and suggestions. Once we have a concensus from the community, we can then start working on individual items.

Here are the main API changes before we dive into the detail API spec (not including specific implementations

[2019-02-12 02:26] ustcyue commented on #86
@rongou I cannot find any related log from `mpi-operator`, maybe because the log level is too high. May I know how could I set the log level to INFO?

[2019-02-12 02:31] Jeffwan commented on #88
PR merged and close the issue.

[2019-02-12 02:31] #88 closed

[2019-02-12 02:32] terrytangyuan commented on #86
@ustcyue You probably need to pass `-alsologtostderr` here: https://github.com/kubeflow/mpi-operator/blob/071a9bcfbad15b86c62fd0c418478ba408371867/deploy/3-mpi-operator.yaml#L23

[2019-02-14 03:08] richardsliu commented on #92
For things like JobStatus, we should aim to have a common implementation across operators. Please see https://github.com/kubeflow/tf-operator/blob/master/pkg/apis/common/v1beta2/common_types.go.

The pytorch operator is a great example for using the common types and libraries.

@johnugeorge

[2019-02-14 03:55] johnugeorge commented on #92
Yes.  As @richardsliu  suggested, it would be better if you use common JobStatus. It would be easier to implement at this point.  We are aiming to reach a point where all operators have common JobStatus type so that  other components can take use of this.

In Pytorch operator, See https://github.com/kubeflow/pytorch-operator/blob/master/pkg/apis/pytorch/v1beta1/types.go#L41

[2019-02-15 21:57] Jeffwan commented on #92
+1 on common job status. I am recently working on kubebench and found it's better to have common job status to orchestrate workflow to avoid extra control on job status. Otherwise, I have to define job finish condition based on different JobStatus based on different DL framework operator.

[2019-02-15 22:03] Jeffwan opened #93 "Continuous building docker images"
I notice `mpioperator/mpi-operator:latest` is from `rongou/mpi-operator` which sometimes has delay.

1. Could you help release latest mpi operator image? I'd like to use feature from latest version. I can use customized image for now and this is a low priority request.

2. Does mpi-operator project has CI and CD support? It would be great to use latest image which consistent with upstream repo cha

[2019-02-18 02:33] ustcyue commented on #86
@terrytangyuan I added the option to mpi-operator, bust still I cannot find any meaningful log at the time of automatic restart.

[2019-02-18 15:34] terrytangyuan commented on #92
Thanks @richardsliu @johnugeorge @Jeffwan for the suggestion. I totally agree that we can reuse `JobStatus`. Should we extract the common JobStatus out instead of importing from tf-operator? I don't think it makes sense for pytorch-operator and mpi-operator to depend on tf-operator. I can help move them out to a common repo as part of the process.

[2019-02-19 01:56] madhukarkm commented on #92
+1 on using the common job status and spec. Looking more: (a) ReplicaStatus in both lists only the number of Active/Running, Succeeded and Failed replicas; how about other states like Pending when some replicas are waiting for resources to be scheduled. (b) BackoffLimit would be a good candidate to move into common RestartPolicy (but is probably a broader change).

[2019-02-20 04:59] johnugeorge commented on #92
@terrytangyuan we have been thinking about it for sometime.  It didn't happen because of effort to be put into it. We also have a JobController which was designed to share features across operators.  It should be also moved to a common repo.  (See https://github.com/kubeflow/tf-operator/tree/master/pkg/common/jobcontroller )

@richardsliu Please add your thoughts too

[2019-02-20 08:24] jian-he commented on #92
+1 to separate the common module out.
we also have a project thinking to reuse the common job controller logic.

[2019-03-04 17:29] rongou commented on #93
The images are up to date, but we probably should use travis to build them. If anyone wants to take it on, I'd be happy to give you the permissions you need.

@terrytangyuan brought up this before.

[2019-03-05 23:33] terrytangyuan commented on #92
Thanks for everyone's feedback! I've created a PR in https://github.com/kubeflow/mpi-operator/pull/95 for the initial v1alpha2 MPIJob API Spec based on everyone's feedback. Please take a look and comment if there's anything else to be addressed.

Note that I am coping the common types from `tf-operator` to this repo for now since I don't believe `mpi-operator` should depend on `tf-operator`. We ca

[2019-03-09 00:11] jlewi commented on #92
I'll defer to @richardsliu @johnugeorge since they have  largely been driving operators these days.

[2019-03-09 10:56] johnugeorge commented on #92
We can take this up after 0.5 release.

[2019-03-15 17:20] terrytangyuan commented on #93
@rongou Feel free to grant me the permission. We can probably have someone from our team to help with this.

[2019-03-15 17:47] rongou commented on #93
@terrytangyuan I added you as an owner of the `mpioperator` org on docker hub. Let me know if you need anything else.

https://cloud.docker.com/u/mpioperator/orgs/mpioperator/teams

[2019-03-26 18:00] #22 closed

[2019-03-29 09:36] tingweiwu opened #103 "time consuming by mpirun invoke"
hi~
I do a test with 2node , each node has 8 Gpus.
print the  startime in the python script `tf_cnn_benchmarks.py`

**case A:**
[code]
output:
[code]
and the pod time
[code]

**case B:**
 run tf_cnn_benchmarks.py with pod host-network
the cmd in the worker pod is
[code]
and cmd  in launcher pod is , IP1 and IP2 is the host IP where worker pods runnig
[code]
output:

[code]

[code]

so, the costtim

[2019-03-30 09:12] tingweiwu opened #104 "cannot list poddisruptionbudgets.policy at the cluster scope"
Hi , I saw the error logs from  `mpi-operator-5cdb797cd-btdg8` pod, what this means?

[code]

[2019-03-30 15:30] terrytangyuan commented on #104
We recently added support for gang scheduling which requires pdb. See the updated rbac roles here: https://github.com/kubeflow/mpi-operator/blob/master/deploy/2-rbac.yaml

[2019-04-01 02:11] tingweiwu commented on #104
@terrytangyuan ok, I got it.  refresh the rbac solved the error. close this.

[2019-04-01 02:11] #104 closed

[2019-04-08 22:01] rongou commented on #103
I think I've seen similar slowdowns. When Open MPI starts up, it tries to figure out the network topology, I wonder if container networking is confusing existing code paths and causing this. You might want to ask on the Open MPI user mailing list to see if the devs there have any ideas. https://www.open-mpi.org/community/lists/ompi.php

[2019-05-08 01:53] soyuutaku opened #108 "kubectl process in launcher disappear"
I start a MXNet trainning job with horovod, found that kubectl process in launcher disappear after 12 hours or more. Can some one help on how to investigate this???

process in launcher when kubectl gone:
[code]

processes in workers:
[code]

here is my mpiJob yaml:
[code]

[2019-05-08 17:37] rongou commented on #108
Is this causing problems with your training? Looks like the `mpirun` process is still running.

I wonder if `kubectl exec` has some kind of time out.

[2019-05-09 03:28] soyuutaku commented on #108
@rongou I check the worker pods, All process is normal, and still consuming gpu/cpu, but no checkpoint is saved after `kubectl exec` disappeared.

And I check `kubectl` options found:
[code]
So `kubectl exec` default timeout is 0, which means don't timeout request.

I also check the process when launcher is normal, shows that `kubexec.sh` and `kubectl exec` process is running.
[code]

How can I ge

[2019-05-10 02:01] soyuutaku commented on #108
I reproduced this issue, and check all the worker process. Found that MXNet hang on `asnumpy()` function because deadlock. Will look into mxnet.

It is not an issue in mpi-operator, issue closed.

[2019-05-10 02:01] #108 closed

[2019-05-28 14:01] #92 closed

[2019-05-28 14:02] terrytangyuan commented on #54
This is now fixed via `v1alpha2`.

[2019-05-28 14:02] #54 closed

[2019-05-28 14:02] #66 closed

[2019-06-11 09:52] fisherxu opened #115 "Consider delete LauncherOnMaster field in v1alpha2"
User can set the fields in launcher ReplicaSpec then make the launcher run on specify node.

/cc @terrytangyuan  @rongou @gaocegege

[2019-06-11 09:53] gaocegege commented on #115
Personally, SGTM

[2019-06-11 14:06] #115 closed

[2019-06-24 18:39] Akado2009 opened #121 "v1alpha2 does not work."
I  deployed a crd tiwtce (one from kubeflow registry using ksonnet, another from your deploy folder) and both time, when I try to submit v1alpha2 yaml I got the same error:
[code]
Am I doing something wrong? All yaml files are provided in your repository.

[2019-06-24 18:43] rongou commented on #121
v1apha2 is still a work in progress. @terrytangyuan

[2019-06-24 19:16] terrytangyuan commented on #121
Yes still work in progress. @fisherxu has been helping with that. @fisherxu Could you share an update with us here?

[2019-06-25 00:44] fisherxu commented on #121
@Akado2009 Do you have created the crd before create the cr？Deploy through ksonnet haven't been updated, will updated later.  You can deploy from our deploy folder, maybe need build a v1alpha2 image first:)

[2019-06-25 00:48] Akado2009 commented on #121
@terrytangyuan  @rongou  @fisherxu  thank you for the information! Looking ofrward to you finishing that one.

We'd better stick to v1alpha1 now, since we don't wanna depend on custom built iamges and all :)

[2019-07-03 05:57] jokerwenxiao opened #127 "work is always "Running""
kubeflow version: 0.5.0
mpi-operation version: v1alpha1
-----------------------------------------------------------
launcher is "error", but worker is always "Running".

[2019-07-03 18:10] rongou commented on #127
Any more information?

[2019-07-04 01:45] jokerwenxiao commented on #127
I've solved this problem by setting “restartPolicy:Never”

[2019-07-04 03:12] #127 closed

[2019-07-16 07:01] davidstack opened #131 "gang-scheduling need create worker and lancher togther"
now, mpi-operator  create worker first, when mpi-worker is running ,then mpi-controller will create lancher. in gang-scheduling, i think we should create lancher and mpi-worker togther. thanks

[2019-07-17 21:53] armandmcqueen opened #133 "Launcher and workers should live on the same nodes"
Currently, when you are training two jobs on 2 GPU nodes, the launcher pods will not necessarily live on the same nodes as the associated worker. This makes scaling up and down quite difficult. If one job completes, you only need 1 GPU node, so you should be able to terminate one of the GPU nodes. However, that might kill the launcher of the job that is still running.

There is an [open PR ](https

[2019-07-18 01:47] gaocegege commented on #133
Sorry, I cannot get you. Can you explain more? Do you mean we need gang scheduling or binpack scheduling to allow users to scaling down the cluster?

[2019-07-18 12:32] dragonofac opened #134 "launcher has gone but not workers"
![image](https://user-images.githubusercontent.com/7858959/61457536-18a4f680-a99b-11e9-86e1-2543e3ba2ed8.png)

After delete mpijob, launcher has been deleted but not the workers. How could it happen?

[2019-07-19 13:03] Winowang commented on #134
yes, I met the same problem. Actually if you wait for 5-6 min after launcher finishing the job and you can see the worker will be terminated automatically.
I just wonder the time setting of this and couldn't get the clue from the mpi-operator（mpi controller）code, could someone point out the exact location consider this setting, thanks!

[2019-07-19 16:37] rongou commented on #134
You need to set `cleanPodPolicy` to clean up the worker pods. See https://github.com/kubeflow/mpi-operator/blob/master/examples/v1alpha2/tensorflow-benchmarks.yaml#L7.

[2019-07-22 01:28] Winowang commented on #134
Thanks for the advice, but the issue is the worker can't stop immediately when launcher is completed.
It's about 5 min delay.  It's the default setting of the kubernetes or we can change this in the operatpor?  Thks.

[2019-07-22 01:37] gaocegege commented on #134
@Winowang What's the status of the pods when the launcher is completed? Is it in terminating or running?

If it is in terminating and takes about 5 mins, then we can do nothing.

[2019-07-22 14:48] vtlrazin opened #135 "Single YAML deployment file"
Hello,

Since we have upgraded to v1alpha2, in order to simplify deployment, I would like to suggest creating a single YAML deployment file with CRD, namespace, rbac, and mpi-operator sections.
This will simplify deployment for ANSIBLE-based installations as well as for other installations.

Vitaliy

[2019-07-22 16:54] rongou commented on #135
You're welcome to send a pull request.

[2019-07-23 02:06] Winowang commented on #134
![image](https://user-images.githubusercontent.com/33717080/61676982-6e2d2a80-ad30-11e9-9cfe-2501374778f8.png)
hi, thks for the reply,
Just as the img above, the launcher is already in the completed status but the workers are still in running (about 5 min).
Actually it's the slow mpijob status updating. After mpijob updating to the successed status, then the workers are going to be terminated.

[2019-07-23 02:09] gaocegege commented on #134
Then I will take a look

/cc @terrytangyuan @wackxu

[2019-07-23 02:10] gaocegege commented on #134
/assign

[2019-07-23 02:10] gaocegege commented on #134
/assign @wuchunghsuan

[2019-07-23 04:09] wackxu commented on #134
@Winowang I have test some example in my local environment and can not reproduce it. When launcher is completed, what is the status of mpijob? Running?  and after about 5 min,  become to succedd? and what cleanPodPolicy you have set ?

[2019-07-23 07:44] Winowang commented on #134
hi all ,
just a addition,  the situation I mentioned above just happened when launcher and worker were on the same node ( like launcher and worker-1 were both on the node1, then this mpijob updating would be very slow) . Thks.

when launcher is completed, the status of mpijob is still in runnig.
And about 5 min it became to Succeeded.
I tested several times and it happend randomly...  thks

[2019-07-24 00:41] Winowang commented on #134
Hi all,
I think I find the reason.
The "defaultControllerRateLimiter" causes this .  The default setting is "NewItemExponentialFailureRateLimiter(5*time.Millisecond, 1000*time.Second)".
So if the job takes a long time to finish and the period(or frequency ) to query the mpijob status will become longer ( lower).
Thanks.

[2019-07-31 17:50] omesser commented on #11
@ www.iguazio.com we ended up creating helm charts for mpi-operator ourselves, which is not ideal 😄

[2019-07-31 21:52] rongou commented on #11
@omesser you are welcome to send us a pull request. :)

[2019-08-12 07:13] fabboe commented on #11
+1 more relevant since ksonnet's announcement of being discontinued / non-maintained

[2019-08-12 08:14] omesser commented on #11
Once we get some mileage on our mpi operator chart we'll go ahead and submit to helm incubator

[2019-08-13 02:51] boriskovalev opened #138 "Tensorboard running"
What a best way to add tensorboard to the MPI Operator?

[2019-08-13 14:39] rongou commented on #138
If you write your checkpoints and event files to a shared location (NFS, s3, GCS, etc.), you can just point tensorboard to it. There is tensorboard support in Pipelines: https://www.kubeflow.org/docs/pipelines/sdk/output-viewer/#tensorboard, but I don't know if anyone has tried it with the mpi operator.

[2019-08-13 14:46] terrytangyuan commented on #138
Yes, that approach works. Writing your summary to a shared location, start a standalone pod that runs TensorBoard command, and then create a service to expose the port. MPI operator doesn't include TensorBoard service though since there are usually additional and custom logic for dealing with its resources, ports, annotations, etc.

[2019-09-19 11:53] toyow opened #144 "undefined: serializer.DirectCodecFactory"
# github.com/kubeflow/mpi-operator/pkg/client/clientset/versioned/typed/kubeflow/v1alpha2
/data/go/pkg/mod/github.com/kubeflow/mpi-operator@v0.2.1/pkg/client/clientset/versioned/typed/kubeflow/v1alpha2/kubeflow_client.go:72:32: undefined: serializer.DirectCodecFactory

[2019-10-08 12:25] toyow opened #147 "pod/mpi-operator automatic restart"
kubectl     logs  -p   pod/mpi-operator-69fd88fcf5-dn6jx     -n mpi-operator

I1008 11:58:30.415090       1 server.go:71] KUBEFLOW_NAMESPACE not set, use default namespace
I1008 11:58:30.415497       1 server.go:76] Using cluster scoped operator
I1008 11:58:30.415517       1 server.go:82] [API Version: v1alpha2 Version: v0.1.0-alpha Git SHA: Not provided. Go Version: go1.12.7 Go OS/Arch: linux/amd

[2019-10-10 06:42] gaocegege commented on #147
I think it is a bug. The pod is recreated because there is a nil pointer exception.

[2019-10-10 09:30] #147 closed

[2019-10-15 09:47] liubog2008 opened #149 "Delete direct dependency of kubernetes in apis/kubeflow/v1alpha2"
See https://github.com/kubeflow/common/issues/48

[2019-10-15 10:08] gaocegege commented on #149
Do we have direct dep in this repo? I think we have it in common.

[2019-10-15 10:08] gaocegege commented on #149
/kind feature

[2019-10-17 06:43] toyow opened #150 "must validate one and only one schema (oneOf) /v1alpha1"
when I use
"github.com/kubeflow/mpi-operator/pkg/client/clientset/versioned/typed/kubeflow/v1alpha1"
to create  mpijob in k8s cluster  ，this problem occurs。

[2019-10-17 06:47] gaocegege commented on #150
Can you show us more info about your problem and the version you used?

[2019-10-17 07:01] toyow commented on #150
the pkg I use:

"github.com/kubeflow/mpi-operator/pkg/apis/kubeflow/v1alpha1
kubeflowv1alpha1   "github.com/kubeflow/mpi-operator/pkg/client/clientset/versioned/typed/kubeflow/v1alpha1"
corev1    "k8s.io/api/core/v1"
metav1   "k8s.io/apimachinery/pkg/apis/meta/v1"
the code:

func InitMPIJob(jobArgs *model.JobConfig) {
	if mpiJobClient != nil && jobArgs.Namespace == mpiNamespace {
		return
	}
	mpiN

[2019-10-17 07:10] gaocegege commented on #150
Are you using v1alpha1?

[2019-10-17 07:10] toyow commented on #150
yes

[2019-10-17 07:11] gaocegege commented on #150
We deprecate v1alpha1 now, could you have a try on v1alpha2?

[2019-10-17 07:19] toyow commented on #150
the  command line  edition   of arena  only support   v1alpha1。And we want to submit mpijob   through  both  command line  edition  and  client edition。May I have some suggestions？

[词典] | command line
-- | --

[2019-10-17 07:24] gaocegege commented on #150
Maybe you could remove the validation fields here https://github.com/kubeflow/mpi-operator/pull/136/files#diff-ee2d3a62b179947920852d440f7c4febL16

[2019-10-17 07:45] toyow commented on #150
I get it 。
description: Only one of `gpus`, `processingUnits`, or `replicas` should be specified。
I set the  gpus and the  replicas   number  at  the  same time。
Thanks a lot ！

[2019-10-17 07:47] gaocegege commented on #150
Yeah, it is an error from OpenAPI schema validation. There are two ways to fix:

- Remove the validation or
- Fix spec according to the validation error.

/close

[2019-10-17 07:47] #150 closed

[2019-10-30 13:10] vtlrazin opened #151 "Can't run MPIJob on Openshift 4.1 with MPI-Operator"
I deployed mpi-operator on OpenShift 4.1.

After run TF benchmark job I got error:

I1030 13:02:12.640881       1 mpi_job_controller.go:432] Finished syncing job "default/tensorflow-benchmarks" (4.527261ms)
E1030 13:02:12.640916       1 mpi_job_controller.go:419] error syncing 'default/tensorflow-benchmarks': configmaps "tensorflow-benchmarks-config" is forbidden: cannot set blockOwnerDeletion if

[2019-10-31 12:30] pdmack commented on #151
On OpenShift, the mpi-operator clusterrole requires a finalizers resource to be explicitly declared in the kubeflow.org API group:
[code]

[2019-10-31 12:58] vtlrazin commented on #151
Thanks Pete,

I added and tested.
It works now!

May we need add this line to our deployment YAML file?
B.R.
Vitaliy

[2019-10-31 13:04] pdmack commented on #151
Requires proper fixes in this upstream. Be advised that you will run into a similar issue with the notebooks and the distributed training ClusterRoles. But at least you will understand it a little better. :-)

[2019-11-12 19:04] czheng94 opened #152 "Launcher hangs after worker failure due to `ORTE was unable to reliably start one or more daemons`"
1. When one of the worker crashes, the launcher pod throws the following error and terminates

[code]

2. When the launcher pod is restarted by the batch job controller, it throws the following error and hangs
[code]

The problem here is that `ORTE was unable to reliably start one or more daemons.` error should be fatal so that the launcher can be restarted, but instead the process was hanging. Ha

[2019-11-14 21:12] terrytangyuan commented on #152
I haven’t met this specific issue but something similar - statuses are not correct: https://github.com/kubeflow/mpi-operator/issues/90

[2019-11-16 12:06] #135 closed

[2019-11-16 12:06] #131 closed

[2019-11-16 12:07] terrytangyuan commented on #121
Closing this now since v1alpha2 is ready

[2019-11-16 12:07] #121 closed

[2019-11-16 12:09] terrytangyuan commented on #144
Closing since there is not description for this issue

[2019-11-16 12:09] #144 closed

[2019-11-17 15:54] #151 closed

[2019-11-17 15:54] vtlrazin commented on #151
Added pull request.

[2019-11-25 00:20] czheng94 opened #154 "Can't access launcher logs after MpiJob fails"
Launcher job deletes all the pods after the number of retries exceeds `backoffLimit` or the total time exceeds `activeDeadlineSeconds`.  Users just can't access the error logs after the MPIJob failed.

It's the Kubernetes batch Job's behavior to delete all the logs if the Job fails. Link to source code:
https://github.com/kubernetes/kubernetes/blob/5bac42bff9bfb9dfe0f2ea40f1c80cac47fc12b2/pkg/cont

[2019-11-25 00:36] czheng94 commented on #90
Any update on this issue?
I have experienced the same problem. Some workers went OOM, and the launcher failed in the end with its pod deleted by kube batch Job.
The logs in the launcher also doesn't report any OOM error from workers.

[2019-11-25 16:29] czheng94 commented on #152
Updates:
We suspected that `kubectl exec` might be the reason it hangs. But from the logs, it seems like it has already returned a response to launcher.

[code]

[2019-11-25 18:41] terrytangyuan commented on #90
@czheng94 No I didn't get a chance to dig into the problem yet. This is a different issue than the log issue though.

[2019-11-25 18:44] terrytangyuan commented on #154
@czheng94 Do you mean "cannot access worker logs" instead of "**launcher** logs"? There will still be logs for workers if kube batch is **not** used, right?

[2019-11-25 19:08] czheng94 commented on #154
@terrytangyuan
I meant **launcher** logs. mpirun doesn't emit any logs in the workers.
The key is that failed launcher pod will be deleted by kube batch job after it's done with retrying.

[2019-11-25 19:12] terrytangyuan commented on #154
If that's how kube batch works now then I don't think there's a way to get around it since kube batch doesn't expose this option. I would recommend looking into persist your logs to disk using a logging sidecar service.

[2019-11-25 19:13] czheng94 commented on #90
@terrytangyuan Yeah this is a separate issue.
According to my understanding, if MPI doesn't report OOM from workers to launcher (which is probably the current status), StatefulSets will just directly recreate the worker pod and launcher will restart, MPIJob will just keep failing until it exceeds 'backOffLimit'.

[2019-11-25 19:16] terrytangyuan commented on #90
@czheng94 Yes that is correct which is problematic and often waste resources. We should probably check the status regularly and report to launcher.

[2019-11-27 12:56] xiaqunfeng opened #155 "install mpi-operator failed!"
I cann't install kubeflow/mpi-job, it return me 404 Not Found. Any help?
[code]

[2019-11-27 14:00] terrytangyuan commented on #155
Please submit an issue to kubeflow/kubeflow repo instead. Thanks.

[2019-11-27 14:00] #155 closed

[2019-11-28 01:30] gaocegege commented on #90
Is there an reproducible case? I can help.

[2019-11-28 01:30] gaocegege commented on #90
/kind bug
/priority p0

[2019-12-02 15:42] czheng94 commented on #154
Indeed this is expected behavior of kube batch job. If you set `restartPolicy = "OnFailure"` in the launcher pod template, all pods will be terminated and deleted if backoff limit (by default set as 6 by mpi-operator) has been reached. https://github.com/kubernetes/website/pull/14709/files

A workaround will be setting `restartPolicy="Never"` in launcher pod template. This will result into N+1 lau

[2019-12-02 15:45] czheng94 commented on #152
Updates:
This problem is probably due to an old openmpi version (2.1.1). Tested with OpenMPI 4.0.0 and cannot reproduce this error. @terrytangyuan I think we can close this issue.

[2019-12-02 15:46] #152 closed

[2019-12-03 10:43] tingzhang-ming opened #156 "can i just install mpi-operator without installing kubeflow?"
i just want to use mpi-operator, should i install kubeflow？ because i do not want to install kubeflow with so many components.

[2019-12-03 10:51] terrytangyuan commented on #156
Yes you can just deploy via kubectl create -f deploy/mpi-operator.yaml. See README.

[2019-12-03 10:51] #156 closed

[2019-12-03 11:18] tingzhang-ming commented on #156
thx

[2019-12-07 02:39] jlewi opened #157 "Installation instructions should use kustomize not ksonnet"
The readme and website docs still refer to ksonnet to install the mpi-operator

https://www.kubeflow.org/docs/components/training/mpi/
https://github.com/kubeflow/mpi-operator

We should have a kustomize package here
https://github.com/kubeflow/manifests/tree/master/mpi-job/mpi-operator

Can we update the docs to explain how to install using kustomize?

[2019-12-08 05:10] terrytangyuan commented on #157
Yes we should update the docs to reflect that. @stpabhi Would you like to submit a PR to update that?

[2019-12-08 07:33] stpabhi commented on #157
@terrytangyuan Done. #158 https://github.com/kubeflow/website/pull/1447

[2019-12-08 07:33] stpabhi commented on #157
/assign

[2019-12-08 07:35] stpabhi commented on #157
/assign @terrytangyuan

[2019-12-10 12:56] jlewi commented on #157
looks like the PR hasn't been merged yet. If you add

"Fix: kubeflow/mpi-operator:#157" as a comment on the PR the issue will be auto-closed once the PR is merged.

[2019-12-10 13:01] #157 closed

[2019-12-10 14:50] terrytangyuan commented on #11
@omesser Is there any update on this?

[2019-12-10 15:09] terrytangyuan commented on #154
cc @rongou to chime in the original motivation of using a batch job here.

[2019-12-10 15:10] terrytangyuan commented on #103
Assuming this has been resolved as discussed in https://github.com/open-mpi/ompi/issues/6579. Closing this now.

[2019-12-10 15:10] #103 closed

[2019-12-10 15:11] terrytangyuan commented on #61
Closing due to inactive activity.

[2019-12-10 15:11] #61 closed

[2019-12-11 11:16] antshuwen opened #160 "when worker num is higher，launcher failed as "kubectl not found""
we have been troubled by a wired problem.
When worker num is lower，everything is ok. But when worker num is higher，in our case 70，launcher failed as "kubect not found". The belowing is detail logs:

![image](https://user-images.githubusercontent.com/4414351/70616929-83a4e180-1c4a-11ea-9839-0774926e167a.png)

We consulted experts and got some suggestions. Finally we put kubectl and config in the ri

[2019-12-11 16:54] ywskycn commented on #160
Also found the same issue in our cluster...

[2019-12-11 17:41] terrytangyuan commented on #160
It's possible that [deliver_kubectl.sh](https://github.com/kubeflow/mpi-operator/blob/908eb3306bf5e14a0357590a67f90ada76536f1b/cmd/kubectl-delivery/deliver_kubectl.sh) is not being executed successfully on each worker so that `/opt/kube/kubectl` may not exist yet. If you copy `kubectl` to `/opt/kube/kubectl` in advance in [this Dockerfile](https://github.com/kubeflow/mpi-operator/blob/908eb3306bf5

[2019-12-12 04:09] antshuwen commented on #160
We found that all the mount path deleted during sending clusterspec to workers , including /opt/kube and /root/.kube. After that，launcher use its own /opt/kube/kubectl. Same for kube config.

[2019-12-12 09:47] terrytangyuan commented on #160
What is deleting the mount paths? You mentioned cluster spec, is this an issue with the TensorFlow version you are using? It’s weird that this only happens to some of your workers.

[2019-12-13 18:54] rongou commented on #154
The launcher's behavior is similar to a batch job. Looks like the log issue is with batch job itself. If you run a standalone batch job, you'd run into the same problems. Maybe file a bug with kubernetes?

[2019-12-27 11:42] songkane opened #162 "Repo: mpioperator/mxnet-horovod is not public"
from example:
https://github.com/kubeflow/mpi-operator/blob/master/examples/mxnet/mxnet-mnist.yaml

mpioperator/mxnet-horovod:latest not find:

[code]

[2019-12-27 14:18] terrytangyuan commented on #162
It should probably be this image. Could you try building https://github.com/horovod/horovod/blob/master/Dockerfile.cpu on your own?

[2020-01-13 20:32] terrytangyuan opened #165 "Switch to use golangci-lint"
[gometalinter](https://github.com/alecthomas/gometalinter) is deprecated and we should switch to use [golangci-lint](https://github.com/golangci/golangci-lint) instead.

[2020-01-14 01:50] terrytangyuan commented on #162
@songkane You should be able to use any of the images that contain "mxnet" from DockerHub [here](https://hub.docker.com/r/horovod/horovod/tags). Please let me know if this doesn't work for you.

[2020-01-14 19:46] omesser commented on #11
@terrytangyuan  - Sorry for the delay, have a look: https://github.com/kubeflow/mpi-operator/pull/167

We're still using mpioperator 0.2.0 so that's battle tested. I'll do a sanity with installing a newer version as well in the upcoming days while waiting for review and hopefully bump this to support latest as well

[2020-01-14 23:15] terrytangyuan commented on #11
Sounds good. Thanks! Let’s leave this issue open to track the progress on upgrading mpi operator version.

[2020-01-15 17:31] #165 closed

[2020-02-17 06:36] hyoseon-agile opened #191 "kubectl-delivery container port"
Hi guys,
I wanna specify the port of kubectl-delivery container.
Can you tell me how to specify it?

[2020-02-17 13:49] terrytangyuan commented on #191
It’s a init container as part of launcher pod if that’s what you are looking for. Is there any context of why you want to specify the port of that container?

[2020-02-19 09:10] aheeruru opened #194 "Does MPI Operator have a plan about Python SDK?"
Hello.

TF Operator has python sdk. https://github.com/kubeflow/tf-operator/tree/master/sdk

How about mpi operator?
Do you have a plan?

[2020-02-19 14:10] terrytangyuan commented on #194
Isn't k8s Python SDK already sufficient for this? cc @jinchihe  what was the original motivation for tf-operator's Python SDK?

There's no plan yet but let's use this issue to track people's interest first so we can prioritize later. Please 👍 this issue if you are interested in this.

[2020-02-19 14:23] terrytangyuan commented on #194
Also cc @gaocegege @johnugeorge @richardsliu to chime in here as well.

[2020-02-20 02:15] jinchihe commented on #194
Yeah, if there are someones are interested that, we can do it as it's done for TF-Operator and Pytorch-Operator. The effort should not be big. :-)

[2020-02-27 04:24] carmark opened #197 "[v1] launcher can also run the workload"

[2020-03-03 01:11] junhuihuang opened #198 "Can't monitor mpijobs in all namespaces"
Reproduce steps:
1. mpi-operator running configuration
    - env `KUBEFLOW_NAMESPACE` is not set
    - mpi-operator's running parameter `namespace` is not given
    - repo revision is `c72d677`
2. Test example
    - Modify file: `examples/v1alpha2/tensorflow-benchmarks.yaml`, adding `test` namespace
    - `kubectl create -f  examples/v1alpha2/tensorflow-benchmarks.yaml`
    - `kubernetes` don't cr

[2020-03-03 01:26] terrytangyuan commented on #198
@junhuihuang Thanks! Related https://github.com/kubeflow/mpi-operator/pull/186#issuecomment-593557001

[2020-03-18 02:28] carmark opened #201 "Replace Launcher from v1.Job to v1.Pod"
We need to find the real job's status, not active number, since pending pod is a active job.

[2020-03-18 02:36] gaocegege commented on #201
SGTM

[2020-03-18 02:40] carmark opened #202 "support mpijob with preempt action in scheduler"

[2020-03-18 10:35] terrytangyuan commented on #201
Seems fine. cc @rongou to double check as well

[2020-03-18 16:04] rongou commented on #201
I think the restart policy is useful for recovering from transient errors. Are you planning to implement similar logic in the controller?

[2020-03-18 19:00] terrytangyuan commented on #201
Also, downstream apps may have been consuming from launcher job so we may need to be careful regarding compatibility. We probably want to make a release before merging the changes.

[2020-03-18 19:02] terrytangyuan commented on #198
Un-assigning myself for now. Others feel free to pick this up and submit a fix.

[2020-03-23 13:06] #198 closed

[2020-03-23 13:08] terrytangyuan opened #206 "Add CPU-only example"
Currently we only have examples using GPUs. It would be nice to add examples to run only on CPUs.

[2020-03-23 13:12] terrytangyuan commented on #201
@carmark I am fine with this change as long as the API keeps the same and restart policy is implemented (there are users who are already relying on this I think).

[2020-04-03 13:51] runzhliu commented on #206
Sure, we have put mpi-operator in production for CPU-only cases, I would add one example later ;)

[2020-04-03 13:52] terrytangyuan commented on #206
Thanks! Just assigned this to you.

[2020-04-04 15:42] #206 closed

[2020-04-10 06:27] runzhliu opened #214 "Prometheus Monitoring for mpi-operator"
Hi all, my team implemented an internal monitor based on [tf-operator](https://github.com/kubeflow/tf-operator/pull/1018) to collect some mpijobs metrics, I am wondering if we had any plan to do it in the official repo?

[2020-04-10 13:02] terrytangyuan commented on #214
It would be great to add support for this so contribution is welcomed!

[2020-04-10 13:58] terrytangyuan commented on #214
cc @johnugeorge  @gaocegege  @richardsliu @krishnadurai

[2020-04-13 13:57] terrytangyuan opened #217 "Graduate MPI Operator to v1"
This issue tracks the progress of graduating MPI Operator to v1. Please check out the [application requirements](https://github.com/kubeflow/community/blob/master/guidelines/application_requirements.md) for details. Each item in the table below includes a check box that marks the completion of that particular requirement.

If you are interested in working on any of the items below, please leave a

[2020-04-14 10:08] suluner opened #219 "mpijob using hostnetwork error"
hi, all

I want to use hostnetwork when submit mpijob to improve training performance. The yaml file is as below:

[code]

but got error as below:

[code]

what is the problem? any hints is good to me

[2020-04-14 20:09] NikeNano commented on #217
For the CI/CD part what type of infrastructure is expected/available? Are Github actions something that would be an option to pursue or what are we aiming for?

[2020-04-14 20:21] terrytangyuan commented on #217
@NikeNano I think we can reuse https://github.com/kubeflow/testing.

[2020-04-15 00:57] runzhliu commented on #214
See https://github.com/kubeflow/mpi-operator/pull/215

[2020-04-15 00:57] #214 closed

[2020-04-15 07:52] carmark commented on #219
@suluner Could you please attach more logs? And what's your network environment, RoCE, IB or others?  It will be better to provide your result of `ip a`.

[2020-04-16 01:32] suluner commented on #219
@carmark Thanks for your reply. My network environment is just ethernet. And when I add the following parameter to the mpirun command, it works well.

[code]
The bond0.1200 is the network device on the host machine.

[2020-04-16 02:35] junhuihuang opened #223 "Add support for MPICH"
How to schedule MPICH container using mpi-operator?

Thanks.

[2020-04-16 06:18] b675987273 opened #224 "When worker's spec add mounting a pvc, the satefuleset will be build without mountPath"
Naturally， the workers are not be created and we can check the statefuleset status.
[code]
And the yaml is like this. It is base on the hovorod-cpu example
[code]

[2020-04-16 06:40] b675987273 commented on #224
Then one more question is if the pvc should be share between pop(worker). I belive it is necessary because datas is always take large volume. So, how to handle the conflict on using the pravite pvc is not the operator 's target.

[2020-04-16 09:38] b675987273 commented on #224
I see it . The *mountpath* should be *mountPath*

[2020-04-16 09:38] #224 closed

[2020-04-16 14:04] terrytangyuan commented on #223
It's part of our [ROADMAP](https://github.com/kubeflow/mpi-operator/blob/master/ROADMAP.md) to decouple from OpenMPI and support other frameworks. I don't have any experience with MPICH though so contribution from the community is welcomed.

[2020-04-17 09:16] junhuihuang commented on #223
OK, thanks your hard work.

[2020-04-17 09:57] #223 closed

[2020-04-20 03:34] b675987273 opened #226 "MPI should not collect all the workers' logs"
I do not know why the launcher will collect all the logs. Just copy the **rank0's** looks more useful. Because i want to print some information in woker1 for debug. But it will be robbed by the laucher.
[code]
[code]
It make me confused

[2020-04-20 11:34] terrytangyuan commented on #226
I think this is the default behavior of OpenMPI. See this SO question for more details: https://stackoverflow.com/questions/49122474/openmpi-have-each-process-write-to-stdout

This is the way people used to work with OpenMPI by default but you can certainly redirect your log to different files when executing mpirun command or add worker info/tag in your logs. I am not sure if it’s a good idea to c

[2020-04-20 14:03] terrytangyuan opened #227 "Upgrade MPI Operator manifests to v1 in kubeflow/manifests"
Part of https://github.com/kubeflow/mpi-operator/issues/217.

[2020-04-20 14:06] terrytangyuan opened #228 "Perform scalability and load testing for v1 controller"
Part of https://github.com/kubeflow/mpi-operator/issues/217.

* Good reference that summarizes scalability testing for tf-operator [here](https://docs.google.com/document/d/1ZHqfhyEx39_g_da687Xl4jneYiI8TL2eZwI4Si8a29o/edit)
* We may be able to leverage https://github.com/kubeflow/kubebench

[2020-04-20 14:09] terrytangyuan commented on #93
This is part of https://github.com/kubeflow/mpi-operator/issues/217. I plan to leverage Kubeflow's infra for this so I updated the title of this issue.

[2020-04-20 14:13] terrytangyuan opened #229 "Add API reference docs to the website"
Part of https://github.com/kubeflow/mpi-operator/issues/217. Currently WIP in https://github.com/kubeflow/website/pull/1899.

[2020-04-20 14:14] terrytangyuan opened #230 "Add CRD schema validation"
Part of https://github.com/kubeflow/mpi-operator/issues/217. CRD schema validation for v1alpha2 MPIJob is being done in https://github.com/kubeflow/mpi-operator/pull/213.

[2020-04-20 14:15] terrytangyuan commented on #217
I created separate issues with label "graduation" to track individual items that are currently being worked on in order to avoid duplicate efforts: https://github.com/kubeflow/mpi-operator/issues?q=is%3Aopen+is%3Aissue+label%3Agraduation

[2020-04-20 14:21] terrytangyuan opened #231 "Vulnerability scanning for docker images"
Part of https://github.com/kubeflow/mpi-operator/issues/217. Docker images must be scanned for vulnerabilities and known vulnerabilities published.

[2020-04-20 14:22] terrytangyuan opened #232 "Provide list of licenses used by the dependencies"
Part of https://github.com/kubeflow/mpi-operator/issues/217. Docker images must provide a list of all OSS licensces used by the image and its transitive dependencies, e.g. you can follow [these instructions](https://github.com/kubeflow/testing/tree/master/py/kubeflow/testing/go-license-tools) to get licenses of dependencies for Golang images.

[2020-04-20 14:24] terrytangyuan opened #233 "Add E2E tests"
Part of https://github.com/kubeflow/mpi-operator/issues/217.

* E2E tests should be run on presubmit, postsubmit, and periodically
* Tests should cover deployment (kustomize packages) as well as the application functionality

[2020-04-20 14:26] carmark commented on #93
@terrytangyuan Shall we use `kubeflow` org on the docker hub? I am the owner of it, and I can add you in that org.

[2020-04-20 14:27] terrytangyuan opened #234 "Multi version support"
Part of https://github.com/kubeflow/mpi-operator/issues/217. Serves multiple versions of the [CR per K8s docs](https://kubernetes.io/docs/tasks/access-kubernetes-api/custom-resources/custom-resource-definition-versioning/#specify-multiple-versions).

[2020-04-20 14:28] terrytangyuan commented on #93
@carmark I was thinking publishing to gcp similar to other projects but feel free to add me to the org and my ID should be terrytangyuan.

[2020-04-20 14:28] carmark commented on #201
@terrytangyuan shall we add this issue for v1 graduation?

[2020-04-20 14:35] terrytangyuan opened #235 "Add JSON logging"
Part of https://github.com/kubeflow/mpi-operator/issues/217.

* Applications should optionally emit structured logs with suitable metadata to facilitate debugging
* e.g. CR controllers should annotate log messages with the name of the resource involved so it's easy to filter logs to all messages about a resource

[2020-04-20 14:36] terrytangyuan opened #236 "Continuous updating of Kustomize manifests"
Part of https://github.com/kubeflow/mpi-operator/issues/217.

On post-submit, kustomize packages should be automatically updated to point to latest images.

[2020-04-20 15:01] terrytangyuan commented on #201
Sounds good to me.

[2020-04-21 02:23] b675987273 commented on #226
oh thanks! I will go and find out how it works in OpenMPI

[2020-04-21 08:55] NikeNano commented on #233
I am looking in to this, but make not be super fast. Need to catch up on prow and the test infrastructure for Kubeflow work.

[2020-04-21 09:23] NikeNano commented on #233
/assign

[2020-04-21 10:33] terrytangyuan commented on #233
Thanks! Yes that’s correct.

[2020-04-21 13:54] terrytangyuan commented on #231
👋  @jtfogarty @krishnadurai  given that you've done something similar in https://github.com/kubeflow/mpi-operator/pull/193, would you be able to help with this one?

[2020-04-21 22:23] czheng94 commented on #90
Any updates on this issue?

From my side, it seems like the workers are not even failing.

An example failure case can be generated with this jobspec:
[code]

If you describe the statefulset, you can only see these events
[code]

What's really happening here (at least for my case) is that the mpi daemon process in the workers initiated by the launcher is killed by linux OOM killer (this behavior m

[2020-04-22 13:09] #227 closed

[2020-04-22 13:11] terrytangyuan commented on #90
@czheng94 Thanks for digging into this! I agree it’s hacky solution but at least this will correct the status for such situation.

[2020-04-23 18:59] terrytangyuan commented on #234
This is now supported. See https://github.com/kubeflow/manifests/blob/master/mpi-job/mpi-operator/base/crd.yaml.

[2020-04-23 18:59] #234 closed

[2020-04-27 07:24] malixian opened #240 "the example in horovod/tensorflow-mnist.yaml maybe add worker command to run succesfully"
original yaml is

      replicas: 2
      template:
        spec:
          containers:
          - command:
            - ""
            image: horovod-cpu:latest
            name: mpi-worker
when we create this yaml we will find `“No command specified”` Error while creating pod in worker pod.
change yaml to this is ok

      replicas: 2
      template:
        spec:
          containers:

[2020-04-27 12:20] terrytangyuan commented on #240
Currently we only check whether `command` is specified, if not, we will assign default command: https://github.com/kubeflow/mpi-operator/blob/master/pkg/controllers/v1/mpi_job_controller.go#L1114-L1117

In your case, your command is specified as `""` so the error is expected.

Could you remove `command` and `args` following the examples in the repo and try again? You do not need to specify command

[2020-04-28 00:40] malixian commented on #240
Thanks, i will try it again.

[2020-04-28 00:40] #240 closed

[2020-04-28 06:45] NikeNano commented on #233
I have played around with the test infra a bite. Do we have any thought about how we like the e2e test to look like? Should we build it based upon one of the examples? If so I suggest that we use the [v1alpha2/tensorflow-benchmark](https://github.com/kubeflow/mpi-operator/blob/master/examples/v1alpha2/tensorflow-benchmarks.yaml).

[2020-04-28 07:29] terrytangyuan commented on #233
Yes that would be a good example to use for end2end test.

[2020-04-28 13:29] terrytangyuan commented on #233
Actually v1 controller is the one we want to graduate so use this example instead: https://github.com/kubeflow/mpi-operator/blob/master/examples/v1/tensorflow-benchmarks.yaml

[2020-04-28 13:46] terrytangyuan commented on #236
@jlewi Any suggestions on how to approach this task? I saw that this has been done for tf and pytorch operator as observed from the [automated PRs](https://github.com/kubeflow/manifests/pulls?q=is%3Apr+is%3Aopen+auto+PR). However, they don't seem to ever get merged. So are we still doing this? If so, how do we link this repo to kubeflow/manifests?

[2020-04-30 02:22] terrytangyuan commented on #229
API reference has been added for v1alpha2 in https://www.kubeflow.org/docs/reference/mpijob/. Keeping this issue open to remind me of adding v1 API reference once it’s stable.

[2020-05-01 13:36] terrytangyuan commented on #231
anchore-cli image vuln docker.io/terrytangyuan/mpi-operator:0.1.0 all
Vulnerability ID        Package                          Severity          Fix         CVE Refs                Vulnerability URL
CVE-2007-6755           libssl1.1-1.1.0l-1~deb9u1        Negligible        None        CVE-2007-6755           https://security-tracker.debian.org/tracker/CVE-2007-6755
CVE-2007-6755           openssl-

[2020-05-01 13:38] #231 closed

[2020-05-01 15:16] #232 closed

[2020-05-05 14:49] #201 closed

[2020-05-13 14:36] terrytangyuan opened #254 "kubectl-delivery's Dockerfile fails in distroless"
Thanks @audriusrudalevicius for bringing this up in https://github.com/kubeflow/mpi-operator/pull/196#discussion_r424325942.

Currently `cmd/kubectl-delivery/Dockerfile` has `ENTRYPOINT ["/bin/sh", "-c"]` which fails in distroless image:

[code]
Also cc @carmark

[2020-05-13 16:05] rongou commented on #254
Actually the build itself is failing on docker hub: https://hub.docker.com/repository/registry-1.docker.io/mpioperator/kubectl-delivery/builds/95d784bf-c540-40fe-a5bb-6438176be6a7

[2020-05-13 16:08] terrytangyuan commented on #254
@rongou Would it be a problem of running builds on your fork rongou/mpi-operator? Building it locally seems successful.

[2020-05-13 16:22] terrytangyuan commented on #254
The dockerfile here seems outdated: https://hub.docker.com/r/mpioperator/kubectl-delivery/dockerfile

[2020-05-13 16:59] rongou commented on #254
Ok I fixed the build. It's a configuration issue on dockerhub.

As for the failure, perhaps we shouldn't use distroless in this case as the main thing the container is doing is to copy a file.

[2020-05-13 22:34] #254 closed

[2020-05-28 09:37] xychu opened #260 "Got initContainer image invalid when no initContainer defined"
When testing mpi-operator v1 with https://github.com/kubeflow/mpi-operator/blob/master/examples/v1/tensorflow-benchmarks.yaml, got logs say that
`spec.initContainers[0].image: Required value` but therte's no initContainer defined in example yaml.

logs:
[code]

[2020-05-29 01:25] xychu commented on #260
Found the reason is missing the `-kubectl-delivery-image` args.

[2020-05-29 01:25] #260 closed

[2020-05-29 01:26] terrytangyuan commented on #260
@xychu Perhaps we should provide a better error message there. Feel free to submit a PR to improve that.

[2020-06-04 04:21] zidarko opened #261 "mpi-operator with compute jobs?"
Hi there,

Based on your documentation mpi-operator's main use case is machine learning in Kubernetes. Can it be used for other compute jobs such as molecular dynamics that use MPI as well?

Thanks!

[2020-06-04 09:04] terrytangyuan commented on #261
Yes

[2020-06-08 06:12] #261 closed

[2020-06-11 09:09] zidarko opened #262 "Generation of /etc/mpi/hostfile"
Hi,

I'm trying to use mpi-operator for a proof of concept with Intel MPI libraries. I found out the `/etc/mpi/hostfile` is not properly formatted for Intel's `mpiexec` executable. How is it generated?

Thanks!

[2020-06-11 10:33] terrytangyuan commented on #262
It’s generated here: https://github.com/kubeflow/mpi-operator/blob/master/pkg/controllers/v1/mpi_job_controller.go#L1020

[2020-06-15 07:09] lvcaiping opened #263 "mpioperator create role rolebinding accountservice resources"
why create a mpijob, the opreator create role rolebinding etc.  resouces ?

[2020-06-16 06:25] zidarko commented on #262
Awesome. I can fix its syntax with some a combination of cat/awk.

Thank you!

[2020-06-16 06:25] #262 closed

[2020-06-16 08:00] lvcaiping opened #265 "does mpi-operator use podGroup resource"
the function syncHandler  create podgroup resource .but i do not found the resource usge? what the role of this resource

[2020-06-16 08:07] lvcaiping commented on #265
i think if does not use kube-batch scheduler,  the podgroup resource has no effect

[2020-06-16 08:10] carmark commented on #265
@lvcaiping You can enable batch scheduler with `--gang-scheduling`.

[2020-06-16 08:49] lvcaiping commented on #265
yes, i seen; but i have another question.  does mpi-operator can support kube-batch with change any code. just need to deploy the kube-batch scheduler  and  enable  batch scheduler with --gang-scheduling

[2020-06-16 08:50] lvcaiping commented on #263
i have seen

[2020-06-16 08:52] carmark commented on #265
yes, I suppose it should work with `--gang-scheduling=kube-batch`.

[2020-06-16 09:10] zidarko opened #266 "Using mpi-operator with Intel MPI"
Hello,

I've been trying to use mpi-operator with Intel MPI. I have a Debian-based container with Intel MPI installed. I have a single master node (pod) and two worker pod. I'm trying to send a simple hello message from each pod.

I'm receiving this error:
[code]
I'm submitting the command like so:
[code]

The error message appears to be related to the master node being unable to find the compute

[2020-06-17 01:39] terrytangyuan opened #268 "Update to support v1 controller in Helm chart"
Currently our Helm chart only supports v1alpha1 MPIJob. We need to update to support newer versions of the MPIJob.

cc @omesser @runzhliu and others might be interested in contributing.

[2020-06-17 02:56] zidarko commented on #266
I create the Docker container using this recipe:
[code]

The script `entrypoint_rt.sh` sets the default paths for libraries though it seems to be ignored by Kubernetes because I replaced the `mpirun` section with simple shell and fired up a simple `export` command that showed the correct libraries were loaded only if I set them explicitly during the creation of the container.

Using the same appro

[2020-06-17 07:50] Minyus opened #269 "Request: Add a PyTorch example"
An example to train a PyTorch model using a simple dataset such as MNIST will be helpful.

[2020-06-17 09:38] terrytangyuan commented on #269
You can use PyTorch with Horovod. Otherwise, we don’t have any examples yet with just PyTorch and contribution’s welcomed!

[2020-06-17 13:07] lvcaiping opened #270 "does the mpijob use ssh protocol communicate between launcher and worker ?"

[2020-06-17 13:09] lvcaiping commented on #270
i found the horovod dockerfile install ssh，but i not found it used in mpi-oprator code

[2020-06-17 13:33] everpeace commented on #270
Basically, they are communicating with `kubectl exec` command.  mpi operator creates

- a configmap containing a script which does `kubectl exec`: https://github.com/kubeflow/mpi-operator/blob/master/pkg/controllers/v1/mpi_job_controller.go#L1003-L1011
- set `OMPI_MCA_plm_rsh_agent` env var which refers to the script path: https://github.com/kubeflow/mpi-operator/blob/master/pkg/controllers/v1alph

[2020-06-18 01:29] lvcaiping commented on #270
@everpeace thanks， i have another question，the kubelet exec  mpirun -np <>  ,
in distribute scene, does the np  means  worknum or slot num ？

[2020-06-18 01:36] #263 closed

[2020-06-18 13:25] Minyus commented on #269
Yes, I found an MNIST example to use Horovod and PyTorch at:

https://github.com/horovod/horovod/blob/master/examples/pytorch_mnist.py

Thank you.

[2020-06-19 17:28] terrytangyuan commented on #270
@lvcaiping Please refer to mpirun's documentation here: https://www.open-mpi.org/doc/v4.0/man1/mpirun.1.php

[2020-06-19 17:28] #270 closed

[2020-06-19 17:29] terrytangyuan commented on #268
/cc @runzhliu

[2020-06-19 17:29] terrytangyuan commented on #268
/assign @runzhliu

[2020-06-19 17:30] terrytangyuan commented on #268
@runzhliu You can join the Kubeflow org by following the instructions here: https://www.kubeflow.org/docs/about/contributing/#joining-the-kubeflow-github-org

[2020-06-20 04:21] xfate123 commented on #268
/assign

[2020-06-20 18:54] terrytangyuan commented on #268
@xfate123 Have you talked to @runzhliu before assigning to yourself? @runzhliu might already have some progress on this.

[2020-06-20 18:56] xfate123 commented on #268
@terrytangyuan  I didn't. Are there anything else I can do for MPI operator or Xgboost operator?

[2020-06-20 20:31] terrytangyuan commented on #268
@runzhliu Please keep us posted on the progress. Thanks!

@xfate123 Let's discuss on a separate thread. Please reach out to me on Slack.

[2020-06-28 02:30] DanielQujun opened #274 "potential nil pointer panic"
Just for Ad-hoctesting, when I delete the section of `Launcher.template.spec` from the `mpijob`  yaml file, `mpi-operator`  panic.
[code]

 It's not an authentic user case, However, Given that there isn't admission webhook or scheme validation, I think It's worthwhile to add some lines to strengthen our code.

## how-to reproduce
[code]

[2020-06-28 02:55] terrytangyuan commented on #274
Agreed that there's potential to improve usability there. You are welcome to exercise and add handling for these cases.

[2020-06-28 03:39] DanielQujun commented on #274
@terrytangyuan Hi, I added a pr, PTAL

[2020-06-29 02:09] zidarko commented on #266
Update:

The solution was to:
1. Edit the file `/etc/mpi/hostfile` and remove the `slots=1` option.
2. Explicitly state the interface to be used like this `-face eth0`.

That's how the launch file looks like now:
[code]

[2020-06-29 02:09] #266 closed

[2020-06-30 08:59] DanielQujun commented on #274
#275 merged. closing

[2020-06-30 08:59] #274 closed

[2020-07-06 07:04] merryzhou opened #277 "activeDeadlineSeconds not working in release v0.2.3"
spec.runPolicy.activeDeadlineSeconds was set to 300s, mpijob was running over 22 minites and not terminated.

By reading the code, I found that activeDeadlineSeconds was not processed in mpi-operator， so is this a bug？

[code]

[2020-07-06 14:17] terrytangyuan commented on #277
v1 controller does not use this field anymore (removed in https://github.com/kubeflow/mpi-operator/pull/203). cc @carmark

[2020-07-07 01:14] carmark commented on #277
@merryzhou Yes, this filed was removed in V1, since there is no launcher job in V1 controller, could you please describe why you need it ?

[2020-07-07 05:50] gaocegege opened #278 "[feature request] Support elastic"
https://github.com/horovod/horovod/blob/master/docs/elastic.rst

It will be better if we support elastic training.

[2020-07-07 06:03] gaocegege commented on #278
/cc @zw0610 @carmark

[2020-07-07 07:33] merryzhou commented on #277
Actually, I want to have a field to indicate "The maximum time for mpijob to progress to running status before it is considered to be failed", maybe a bit like ProgressDeadlineSeconds in Deployment.Spec。

Currently, some unexpected error like "pod ImagePullBackOff" will make mpijob stuck in Created status, so
I think it's better to have a mechanism to set the mpijob that can't run due to some unex

[2020-07-07 07:42] carmark commented on #277
@merryzhou Thanks for your information, I will file  a PR to support it.

[2020-07-07 11:51] terrytangyuan commented on #278
That's interesting. Has any of you tried it out yet? We'll need some refactoring on the launcher logic and then support `horovodrun` which seems pretty similar to `mpirun`:

`horovodrun -np 8 --host-discovery-script discover_hosts.sh --slots 4 python train.py`

[2020-07-07 17:56] tejaschumbalkar opened #279 "Cannot run MPIJob"
Trying out the example specified for v1alpha1 version: https://github.com/kubeflow/mpi-operator/blob/master/examples/v1alpha1/tensorflow-benchmarks-custom.yaml

[code]

The launcher pod gets into CrashLoopBackOff loop as the init container `kubectl-delivery` fails with error:

[code]

[code]

I am using the AWS EKS cluster v1.14

Need help in debugging the issue.

[2020-07-13 03:05] gaocegege commented on #278
Tried it locally, not on k8s. We should handle discover_hosts.sh for it if we want to support it.

[2020-07-14 01:51] zw0610 commented on #278
A simple idea for `discover_hosts.sh` will be opening a server on mpi-operator, exposing the status of the corresponding mpi-job and allowing pods from querying the status from the server. However, I'm not sure whether such idea is widely seen on Kubeflow or Kubernetes.

Are there any shortcuts we can exploit from the *StatefulSet* features so no pod-operator communication is needed?

[2020-07-17 18:34] #197 closed

[2020-07-24 01:51] supertetelman opened #281 "MPIJob Launcher cannot start workers in a standard on-prem Kubeflow install"
**Why:**
Wrapping work in a Kubeflow pipeline that can be kicked off from a Jupyter Notebook is a fairly standard workflow. In an ideal world, I should be able to kick off an MPIJob and view the results through the Kubeflow interface.

**What**
Currently I am unable to successfully run an MPIJob through a Kubeflow pipeline. I have a yaml file that runs fine when exectued via `kubectl create -f`, b

[2020-07-24 23:15] supertetelman commented on #281
I was able to workaround this problem by disabling the istio sidcar on the MPI launcher and MPI Worker pods:

[code]

[2020-07-24 23:15] #281 closed

[2020-07-30 09:53] yuyue9284 opened #284 "MPI example not working with volcano scheduler"
This example (https://github.com/kubeflow/mpi-operator/blob/master/examples/v1alpha2/tensorflow-benchmarks.yaml) will pending forever when using volcano scheduler.

Seems related to this issue:
https://github.com/volcano-sh/volcano/issues/461

[2020-07-31 01:18] carmark commented on #284
@yuyue9284 Which Volcano version are you using? And could you post your mpi-operator deployment?

[2020-07-31 05:35] yuyue9284 commented on #284
Hi carmark, this is my deployment for mpi-operator,
[code]

I'm using mpi-operator v1alpha2 with volcano v0.3, thanks.

[2020-08-03 12:22] tiliter-algorithms commented on #194
Mpi-operator Python SDK is required. I am using MPIJob for model training and it will be highly beneficial if there is python SDK for MPI just like TF.

[2020-08-03 12:29] tiliter-algorithms commented on #194
I am using Kubeflow's MPI train job. I have to use python subprocess calls to apply MPI resources. It will be highly beneficial to have k8s Python SDK for MPI-Operator just like TF-Operator has one.

[2020-08-03 14:20] terrytangyuan commented on #194
If anyone is interested in contributing this, please comment here.

[2020-08-04 00:40] cyang49 opened #285 "How to control the placement of worker replicas?"
Hi, I have a kubernetes cluster with 4 nodes. I tried to launch an MPI job with 1 launcher and 4 worker replicas. I notice that the worker replicas are placed on 2 of the k8s nodes. Is there a way to control the placement?

Also, am I right to assume I don't need more than 1 launcher?

Thank you.

[2020-08-04 01:15] gaocegege commented on #285
Yes.

If you want gang scheduling, you can have a look at volcano.

[2020-08-04 12:34] cyang49 commented on #285
@gaocegege are you saying there isn't a way to control worker placement built-in to kubflow mpi-operator, so I need to use another solution? Is [this](https://github.com/volcano-sh/volcano) what you refer to?

[2020-08-04 12:41] gaocegege commented on #285
Yeah, I think so.

[2020-08-04 12:52] cyang49 commented on #285
Is there any plan to add this feature? That is a bit surprising to me since this is crucial for performance & scalability.

[2020-08-04 14:33] gaocegege commented on #285
It is a feature of scheduler. Scheduler is not in the scope of Kubeflow

WDYT @terrytangyuan @carmark

[2020-08-04 15:55] cyang49 commented on #285
Hi,
I dug around a bit and found that the workers belong to a k8s statefulset. I found that the pod placements can be controlled by using pod affinity/anti-affinity [reference](https://kubernetes.io/docs/concepts/scheduling-eviction/assign-pod-node/) and I tried to insert the following anti-affinity configuration into the MPI job yaml under `Worker` spec:
[code]

This worked and my mpi-workers are

[2020-08-04 15:55] #285 closed

[2020-08-04 16:27] terrytangyuan commented on #285
Yes, you can customize the worker spec for things like affinities. Good to know that you got it working.

[2020-08-15 01:34] MartinForReal opened #286 "Mpi operator should support other node resource such as hugepage and high performance nic."
Users may fail to set the resource limits of other node resources such as huge pages and nic. because limits are overwritten by the pod template in operator code.

[2020-08-16 17:50] terrytangyuan commented on #286
What changes would be involved in order to support those? Pull requests would be welcomed!

[2020-08-17 01:42] gaocegege commented on #286
Yeah, I think it is a bad design.

[2020-08-24 06:36] MartinForReal commented on #284
I think the name of scheduler should be kube-batch

[2020-08-24 06:36] MartinForReal opened #287 "MPI operator should support crd v1"
mpi operator should add support for crd v1 object

[2020-08-27 15:00] kpouget opened #288 "Cannot run MPIJobs on OpenShift: hosts_of_nodes: Cannot open: Permission denied"
Hello,

I am unable to run MPIJobs with the current `latest` container image:
[code]

It seems to be caused by this patch: https://github.com/kubeflow/mpi-operator/commit/07bbb45de95332c98b5787d846e8786f9670a5cb#diff-14bbcd1fe291a13ef9ceac0a33e03e0dR976 and indeed it was working property earlier on in July.

When I force the image tag to be `v0.2.3` (for `mpioperator/mpi-operator` and `mpioperator

[2020-08-27 17:45] terrytangyuan commented on #288
@milkybird98 Could you help take a look?

[2020-09-01 12:27] kpouget commented on #288
The is issue is (seems to be at least) that in OpenShift, the pods run with user privileges, so `/etc/hosts...` cannot be modified this way.

[2020-09-01 12:39] terrytangyuan commented on #288
A workaround would be commenting out the lines that modify `/etc/hosts` and then pass the correct args to `mpirun` manually.

[2020-09-01 12:43] milkybird98 commented on #288
When using openmpi, the lines that modify `/etc/hosts` are redundant, the orte process manager does not need to resolve the hostnames of mpi nodes.
But the current hydra process manager used by mpich and IntelMPI must resolve the hostnames of mpi nodes, they don't pass the ip address.

[2020-09-01 13:25] milkybird98 commented on #288
The reason why I choose to modify the `/etc/hosts` file directly instead of using DNS is mainly because the dns server that comes with k8s uses fdqn hostname of pods, which is not convenient to use.
In addition, due to the need to obtain the ip address of the pods in running, `HostAliases` cannot be used to maintain the `/etc/hosts` file either.

[2020-09-21 12:43] kpouget opened #291 "slotPerWorker attribute and number of worker per node"
Hello, I am confused by the meaning of the `slotPerWorker` [attribute](https://github.com/kubeflow/mpi-operator/blob/master/pkg/apis/kubeflow/v1alpha2/types.go):
[code]
Does worker refers to worker pods or worker nodes?

I would like to deploy 1 MPI job per worker *node*, but it seems to to be what the MPI operator does:
![multiple worker pods on one worker node](http://people.redhat.com/~kpouget/

[2020-09-22 21:30] hfwen0502 commented on #288
Yes, same issue with OpenMPI using the latest version. Reverting mpi-operator to v0.2.3 fixes the permission error.

I have a question about using MPICH. My yaml file is shown below. Why all the MPI processes are running on the launcher nodes? I believe what I need to add is to specify MPIDistribution: "MPICH" in order to switch to MPICH.

[code]

[2020-09-24 08:33] carmark commented on #291
Hello @kpouget ,

The `slotsPerWorker` comes from MPI's slots, you may ref it at [here](https://www.open-mpi.org/faq/?category=running#slots-without-hostfiles).

The `Worker` means worker pod, you can setup it in yaml file. You may use pod non-affinity feature to schedule them.

[2020-09-25 12:15] kpouget commented on #291
Hello @carmark,

I'm not sure to agree/observe what you're saying:

![mpi slots and pods](https://people.redhat.com/~kpouget/20-09-25/mpi-slots.png)

I request `4` replicas and `2` slots per worker, but I get 4 worker pods

[2020-09-27 01:20] carmark commented on #291
@kpouget The replicas number is same as worker number. It will get 4 worker  pods if you request 4 worker replicas.

The slots will not impact the the number of worker pods, it will only be setup in mpi hostfile(/etc/mpi/hostfile).

[2020-10-08 06:54] zidarko commented on #286
I'd be interested in that as well. I am willing to run tests with actual applications.

[2020-10-08 06:59] zidarko commented on #279
It seems you are missing the command section. Check the original [YAML file](https://github.com/kubeflow/mpi-operator/blob/master/examples/v1alpha2/tensorflow-benchmarks.yaml).

[2020-10-08 07:05] zidarko opened #293 "Delay deletion of worker pods"
Hello,

By default mpi-operator will delete the worker pods once the job completes. Is there way to delay the deletion of worker pods?

Thank you!

[2020-10-08 13:50] terrytangyuan commented on #293
You can use `cleanPodPolicy`.

[2020-10-14 21:48] OpenZSD opened #294 "mpi manifest seems to not prevent jobs that request more nodes than there are available"
I'm testing edge cases with MPIJob to see how it reacts and I noticed if I create a job that needs 77 replicas but I only have 5 nodes, it will create 5 instances and as one finishes, it fires off the next rather than just fail the job or queue up till available. Note: this is without doing any parallel work with MPI, I'm just testing to see how this manifest behaves. I know by default the workers

[2020-10-22 21:21] Jeffwan opened #296 "Add e2e workflows against AWS CI"
Community is asking different WG to own their infra and community won't provide a common shared testing infra anymore. Sees kubeflow/testing#752 for more details.

Pytorch migration works well and here's the PR to update test case to work on AWS Prow+ Argo cluster.
kubeflow/pytorch-operator#305

Seems mpi-operator has empty workflow defined https://github.com/kubeflow/mpi-operator/blob/master/prow

[2020-11-18 09:26] divinerapier commented on #284
Because it is missing resources in the launcher. Please check the [code](https://github.com/volcano-sh/volcano/blob/899f6c423fe829ca6ea5f021c8cf959f921c4034/pkg/scheduler/api/resource_info.go#L96) in volcano.
Few of the resources will be seen as short.

[2020-11-25 21:53] asahalyft opened #297 "MPIJob Pods shows status RUNNING despite MPIJob Completed"
I am testing out TFJob and MPIJob operators from kubeflow/manifests-v1.1.0 branch on AWS EKS K8s=1.14. I am able to schedule TFJob and MPIJob successfully and these jobs also complete fine. I have verified it by watching the k8s events that I get MPIJob completed successfully.

However, I observe that the worker pods still keep on running even after the launcher pod and the MPI Job has completed.

[2020-11-26 07:09] gaocegege commented on #297
It is weird, I will have a look. Thanks for the report!

[2020-11-26 07:10] gaocegege commented on #297
cc @Jeffwan @PatrickXYS

[2020-11-26 07:16] terrytangyuan commented on #297
Could you also share logs from worker pods that kept running?

[2020-11-26 09:56] asahalyft commented on #297
@terrytangyuan
The source code that is being referred in the yaml is from the examples directory of the horovod project itslef https://github.com/horovod/horovod/blob/master/examples/tensorflow2/tensorflow2_keras_mnist.py

P.S. I observe this same behavior that worker pods keep on running also with the provided examples in the mpi-operator repo
https://github.com/kubeflow/mpi-operator/blob/master/

[2020-11-27 02:06] carmark commented on #297
@asahalyft The worker pods status is right, the mpijob's status should be synced with the launcher pod. I think the main problem is caused by the sync error.

[2020-11-27 02:25] asahalyft commented on #297
@carmark @terrytangyuan As I read through the controller I understood from https://github.com/kubeflow/mpi-operator/blob/75f424a802dafb3662bc5c76b8f3c3cb60127fac/pkg/controllers/v1/mpi_job_controller.go#L471 this is where the syncing logic is written to kill the worker pods when the MPIJob has completed. However, that is not happening

I have been able to reproduce this same error using the same y

[2020-11-27 03:33] asahalyft commented on #297
Also, for context/completeness I am installing only the mpi operator component of Kubeflow and not the entire Kubeflow installation.

I applied the mpi controller as follows:
[code]

This is the resultant mpi-operator.yaml
[code]

[2020-11-27 03:43] carmark commented on #297
@terrytangyuan Do u know which commit does the mpioperator/mpi-operator:latest base?

[2020-11-28 18:54] terrytangyuan commented on #297
It should be based on the latest commit https://github.com/kubeflow/mpi-operator/commit/75f424a802dafb3662bc5c76b8f3c3cb60127fac

[2020-12-01 09:34] asahalyft commented on #297
@carmark @terrytangyuan @gaocegege Following up on this thread to check if you could 👀 and help in investigating the issue.

[2020-12-02 01:34] kim-sardine opened #299 "The inbound connection has been dropped"
Hi, I'm running kubeflow (v.1.2.0) on AWS EKS

When I ran [tensorflow-benchmarks.yaml](https://github.com/kubeflow/mpi-operator/blob/master/examples/v1alpha2/tensorflow-benchmarks.yaml), I got below error.
(using 2 workers with 1 gpu for each)

[code]

It looks like `tensorflow-benchmarks-2-worker-0` is trying to use `127.0.0.6`, not `192.168.12.64`.

when I run `ifconfig` on `tensorflow-benchmark

[2020-12-02 10:27] kim-sardine commented on #299
My MPIJob spec is

[code]

[2020-12-03 10:54] kim-sardine commented on #299
SOLVED. It was namespace problem.

tl;dr - do not use kubeflow generated namespace

I was creating above MPIJob in kubeflow pipeline-generated namespace(`admin`). and It turns out that only single-node MPIJob (`replicas: 1`) is available in here.

I confirmed that multi-node MPIJob works well in newly-created custom namespaces or default namespace.

I'm not sure exactly why multi-node MPIJob on ku

[2020-12-03 10:54] #299 closed

[2020-12-10 21:51] jcatana opened #301 "Run as non-root user"
Are there any plans for an implementation of mpi-operator that can function as user other than root?

[2020-12-11 04:55] gaocegege commented on #301
/cc @terrytangyuan @carmark

[2020-12-15 02:29] terrytangyuan commented on #301
No plan on this yet. If you have any suggestions on how to approach this and would like to contribute, please let us know here!

[2020-12-15 04:48] jcatana commented on #301
From what I can tell, it seems the only part that requires root is for updating the /etc/hosts file. Please correct me if I'm wrong.

I've been thinking on a few ideas of how to approach it. If this is the only reason, the solution would be finding an alternate method for making the job members resolvable.

What I've attempted is to create a headless service for the stateful set [as described here

[2020-12-17 16:44] naveensrinivasan opened #304 "Migrate to GitHubActions"
Migrate to GitHub actions from Travis CI as discussed in https://github.com/kubeflow/mpi-operator/pull/303

[2020-12-17 22:16] naveensrinivasan opened #306 "go tests race fail with - race detected during execution of test"
The `go test -race -covermode atomic -coverprofile=profile.cov ./...` fails with `race detected during execution of test`

Here is the pipeline run result https://github.com/naveensrinivasan/mpi-operator/runs/1573275255?check_suite_focus=true

<details>

[code]

 </details>
 Thanks!

[2020-12-17 23:47] #304 closed

[2020-12-18 01:43] naveensrinivasan opened #307 "golangci-lint failures"
The golangci-lint has failures https://github.com/kubeflow/mpi-operator/runs/1573717835?check_suite_focus=true

<details>
[code]
</details>

[2020-12-18 01:45] gaocegege commented on #307
Thanks for the issue!

[2020-12-18 01:46] #307 closed

[2020-12-18 07:32] asahalyft opened #310 "Providing Custom Pod Tolerations throws Error"
Hello Team,
We need to provide custom tolerations for GPU pods so that they can be scheduled only on GPU nodes. However, when I apply the custom toleration it fails to parse the mpijob yaml. Following is the yaml used
[code]

Error shown in
`error: error parsing test.yaml: error converting YAML to JSON: yaml: line 46: found character that cannot start any token`

Line 46 is where the `tolerations`

[2020-12-18 07:51] asahalyft commented on #310
Tab vs space issue in Yaml.

[2020-12-18 07:51] #310 closed

[2020-12-18 23:00] naveensrinivasan commented on #233
@terrytangyuan  How about doing e2e using something like `k3d` or `kind`? This will give confidence for someone to run locally.  Similar to this https://github.com/kubeflow/kubeflow/pull/5400

[2020-12-19 02:55] terrytangyuan commented on #233
See https://github.com/kubeflow/mpi-operator/issues/296 for an alternative approach to leverage AWS's test infra.

[2020-12-19 02:56] terrytangyuan commented on #233
cc @Jeffwan @PatrickXYS @gaocegege

[2020-12-19 02:57] terrytangyuan commented on #296
cc @kubeflow/wg-training-leads

[2020-12-19 02:57] terrytangyuan commented on #233
cc @kubeflow/wg-training-leads @PatrickXYS

[2020-12-19 03:22] PatrickXYS commented on #233
FYI, you can check migration doc here https://github.com/kubeflow/testing/blob/master/aws/Doc/onboarding.md

[2020-12-19 12:56] naveensrinivasan commented on #233
I agree that the end goal is  to use the real infrastructure.

As a contributor I would like to run functional test prior submitting the PR.  Also I would like to run partial set of tests based on the changes.

Can you explain what is the disadvantages of using something in memory and also have an option to use the actual infrastructure based on a flag?

This gives significant advantages of having

[2020-12-22 09:11] mkkb473 opened #312 "common.CleanPodPolicyRunning will delete non-running worker pod"
I happened to find out that if my worker dies with status OOMKilled it will still be removed by mpi-operator controller even when I manually set mpijob spec CleanupPolicy as CleanPodPolicyRunning.
It seems that the functionality of CleanPodPolicyRunning and CleanPodPolicyNever have no difference here.
Is the cleanup schema intentionally designed to be like this?
https://github.com/kubeflow/mpi-ope

[2020-12-25 01:02] naveensrinivasan commented on #233
@PatrickXYS How do I get access to the repo?

I would like to start working on the e2e tests.

[2020-12-25 01:57] PatrickXYS commented on #233
You won't, you should follow the doc to proceed

[2020-12-29 05:49] #312 closed

[2021-01-04 21:18] g-karthik opened #314 "Does MPIJob allow for p4d.24xlarge node-type in nodeSelector?"
I have a Helm chart in which I specify my `MPIJob` to use the AWS p3dn.24xlarge node type as follows:

[code]

Does MPIJob allow for the new p4d.24xlarge node type to be used here? If not, could support be added for it?

[2021-01-05 00:54] gaocegege commented on #314
Yeah, I think it should work. Did you have any problem when you use the nodeselector?

[2021-01-05 02:19] g-karthik commented on #314
@gaocegege no I didn't try it with the new `p4d` instance type yet, I only tried with `p3dn`. I was thinking mpi-operator probably doesn't support it yet because the instance type is very new (only ~1 month old).

[2021-01-05 02:22] #314 closed

[2021-01-05 02:24] gaocegege commented on #314
I think it does not depend on mpi-operator. It depends on the cloud vendor. If they can have such label for the node, then we can use it in nodeSelector.

[2021-01-06 14:55] terrytangyuan opened #315 "[Discussion] Switch to use Job API with ArrayJob semantics"
From Aldo Culquicondor:

Related issue: https://github.com/kubernetes/kubernetes/issues/97169

cc @alculquicondor @ahg-g @kubeflow/wg-training-leads

Let's use this issue to discuss with the community.

[2021-01-06 15:31] alculquicondor commented on #315
One of the things I'm thinking could be a problem is stopping the Job.

In the current architecture, the driver-job triggers a scale-down of the StatefulSet. Is there a way for the runners to know when the task is done and finish by themselves?

[2021-01-06 15:33] alculquicondor commented on #315
Side note: we won't hold the KEP on solving all the problems for MPI. Static partitioning is enough justification for the Array Job proposal.

[2021-01-07 01:25] gaocegege commented on #315
/cc @carmark

[2021-01-07 14:53] ahg-g commented on #315
Another thing to think about is readiness status, I am not sure the job status tracks the number of "ready" replicas like StatefulSets and ReplicaSets do. This makes sense since the job api is not supposed to be used as a service, but it is a difference that we may want to keep in mind. This may not be a major issue though since rank-0 could directly check the status of the individual pods before

[2021-01-08 02:09] gaocegege commented on #315
Then I am wondering how to set the job status to running/succeeded/failed.

The driver needs to check all worker status(IP) in Horovod. To support elastic training, the driver needs to maintain a list of works' PodIP.

Now we want to have a configmap to do it. But I think it is not related to this new Job API, I think.

[2021-01-08 14:35] alculquicondor commented on #315
Would it make sense for the driver to obtain the pod IPs by listing the worker nodes that belong to the Job?

OTOH, how do workers use the index in the Pod name coming from the statefulset?

[2021-01-12 08:08] qifengz commented on #297
met the same issue.

[2021-01-12 12:05] qifengz commented on #297
@asahalyft I think the main point of error logs is "the server could not find the requested resource (put mpijobs.kubeflow.org ...". It means being a lack of subresources in crd manifest. After I added subresources to CRD and rerun it, resolved this issue for me:
`spec:
...
  subresources:
    status: {}
...`

[2021-01-13 01:31] carmark commented on #297
@asahalyft Could you please try the suggestion of @qifengz ?

[2021-01-13 02:14] qifengz commented on #294
you use the hostPath,  it not concerned with mpi-operator but k8s, unless all of the replicas are on the same node.

[2021-01-13 05:48] chongchuanbing commented on #297
update crd and ClusterRole to v0.2.3, then try

[2021-01-13 06:32] qifengz commented on #278
Look forward to it. Adding an annotation and immediately remove it for a pod would trigger the pod sync that will sync the ConfigMap.

[2021-01-14 16:55] asahalyft commented on #297
Thanks @qifengz .

@carmark @chongchuanbing Weird. I have moved away from Kubeflow kustomize and applying operator yaml directly now. The feedback on this issue had been extremely slow, so I had to downgrade to mpi-operator `v1alpha2` and applied the https://github.com/kubeflow/mpi-operator/tree/master/deploy/v1alpha2 to make some progress on my end.

The `v1` operator from https://github.com/kube

[2021-01-14 17:19] asahalyft opened #316 "MPI Operator cannot spawn distributed jobs from Python files located on pod mounted volumes"
Hello Team,

I have created a custom Horovod image following https://github.com/horovod/horovod/blob/master/Dockerfile.gpu. Image is working fine.

I am testing out their tensorflow example https://github.com/horovod/horovod/blob/master/examples/tensorflow2/tensorflow2_keras_mnist.py

I have two scenarios:
(1) I keep the `tensorflow2_keras_mnist.py` file embedded inside the docker - this is my rel

[2021-01-14 19:59] asahalyft commented on #316
Sorry. My bad. I realized that I have to mount the volumes on the launcher and workers both. For posteriority, if anybody finds this beneficial in future, this is how I mound the volumes on the launcher and workers.

[code]

[2021-01-14 19:59] #316 closed

[2021-01-18 08:44] chongchuanbing commented on #297
what's error about ```v1```, i run this ok.

[2021-01-18 10:26] qifengz commented on #278
how pass horovodrun's parameters like --host-discovery-script  when using mpirun command?

[2021-01-19 02:02] carmark commented on #297
@asahalyft I did test it locally with v1, but installed it with yaml file, it works as expected.

[2021-01-19 02:13] carmark commented on #315
@alculquicondor @gaocegege

Now, the mpi-operator obtains status from the launcher pod(which run the `mpirun` command), all the workers will always sync with launcher in MPI program. Any worker fails, the launcher will know that and do something.

[2021-01-19 06:06] gaocegege commented on #278
Do you want to use it in mpijob or just in horovod?

[2021-01-19 08:10] qifengz commented on #278
@gaocegege want to use it in mpijob.

[2021-01-19 11:41] gaocegege commented on #278
Would you mind adding my wechat gaocedidi ?

[2021-01-19 14:39] alculquicondor commented on #315
That's interesting. In that case, what are the reasons to use StatefulSet instead of Deployment?

[2021-01-19 17:55] rongou commented on #315
The main thing we need from `StatefulSet` is the stable, unique pod names. When a new MPI job starts, a hostfile `ConfigMap` is created to list the pod names from the `StatefulSet`, then the mpi command can just use that hostfile without any further assistance from the operator. The launcher that runs the mpi command is a `Job` so that it can retry, report status, etc.

I suppose you could use a `

[2021-01-19 18:46] ahg-g commented on #315
wouldn't MPI jobs typically fail if any of the pods restart? I thought MPI is not tolerant to failures.

[2021-01-19 19:52] rongou commented on #315
Yes, that's why the launcher is a `Job` so that it can retry if one of the pods fails.

[2021-01-19 20:17] alculquicondor commented on #315
In that case, it sounds like the requirement for mpi-operator to migrate to Job, in replacement of the StatefulSet, is for Job to support stable names.

It doesn't sound like a Pod annotation containing an index would help in any way, would it?
Any other requirements?

[2021-01-20 19:17] rongou commented on #315
As long as it can be translated into a stable hostname then it should work.

[2021-01-20 19:21] alculquicondor commented on #315
It cannot. But we will consider that as a follow up feature https://github.com/kubernetes/enhancements/pull/2245/files#diff-6e034c24686b4aca732ab8c705102d41d5661943e62cb4996d8b89d3dbf7a6c5R540

[2021-01-24 16:40] asahalyft opened #318 "What is the best way to track and report error when MPI Job workers cannot spawn"
Hello Team,

I applied a similar yaml like below where I mistakenly mentioned the `slotsPerWorker:4` but the resource per worker is only 2 cpus. Although, the launcher and all the workers Pods came up but worker could not actually start running the python program because there were not enough `slotsPerWorker`. However, I saw that the launcer and the workers pods kept on running despite that the ac

[2021-01-28 14:37] AssafKatz3 commented on #301
Hi,
I have stupid question - why does this operator need to change the /etc/hosts in first place? This file is managed by k8s...
Thanks

[2021-01-28 14:44] jcatana commented on #301
Having all MPI worker names resolvable is an MPI requirement.

[2021-01-28 14:49] AssafKatz3 commented on #301
@jcatana This is clear, but what the information that service name doesn't contain?

[2021-01-28 15:12] jcatana commented on #301
That is sort of the issue. Currently no service is created for the stateful set. To further complicate the issue, kubernetes services cannot address kubernetes Jobs. This is why I talk about utilizing the hostAlias parameter in the statefulSet definition.

A kubernetes MPIJob is comprised of two objects:
Launcher -> Kind: Job -> this executes the mpirun command.
Workers -> Kind: StatefulSet -> the

[2021-01-28 15:34] AssafKatz3 commented on #301
@jcatana Kubernetes DNS entries are created by services, which the most common why to define them is by selector to PODs. Actually, it doesn't matter if the POD was created by deployment, stateful set, job or directly. The only possible problem that I see with this response time until the PODs of job will be added to endpoint (or endpoint slice) object that service relies on.

[2021-01-31 07:08] AssafKatz3 commented on #301
@jcatana I looked at code and there are two references to /etc/hosts:

1. [generateHosts](https://github.com/kubeflow/mpi-operator/blob/master/pkg/controllers/kubectl_delivery/controller.go#L162) that add to it, this code can be replaced by generate service, either by set selector or more directly by creating endpoint object and then service on top of it
2. [newConfigMap](https://github.com/kubefl

[2021-02-01 03:40] Ruminateer opened #322 "Example MPI job doesn't work"
I tried to deploy `examples/v1/tensorflow-benchmarks.yaml`, but no new pod was created.

What I did
[code]
What I got
[code]
I am running a local kind cluster
[code]

[2021-02-01 09:07] Ruminateer commented on #322
[code]

[2021-02-01 19:40] jcatana commented on #301
Yes, this solution would also work, but it has the same issue as hostAlias. You do not know the podSelector label until after the Job's pod is created much like for hostAlias you do not know the pod's IP until after it is created.

Here is my code that will create the headless service for stateful set https://github.com/jcatana/mpi-operator/ IIt also modifies the sh script that is run not to attem

[2021-02-04 03:55] ggaaooppeenngg opened #323 "upgrade client-go to v0.18.3+"
Current client-go version is old. Context.Context was introduced in client-go from v0.18.3 which breaks the old code.

[2021-02-04 03:58] gaocegege commented on #323
We need to update volcano and many corresponding deps to use 0.18.

Maybe we could wait until https://github.com/volcano-sh/volcano/issues/1270 is fixed.

[2021-02-08 03:16] kuizhiqing commented on #322
the config in deploy/v1/mpi-operator.yaml lock the namespace to *mpi-operator* while the example attach to default, you can either
* remove ns lock in deploy
* apply example to ns mpi-operator

[2021-02-09 02:29] gaocegege opened #324 "[feature] Keep API consistency with kubeflow/common"
https://github.com/kubeflow/tf-operator/issues/1241#issuecomment-775607747

CleanPodPolicy now keeps in RunPolicy, I think we should keep API consistency with it.

[2021-02-10 00:18] yanniszark opened #325 "MPI Operator: Move manifests development upstream"
### Background

Umbrella-Issue: https://github.com/kubeflow/manifests/issues/1740

As part of the work of wg-manifests for 1.3
(https://github.com/kubeflow/manifests/issues/1735), we are moving manifests
development to upstream repos. This gives the application developers full
ownership of their manifests, tracked in a single place.

To give an example from the `notebook-controller`, the diagram s

[2021-02-18 09:13] davidstack opened #327 "can mpi-operator support horovodrun?"
mpi-operator support mpirun command, will mpi-operator support howovodrun ? such as

`
horovodrun -np 16 -H server1:4,server2:4,server3:4,server4:4 python train.py
`

[2021-02-18 13:52] terrytangyuan commented on #327
If it's fully compatible with mpirun then it should work. Perhaps give it a try?

[2021-02-19 00:41] davidstack commented on #327
yes, i have got a test. if i use this command, the job will run successfully. but i do not know whether other horovod functions can work correctly. And we should know the hostname of the worker.
`
horovodrun  -np 2 -H mpi-d3ec808b-worker-0:1,mpi-d3ec808b-worker-1:1  python /horovod/tensorflow_mnist.py
`

[2021-02-24 00:58] asahalyft commented on #327
@davidstack I started out with this example - it should be able to run a mpi horovod job on your K8s cluster provides you alreadt have the mpi-operator applied on the K8s cluster.
[code]

You may have to change the `NCCL_SOCKET_IFNAME=eth0` based on your setup.

[2021-02-24 01:00] asahalyft commented on #318
@terrytangyuan could you please provide guidance on this?

[2021-02-24 01:05] asahalyft opened #328 "TF2 Jobs latches on to CPUs if both CPU and GPU are provided in the container resource requests/limit section"
I have applied the following MPI Job Yaml. I observe that when I run the workers with only the GPU specified in the resources section the TF2 Job proceeds very fast with `3s` per epoch. The TF2 Job is also after the MPI Yaml. However, if I provide both cpu:1, gpu:1 and memory:8g in the worker then the TF2 job starts using the CPU instead of the GPU and it takes `15s` per epoch.
[code]

The applied

[2021-02-24 01:19] terrytangyuan commented on #328
Is this an issue for Horovod or MPI Operator?

[2021-02-24 01:22] terrytangyuan commented on #318
We could probably add some validation but not sure how helpful that can be. It's better to have a more controlled way to generate your MPIJob spec, e.g. via a SDK or kustomize, to avoid problems like this.

[2021-02-24 06:28] davidstack commented on #327
@asahalyft  yes,you are right,but i want to only use horovodrun command

[2021-02-24 23:11] alculquicondor commented on #315
We noticed that the operator no longer uses StatefulSet #203

Can you clarify the motivations for that?

[2021-02-26 02:10] gaocegege opened #329 "[feature] Remove launcherRunsWorkload flag"
Now we have a flag to determine that if we should use GPU in the launcher.

But it is not expected in our situation. If we mount a GPU card to the launcher but the flag is disabled, we cannot see this card because we will set NVIDIA_VISIBLE_DEVICES to empty and libnvidia-container will not mount drivers to the pod.

We can remove the flag and rely on the launcher.resources.gpu to determine it.

[2021-02-26 02:10] gaocegege commented on #329
/cc @terrytangyuan @carmark @xieydd

[2021-02-26 02:25] terrytangyuan commented on #329
Do you mean this PR? https://github.com/kubeflow/mpi-operator/pull/276

If we can determine it automatically then I am fine with it.

cc @allenzfan

[2021-02-26 02:43] zw0610 commented on #327
@davidstack `horovodrun` and mpi-operator are compatible now. I took a further test:

[code]

Please keep in mind that option `-hostfile /etc/mpi/hostfile` is a must.

[2021-02-26 02:45] terrytangyuan commented on #327
@zw0610 Would you like to add an example illustrating how to use `horovodrun` with MPI operator?

[2021-02-26 02:48] zw0610 commented on #327
Sure. Let me compose another example and merge it into `examples/horovod`.

[2021-02-26 03:58] Garrybest commented on #329
I will take it.

[2021-02-26 04:04] fanzhe328 commented on #329
@Garrybest  good！

[2021-02-26 04:06] carmark commented on #329
/assign @Garrybest

[2021-02-26 04:06] allenzfan commented on #329
@Garrybest good!

[2021-02-26 05:40] gaocegege commented on #329
Yeah, we can check if the launcher has GPUs.

[2021-03-01 06:06] asahalyft commented on #318
I see. Thanks for the suggestions.

[2021-03-01 06:06] #318 closed

[2021-03-02 08:55] davidstack commented on #327
@zw0610 i have a test, but it failed.
`
root@mpi-feea39f9-launcher:/examples# horovodrun -np 2 -hostfile=/etc/mpi/hostfile hostname
ssh not successful for host mpi-feea39f9-worker-1:
ssh: Could not resolve hostname mpi-feea39f9-worker-1: Name or service not known

ssh not successful for host mpi-feea39f9-worker-0:
ssh: Could not resolve hostname mpi-feea39f9-worker-0: Name or service not known

`

[2021-03-02 09:08] gaocegege commented on #327
@davidstack

Please try Horovod v0.20.0 or above

We have a PR in Horvod to support kubeexec in Kubeflow: https://github.com/horovod/horovod/pull/2199

And it is released in v0.20.0

[2021-03-02 09:27] davidstack commented on #327
@gaocegege got it,thanks

[2021-03-02 09:27] #327 closed

[2021-03-02 10:26] gaocegege commented on #278
#332 is working on this issue.

[2021-03-02 10:26] gaocegege commented on #278
TODO list:

- [ ] Unit test for elastic

[2021-03-02 14:27] #325 closed

[2021-03-03 19:54] asahalyft commented on #328
@tgaddair would you have any insight on this?

[2021-03-03 20:01] tgaddair commented on #328
Hey @asahalyft, are you sure you're getting a GPU?  Can you check the value of `gpus = tf.config.experimental.list_physical_devices("GPU")`?

[2021-03-03 20:07] asahalyft commented on #328
Yes @tgaddair
When I specify only GPU e.g.
[code]
I am definitely getting the GPUs and each epoch takes only `3secs per epoch`. I have checked `nvidia-smi` which also shows the GPUs are being in use.

Bu, if I specify both, CPU and GPU, then CPU takes precedence e.g.
[code]
I see the same job running very slow and each epoch takes `15secs per epoch`.

[2021-03-03 21:03] tgaddair commented on #328
When you run `nvidia-smi` in the second case, does it also show GPU availability and utilization?

You mentioned that it is running slow, but did you check the value of `tf.config.experimental.list_physical_devices("GPU")` as I suggested?  It it empty when you specify a cpu, or does it still show the GPU device as available?

[2021-03-03 21:05] asahalyft commented on #328
@tgaddair sure, let me do that experiment and come back.

[2021-03-03 22:46] asahalyft commented on #328
Hi @tgaddair, I conducted two experiments. Here are the detailed experimental results:

**TLDR;**
In both cases GPUs are detected. I have tested the same tf2 script in both cases.

However,
+ When we specify `only GPU` in the resource section of the worker pods then the `nvidia-smi` shows reasonable utilization of 50% for the GPUs in each worker. And it takes `3secs` for each epoch to complete.

+

[2021-03-03 22:53] tgaddair commented on #328
Thanks for the detailed experiments, @asahalyft.  My best guess, based on these results, is that Horovod is correctly running with GPU support enabled, but that when you request `cpu: 1` in your resource limits, you are becoming bottlenecked by the CPU.  Can you try increasing this to, say, 8, and see if it has an effect on performance?

[2021-03-03 23:17] asahalyft commented on #328
Great suggestion @tgaddair . I bumped up to `cpu:8` and the GPU usage is back to 50% per worker and the epoch time is back to `3s` like in case 1. Could you please share your intuition how you came up with that number `8` for the cpus and which part of the training is being bottlenecked by the cpu?

[2021-03-03 23:43] tgaddair commented on #328
Hey @asahalyft, TensorFlow internally uses multi-threading to process ops in parallel, and Horovod also maintains a separate thread for processing tensors. As such, if you only have a single core to work with, you're not going to be able to overlap as much computation with the communication. 8 was chosen somewhat arbitrarily, but should be a decent starting point.

[2021-03-04 11:03] gaocegege opened #333 "[feature] Provide the way to customize docker image"
Ref https://github.com/kubeflow/mpi-operator/pull/332#discussion_r587031118

[2021-03-08 03:41] gaocegege opened #336 "[feature] Support scale subresource"
Now we support Horovod elastic, but we need to support scale subresource for HPA

[2021-03-09 02:14] #329 closed

[2021-03-17 03:26] zpcalan opened #339 "How does kubeflow support elastic scaling while running allreduce-style distributed training."
During an allreduce-style traing job, the number of GPUs or nodes (rank and rank size)  can't be changed because of MPI's feature.
In my opinion, if one user wants to take advantage of more available machines, the job must be stopped to do `MPI_Comm_rank` and `MPI_Comm_size` again so that the `allreduce kernel` could be normally executed.

I'm new to kubeflow and this bothers me. Correct me if my

[2021-03-17 03:31] zpcalan commented on #339
I found out that `horovod elsatic all-reduce` feature is mentioned in some issues.
Does kubeflow acheive the effect discribed in the title mainly based on this feature?

[2021-03-17 07:44] gaocegege commented on #339
/cc @zw0610

[2021-03-17 07:48] zw0610 commented on #339
Please check the master branch as we merged elastic training features days before. With the new controller (as well as updated RBAC resources) deployed, users now can change the replicas in the "Worker" spec.

[2021-03-17 07:54] zpcalan commented on #339
@zw0610 Thanks! I will check that later.
Just to confirm, so kubeflow must wait all-reduce training job to stop before user adds GPUs in the previous version?

[2021-03-17 08:00] zw0610 commented on #339
@zpcalan In brief, no.

For more details: adding new worker pods is not included in the design of mpi-operator. However, when I test, if you scale up the replica in Worker spec, mpi-operator does creates more worker pods in previous version. But that's useless as the launcher pod is granted no permission to launch processes on these new worker pods.

[2021-03-17 08:12] zpcalan commented on #339
Thanks. That helps a lot.
Issue closed.

[2021-03-17 08:12] #339 closed

[2021-03-17 15:07] terrytangyuan commented on #315
@carmark Would you like to clarify the motivation for that change?

[2021-03-17 20:30] ahg-g opened #341 "[Discussion] Do we need the kubeflow dependency"
I am wondering if mpi-operator should be decoupled from kubeflow since kubeflow is not really a library? Is there any fundamental dependency on kubeflow?

cc @terrytangyuan @alculquicondor @kubeflow/wg-training-leads

[2021-03-17 20:37] terrytangyuan commented on #341
For MPI operator specifically, there isn't much dependency on Kubeflow except that it's based on the common interface defined in https://github.com/kubeflow/common. Implementation is relatively independent.

@kubeflow/wg-training-leads

[2021-03-17 21:05] ahg-g commented on #341
The kubeflow dependency is confusing, the shared API elements seem unnecessary, in our opinion. Removing the dependency would allow us to simplify the API and evolve it differently from kubeflow, to better tailor MPI jobs.

I would like to suggest moving the repo to a sig-kubernetes repo under sig apps, the benefits are:

1) Potentially increase adoption and perhaps unify the community around a st

[2021-03-17 23:08] terrytangyuan commented on #341
That definitely sounds like a good option to me. It's more ambitious to make MPIJob more general and useful to a wider range of users. Could you point me to a specific location where this might fit? A couple of concerns/questions from my side:
1. Are we clear to migrate the repo from legal standpoint?
1. There are currently users who consume this repo as a library or develop based on a fork of thi

[2021-03-18 01:47] carmark commented on #315
Sure, @alculquicondor .

The StatefulSet will create pod one by one, but the `worker` pods does not need it.  By the way, with StatefulSet, we can not make sure the real status of pods.

[2021-03-18 02:04] gaocegege commented on #341
I think it works. But we should discuss how to deal with some Horovod specific features in the operator.

[2021-03-18 03:19] MartinForReal opened #342 "Add a step to upload artifact"
a quick question: how the artifacts(models) are managed in mpi job? possible solutions are: uploading to s3/ provide pvc and etc

[2021-03-18 03:24] ahg-g commented on #315
We are looking to expand the k8s Job API to support indexed job with stable pod names. Unlike statefulsets, it will not need to scale up and down incrementally, so the problem of slow scale up should go away compared to statefulsets. When that is ready, mpi-operator can avoid creating independent pods and rely on k8s Job.

What pod status are we interested in exactly? We want to make sure we captu

[2021-03-18 03:30] ahg-g commented on #341
That would be my preference, we can work on a new API and also avoid any potential legal issues. But if we decide to start fresh, I would suggest that we freeze this repo to avoid fragmentation and focus the community on one effort.

[2021-03-18 04:03] carmark commented on #315
@ahg-g

We need know the Pending/Running/Failed/Succeed status for the Pod. With those status, the operator can handle it and do some works.

[2021-03-18 06:11] terrytangyuan commented on #342
Yes you can provide volume to the spec.

[2021-03-18 06:15] MartinForReal commented on #342
But would it be better if we could upload artifacts to s3 repository?

[2021-03-18 06:28] terrytangyuan commented on #342
That's not the focus on MPI operator here. I'd suggest checking out artifacts in Argo Workflows.

[2021-03-18 06:53] MartinForReal commented on #342
The point is how the mpi operator works with argo in this scenario? we can leverage argo to manage pipeline but I don't think the output artifacts are available to argo because these artifacts resides in the pod which is created by mpi-operator.  we can use argo to submit mpi job but If I don't have any storage system available, I may not be able to get the output artifacts.

[2021-03-18 11:53] gaocegege commented on #342
Maybe we could discuss it in the community meeting.

[2021-03-18 11:58] gaocegege commented on #341
Should we discuss it in the Training WG community meeting?

/cc @andreyvelich @zw0610

[2021-03-18 12:13] zw0610 commented on #341
Definitely. I would like also hear more user cases and requests about running generic MPI jobs on Kubernetes.

[2021-03-18 13:44] alculquicondor commented on #315
Your input is welcome in kubernetes/kubernetes#99497

[2021-03-18 13:47] alculquicondor commented on #315
Can you expand on this?

If a Pod Fails, since we are planning "stable pod names", we have to delete it before we can replace it with another pod with the same name. How are you handling this today?

[2021-03-18 13:50] ahg-g commented on #341
Sounds good, lets discuss it in the next meeting, did yesterday meeting happen?

You mean outside ML training?

[2021-03-18 14:07] andreyvelich commented on #341
We can discuss this in the next AutoML and Training WG meeting.
Check the calendar: https://calendar.google.com/calendar/u/0/r?cid=ZDQ5bnNpZWZzbmZna2Y5MW8wdThoMmpoazRAZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ.

Also, I think it would be great if we can high light this on the Kubeflow community meeting, since we have more Kubeflow members there.
What do you think @gaocegege @terrytangyuan @ahg-g  ?

[2021-03-18 14:17] ahg-g commented on #341
Thanks @andreyvelich, that sounds great! The wider the buy in the better.

[2021-03-19 02:58] zw0610 commented on #342
@MartinForReal Post-processing a model looks more like what we can do within the container. In the training script, we can use python api to upload the model to s3 or other cloud storage as you mentioned there is no shortage system in your cluster.

[2021-03-19 03:22] Jeffwan commented on #342
I think this is a valid use case. From user's perspective, user should use training operators with Kubeflow pipeline easily. The challenge to support native artifact is because all jobs are submitted from a client pod triggered by KFP. the client pod itself doesn't have the training job artifacts.

This is not a MPI-operator specific problem, any KFP Op which submit a remote job has this problem.

[2021-03-19 19:44] amrragab8080 opened #343 "Get the IP/Hostname of rank 0 to all the worker replicas"
Hi,
I have an app that I am running using the mpi-operator one of the requirements is that the replicas need to know the master ip/hostname of rank0 - I checked in the environment of a kubeflow v1alpha2 mpi-operator job but the individual rank environments do not have the master ip/host of rank0.

any ideas how to get the master ip/host of rank 0 to all subsequent ranks.

[2021-03-20 16:01] heyfey opened #344 "kubeflow.org/v1 didn't create pods when running examples"
Hi, I'm trying examples with **kubeflow.org/v1**
[code]
[code]
both created mpijob, but there are no pods created, and it just hang
[code]

---

While when I tried **kubeflow.org/v1alpha2**, and
[code]
everything worked as expected.

Am I doing something wrong?
Thanks

[2021-03-20 19:05] terrytangyuan commented on #344
Could you do a `kubectl describe` on your mpijobs?

[2021-03-21 02:51] heyfey commented on #344
[code]
[code]

[2021-03-21 03:21] zw0610 commented on #343
I believe the rank is assigned after `mpirun` is called. So there is nothing mpi-operator can do to predict which pod will be rank 1.

For a generic solution, you can add a piece of code into your script that let the rank 0 process to [broadcast](https://www.mpich.org/static/docs/v3.3/www3/MPI_Bcast.html) its ip/hostname to the rest ranks once the process is launched by `mpirun`.

If you are using

[2021-03-21 03:31] zw0610 commented on #344
This issue came to me before occasionally. @heyfey Would you mind provide the log of the mpi controller? If you need further help, please reach me via zw199006@gmail.com

[2021-03-21 05:08] zw0610 commented on #344
It seems in the deploy file for v1 specifies the monitored namespace to be `mpi-operator`: https://github.com/kubeflow/mpi-operator/blob/master/deploy/v1/mpi-operator.yaml#L198

While this configuration looks fine, it is not consistent with examples created under default namespace.

@terrytangyuan do you think we should remove the `--namespace` arguments?

[2021-03-21 13:53] terrytangyuan commented on #344
There is also an arg for lock namespace so we may want to modify both of them. When users install MPI operator, they should be aware and modify these args if needed though. Perhaps we need add some notes in the installation documentation and add more informative log in controller?

[2021-03-22 02:57] zw0610 commented on #344
Yes, a note will be much better to specify how to configure the deploy of mpi-operator.

[2021-03-28 03:10] terrytangyuan commented on #341
Would anyone like to provide a summary of the discussion during community meeting here?

[2021-03-29 13:23] andreyvelich commented on #341
On the call we decided that @ahg-g will present this proposal on the Kubeflow community call.
Then, we can discuss with Kubeflow steering group how we can move forward.
@terrytangyuan Since you are one of the owners for the MPI Operator, it would be great if you could also join the discussion in the Kubeflow community call.

Thank you for driving this @ahg-g!

[2021-03-29 13:35] terrytangyuan commented on #341
Thanks @ahg-g and @andreyvelich.

I will certainly retry to attend but it would be great if we can have a proposal publicly so others from different time zones can also participate to discuss asynchronously. At this point I think I am interested to know more details about the use cases of the proposal before exploring this further. We also need to think thoroughly on this since there are already m

[2021-03-29 13:40] andreyvelich commented on #341
I agree with it @terrytangyuan.
@ahg-g Please, can you prepare the proposal about this migration ?
You can explain in the proposal how that will help MPI Operator project to be successful.
As @terrytangyuan said, we can share this proposal across Kubeflow group and get the feedback.

[2021-03-29 13:41] ahg-g commented on #341
Thanks all, do you have a specific format and repo for such proposals, like k8s KEP?

[2021-03-29 13:45] terrytangyuan commented on #341
You can submit it to: https://github.com/kubeflow/mpi-operator/tree/master/proposals

Our [current community proposal template](https://github.com/kubeflow/community/blob/master/proposals/TEMPLATE.md) is pretty simple but feel free to use other format/template if preferred.

[2021-03-31 13:04] denkensk commented on #344
I met this today. ^_^
In addition to adding more informative log and a note, I think adding the namespace in `examples/v1/tensorflow-benchmarks.yaml` is also needed. Otherwise everyone has to modify yaml.

[2021-04-06 12:49] terrytangyuan opened #348 "Document Prometheus metrics"
We currently emit Prometheus metrics but we need to document them. For example: https://github.com/kubeflow/mpi-operator/pull/347

[2021-04-12 09:18] zw0610 commented on #194
ok, let me take this one.

[2021-04-12 14:21] terrytangyuan commented on #348
cc @ggaaooppeenngg in case you are interested in contributing this

[2021-04-13 12:16] #348 closed

[2021-04-13 14:33] dumbjarvis commented on #11
Has this been done?

[2021-04-13 15:32] terrytangyuan commented on #11
I don't think so.

[2021-04-15 10:03] ahmet-uyar opened #351 "running arbitrary OpenMPI jobs"
I have read in the MPI-Operator proposal document that running [arbitrary MPI jobs](https://github.com/kubeflow/community/blob/master/proposals/mpi-operator-proposal.md) listed as non-goals.
I was wondering whether running arbitrary MPI jobs is currently supported. If so, is there any examples or documentation for that.
thanks,

[2021-04-15 12:36] terrytangyuan commented on #351
@rongou Do you remember the background on that non-goal item?

[2021-04-15 17:44] rongou commented on #351
My initial goal was to get this working with Horovod. It may be possible to run other MPI jobs, I just didn't have the expertise or time/resource to support those. If anyone is interested in testing them out and adding documentation and examples, you are certainly welcome.

[2021-04-16 07:24] gaocegege commented on #12
/assign @zw0610

[2021-04-16 07:40] zw0610 commented on #12
From my experience with Slurm built with PMIx, user need no 'launcher pod' for each job submitted. This seems a clear benefit to mpi-operator.

I've been searching for a minimal workable example/tutorial for using openpmix Without Slurm for a while but did not succeed. So @rhc54 , would you mind providing us with such a tutorial/example to set a PMIx environment and launch an mpi task? It seems re

[2021-04-16 08:12] ahmet-uyar commented on #351
@terrytangyuan  @rongou thank you for the quick reply. It was not clear to me whether MPI-Operator is only for all-reduce or for all MPI communications. From these messages I understand that full OpenMPI is installed in the worker container and arbitrary MPI jobs should run OK. Not sure whether I will have the time to test it but if I can, I will let you guys know.

[2021-04-16 13:50] rhc54 commented on #12
Happy to try. I'll read up a bit on Kubernetes and Kubeflow so I can try to provide more concrete direction (pointers to material would be welcome!). Meantime, you might be able to gain some insights from the following:

* https://www.sciencedirect.com/science/article/abs/pii/S0167819118302424?via%3Dihub is a paper that explains PMIx and how it fits within an application lifecycle. In particular,

[2021-04-17 07:12] zw0610 commented on #12
Thank you so much for your prompt help, Ralph.

I watched your [presentation video](https://www.youtube.com/watch?v=9u4xmXpQU_U) and believe there look two scenarios to work with Kubernetes and PMIx:

1. each container is considered as a RM, with its RM daemon running as the entry point process. With new mpi task dispatched, new processes can be launched via the RM daemon.
2. making the PMIx clien

[2021-04-17 08:27] zw0610 opened #352 "strings.TrimeLeft issue prevents mpi-operator from deleting worker pods with index 2"
go version: go version go1.13.15 darwin/amd64
mpi-operator version: v1

Users report that when scaling down worker replicas from 3 to 2, worker pod with trailing index "-2" is not deleted. I was able to reproduce this issue.

After dive into the code, I found this line: https://github.com/kubeflow/mpi-operator/blob/master/pkg/controllers/v1/mpi_job_controller.go#L838

The `strings.TrimeLeft` retur

[2021-04-17 14:59] rhc54 commented on #12
The negative to the first option is that you still have to completely instantiate a secondary RM - e.g., if that RM is Slurm, then one of the containers must include the `slurmctld`, and the other containers must include the required info for the `slurmd` daemons to connect back to that `slurmctld`. This means that the users who construct these containers must essentially be Slurm sys admins, or a

[2021-04-17 17:53] terrytangyuan commented on #352
Great found. Would you like to submit a PR to fix this?

[2021-04-18 00:57] zw0610 commented on #352
sure. just filed a pr mimicking how tf-operator maps pod to its index.

[2021-04-18 15:53] #351 closed

[2021-04-20 14:38] alculquicondor commented on #341
To give an update, I'm going to do a deep dive into the current state of the operator and present a complete proposal later.

[2021-04-20 15:56] njriasan opened #354 "Keep Launcher Alive to Retrieve Logs on Error"
Hi I'm a relatively new user. I'm using my own dockerfile for a project that uses MPICH, and I have been able to successfully deploy the project. However, sometimes I'll be testing features changes and then I'll get an error which terminates the launcher.

I understand that this project is designed to automatically restart the launcher `backoffLimit` times, but even when I set the `backoffLimit` t

[2021-04-21 15:58] aalugore-ai opened #356 "Launcher Init Container not being re-executed when worker node is drained"
Hi! I'm working with a slightly customized version of the mpi-operator. The new feature is pretty much to have the kubectl-delivery init container add some configuration files to the worker that are necessary for model training. I am attempting to do some chaos engineering by draining the worker node during training and then have the launcher reschedule the job to a different node. It mostly works

[2021-04-22 00:05] zw0610 commented on #356
I believe this is how ['init'Container](https://kubernetes.io/docs/concepts/workloads/pods/init-containers/) is designed.

It looks you need updated information about which worker Pods are still running. If so, please checkout the latest version of mpi-operator (still in master branch), where we have introduced a dynamically updated script `/etc/mpi/discover_hosts.sh`. It may not fit in your case

[2021-04-23 15:07] aalugore-ai commented on #356
It seemed as though setting the launcher's restartPolicy to Never worked as a workaround as instead of restarting, a new launcher was made which re ran the init container.

[2021-04-23 15:07] #356 closed

[2021-04-27 18:35] alculquicondor commented on #201
It doesn't look like restart policy was implemented, was it?

[2021-04-27 18:38] terrytangyuan commented on #201
No it's not implemented yet.

[2021-04-27 18:46] alculquicondor commented on #201
I take that the only reason to move away from Job API was that active in k8s includes pending pods. Was this brought up to sig apps?

[2021-04-27 18:51] terrytangyuan commented on #201
Yes, quoting from https://github.com/kubeflow/mpi-operator/issues/315#issuecomment-801604825:

I don't think it's brought up to SIG Apps yet since none of us is involved in that SIG (others on this thread feel free to chime in and correct me if I am wrong).

[2021-04-27 19:12] alculquicondor commented on #201
I'm asking upstream :)

[2021-04-29 01:56] thesuperzapper commented on #341
Just wanted to weigh in with some thoughts:

* Most Kubeflow components are "loosely coupled", so in my mind, the definition of "being part of kubeflow" is mostly about if a Kubeflow Working Group is responsible it
* The committers of the mpi-operator can decide where the best home for it is, but I think being under the Kubeflow brand certainly will bring more attention to the tool

[2021-04-29 02:41] gaocegege commented on #341
/cc @zw0610

[2021-04-30 03:26] zw0610 commented on #352
/close as fix is merged

[2021-04-30 03:26] #352 closed

[2021-05-10 08:14] zw0610 commented on #12
let me update the progress so far. But first, sorry for the late update as I was working on the python-sdk-for-mpijob feat.

I went through most material mentioned by Ralph and got a quite basic understanding on `pmix`. Following this [article](https://openpbs.atlassian.net/wiki/spaces/PD/pages/519372812/PP-316%2BPMIx%2BIntegration%2Bwith%2BPBS%2BPro) from PBS Pro, I've made [a docker image](https

[2021-05-11 08:28] kim-sardine opened #358 "nodeSelector not working"
When I tried to use `nodeSelector` in MPiJob, it was not working.

I have two types of nodes. each have label like

`"accelerator": "nvidia-v100"`
`"accelerator": "nvidia-p100"`

and when I tried to make below spec, mpijob ran on node with label `"accelerator": "nvidia-p100"`

[code]

and I found that there is no `nodeSelector` in MPIJob Spec from [official reference](https://www.kubeflow.org/docs

[2021-05-11 08:37] #358 closed

[2021-05-11 09:06] heyfey opened #359 "failed to go get github.com/kubeflow/mpi-operator (invalid version: unknown revision 000000000000)"
Hi,
I want to use clienset in my project, therefore, I need to import it.

When I tried `go get github.com/kubeflow/mpi-operator`
I got
[code]

Then, I try to include it into my `go.mod` :
[code]
and use `go mod tidy`. The result is the same.

I've tried go 1.16 and 1.13, both got same results.
Any suggestions?

[2021-05-11 12:50] carmark commented on #359
sure, I will fix it.

[2021-05-11 12:51] carmark commented on #359
/assign carmark

[2021-05-17 20:37] alculquicondor commented on #341
Here is our proposal: #360

We decided not to move forward with the proposal of migrating mpi-operator to kubernetes-sigs.

[2021-05-18 18:59] terrytangyuan commented on #341
Thanks for the proposal.

Just curious, who are "we" and how was the decision made?

[2021-05-18 19:05] ahg-g commented on #341
Just the people who initially proposed to move it out (myself and Aldo)

We sensed some resistance, and so we felt that it is probably more productive if we focus our efforts on collaborating and contributing to improve the operator where it exists.

[2021-06-02 15:27] alculquicondor commented on #233
I started to look into this (along with integration tests). Did anyone make any progress?
I'm thinking of using this package https://pkg.go.dev/sigs.k8s.io/controller-runtime/pkg/envtest

[2021-06-02 15:29] alculquicondor commented on #217
I propose to add #360 as part of the requirements for v1, as part of the scalability needs.

[2021-06-02 15:37] alculquicondor opened #364 "Upgrade mod dependencies"
Currently, the operator builds against the 1.15 k8s libraries. Note that currently the oldest supported version of k8s is 1.19

Another dependency is kubeflow/common 0.3.3, which builds against k8s 1.16 libraries. 0.3.4 builds against 1.19

So we could at least upgrade to 1.19 dependencies. This should make it simpler to introduce more dependencies such as controller-runtime for integration and E2

[2021-06-02 15:37] alculquicondor commented on #364
cc @terrytangyuan

[2021-06-02 19:00] terrytangyuan commented on #364
Possibly related: https://github.com/kubeflow/mpi-operator/issues/323

[2021-06-02 19:26] alculquicondor commented on #364
So I gave it a try, and it seems that volcano is fine (it has a version that builds against 1.19).

The problem is kube-batch, used in v1alpha2. I suppose it's not safe to migrate v1alpha2 from kube-batch to volcano, right?

[2021-06-03 14:38] alculquicondor commented on #364
I tried to upgrade to 1.18, 1.17 and even 1.16. In all of them kube-batch fails to build.

Since this dependency nightmare might limit our abilities to iterate the v1 controller, I propose we move it to a separate module https://blog.golang.org/v2-go-modules

Or maybe I can just have the new controller proposed in #360 in the new module, solving the question about keeping the old and new one.

[2021-06-08 17:03] rongou opened #365 "migrate off docker hub autobuild"
Right now the deploy and example yaml files point to docker hub images built via their autobuild service, but Docker is turning off that service on June 18th, 2021, so those images won't be updated after that. Need to find an alternative to build these images:
[code]
@terrytangyuan

[2021-06-08 17:10] terrytangyuan commented on #365
@kubeflow/wg-training-leads @PatrickXYS Is there shared infra that can be used for this?

[2021-06-15 07:04] gaocegege commented on #365
cc @Jeffwan

[2021-06-16 20:43] asahalyft commented on #269
Hi @Minyus were you able to run pytorch or pytorch lightning using mpi operator with horovod. Could you please share the yaml that you applied?

[2021-06-21 17:34] #315 closed

[2021-06-22 13:01] terrytangyuan opened #367 "Remove k8s.io/sample-controller in go.mod"
See discussion in https://github.com/kubeflow/mpi-operator/pull/361/files#r635183791.

cc @carmark

[2021-06-23 11:01] johnugeorge commented on #342
How about having a pre processor/post processor for each job?

[2021-06-23 17:51] alculquicondor commented on #197
Can you give some context on why was this necessary?

In my opinion, having the workload run in the launcher gives a less clear API. Sometimes you have N workers (where N is the number specified in the worker replicas) and sometimes you have N+1.

Another potential problem is that you don't have a fine control of how much of the requests/limits should go to the launcher process and how much to the

[2021-06-28 17:46] gmatev opened #372 "[Question] Best practice for distributing training code to workers"
From the examples provided, it seems that the training script that each MPI worker will execute are bundled in the container images. Is there a better recommended approach for distributing the training code? Ideally looking for something that will allow images to be more static and only contain the required dependencies, while training code can be distributed as part of setting up the job.

Feel f

[2021-06-29 01:36] zw0610 commented on #372
I believe the training scripts should be separated from the training image, ideally. As code, training scripts are better organized and maintained on github/gitlab/etc. But either hosted on a server or just a cloud storage, you can inject an (initContainer)[https://kubernetes.io/docs/concepts/workloads/pods/init-containers/] which clones/copies code to an empty dir volume shared with the training

[2021-07-06 17:02] alculquicondor opened #373 "Implement v2 controller that sets up SSH for communication"
Implementation for https://github.com/kubeflow/mpi-operator/blob/master/proposals/scalable-robust-operator.md

- [ ] Replace kubectl and support roles with ssh and secrets
- [ ] Ensure the launcher starts after the workers are ready
- [ ] Ensure all container image examples support the SSH setup
- [ ] Replace the plain pod workers with StatefulSet or Indexed Job
- [ ] Replace the plain pod launche

[2021-07-07 02:29] gaocegege commented on #373
https://www.kubeflow.org/docs/about/contributing/#joining-the-kubeflow-github-org

Hi, could you please join the kubeflow org? Then we do not need to trigger the CICD for your PR manually.

[2021-07-07 12:57] alculquicondor commented on #373
Sent PR kubeflow/internal-acls#473

Thanks for the suggestion

[2021-07-25 14:20] TaylorHere opened #384 "[feature] Multiple Worker ReplicaSet or Worker Groups"
We have a case that should run Multiple Worker Groups, under which, nodes has different labels and taints, so we are looking forward to the worker spec should a list of ReplicaSet, so that we can have different node select and tolerates.

[2021-07-26 03:36] gaocegege commented on #384
Can you please give us an example for the feature?

Maybe like this?

[code]

[2021-07-26 13:28] alculquicondor commented on #384
Can you share more about your use case? In which scenarios is it useful to have workers on different types of nodes? Are there other reasons why you would need different templates for workers? Do you have any requirements around the names that the pods would get?

[2021-07-27 16:01] alculquicondor commented on #373
I verified that images `docker.io/kubeflow/mpi-horovod-mnist` and `docker.io/mpioperator/tensorflow-benchmarks` just work with the new controller. Marking that as done.

[2021-07-27 16:18] alculquicondor opened #386 "Allow launcher to start after workers are ready"
Part of #373. This was initially discussed in #360, but it didn't have a final conclusion.

In the v1 controller, an init-container was responsible of holding the start of the launcher until all the workers were ready.
In the v2 controller, we removed this init container for scalability and performance reasons (each init container is a controller that has to build a full cache of all the pods in t

[2021-07-27 16:18] alculquicondor commented on #386
cc @gaocegege @terrytangyuan @ahg-g @kawych

[2021-07-27 21:13] TaylorHere commented on #384
Hi，I have an example here:
https://github.com/TaylorHere/mpi-operator/blob/master/examples/v3beta1/example.yaml

we have a reinforcement learning MPI program that should run on different types of nodes, like CPU nodes and GPU nodes

[2021-07-28 02:50] gaocegege commented on #384
Are GPU nodes used for learners, and CPU nodes for actors?

[2021-07-28 02:51] gaocegege opened #388 "Run tests at merge time"
https://github.com/kubeflow/mpi-operator/pull/387

[2021-07-28 02:56] zw0610 commented on #384
Will the launcher container launches processes on all the different workers? Or the worker will start the training process by itself?

[2021-07-28 04:50] terrytangyuan commented on #388
Yes we can require PRs to be in sync with the main branch before merging.

[2021-07-28 04:54] terrytangyuan commented on #386
Agreed. The second option looks better and could leverage a Job.

[2021-07-28 05:13] TaylorHere commented on #384
yes, you are right,
@zw0610  launcher still launches processes on all workers for now, we will try to split it out, like a program runs env and actors and horovod runs learners, it's still on research.
the case I describe above may not work in my company, the Developer's thought that MPI is some kind hard techniques to use, and people with MPI skills is to hard to hire, so this feature request may

[2021-07-28 13:14] alculquicondor commented on #384
It's better to have a proven use case before implementing a feature. Specially this one that changes the API significantly. Otherwise:

- we have to maintain a feature that nobody uses forever
- we complicate the API for the regular user

[2021-07-28 17:25] ahg-g commented on #386
SGTM. +1 to using the job api wherever possible.

[2021-08-02 01:57] TaylorHere commented on #384
you are absolutely right.
maybe I should close this issue, free to re-open, if someone has new idea.

[2021-08-02 01:57] #384 closed

[2021-08-02 02:14] gaocegege commented on #384
Maybe we need a new operator for the RL workloads.

[2021-08-02 03:06] zw0610 commented on #384
exactly, which I'm working on for the all-in-one operator. Shall keep everyone updated once the prototype is ready.

[2021-08-05 15:28] alculquicondor opened #393 "Reevaluate: launcher can also run the workload"
Context:
- Making the launcher also run the workload was initially proposed in #197 and implemented in #276 and #363
- I'm trying to ensure that the API is well defined

Paraphrased from https://github.com/kubeflow/mpi-operator/issues/197#issuecomment-867040347:

In my opinion, having the workload run in the launcher is ambiguous. Sometimes you have N workers (where N is the number specified in th

[2021-08-05 15:29] alculquicondor commented on #393
cc @gaocegege @xychu @terrytangyuan @ahg-g

[2021-08-06 02:04] gaocegege commented on #393
cc @carmark

[2021-08-06 02:08] carmark commented on #393
We do not have CPU node in our GPU cluster, so the launcher will be better to run workload as same as others.

[2021-08-06 06:09] Dimss opened #394 "Launcher service account is always overwritten"
There is no way to use existing RBAC configurations (`ServiceAccount`, `Role` and `RoleBinding`) for `Launcher` containers.
The MPIJob spec includes K8s pod template, where end user may configure desired `ServiceAccountName`
This configuration works as expected with `Worker` spec, but not with `Launcher` spec.

For example, configuring `spec.mpiReplicaSpecs.Worker.template.spec.serviceAccountName=

[2021-08-06 06:09] gaocegege commented on #394
/kind bug

[2021-08-06 13:52] alculquicondor commented on #393
What if set the launcher Pod with 0 requests so that it can land in the same Node as a worker? That should give you the behavior you want.

[2021-08-06 14:03] alculquicondor commented on #394
@Dimss consider trying the v2 controller, which doesn't depend on ServiceAccounts :)

[2021-08-06 14:11] Dimss commented on #394
@alculquicondor two questions
1. is v2 controller is production grade?
2. is v2 controller is serving same CRD spec as `v1alpha2`

[2021-08-06 14:13] alculquicondor commented on #394
1. I'm working towards it. So far it has more coverage that the previous versions. But no-one is using it in production AFAIK.
2. No, I'm taking the chance to work towards a consistent API. It would be ideal to have a conversion webhook, but I might not have time for it. I would appreciate if someone else can take that lead, though.

[2021-08-06 14:21] Dimss commented on #394
@alculquicondor thank you for your response.
So, in that case, I'll have to continue to use `v1alpha2`, and hopefully my PR (#395) will be approved.

[2021-08-06 14:47] alculquicondor commented on #394
I'd appreciate if you still have a chance to try the v2 controller. You can follow along with the progress in #373

[2021-08-09 14:46] alculquicondor commented on #393
ping @carmark @terrytangyuan

[2021-08-09 20:26] alculquicondor commented on #296
@Jeffwan, I would like to add E2E tests.

Does this mean that the mpi-operator project has to find where to run their tests? Or is there any common infra already in place for the training WG? If so, Is there any guidebook to start adding the workflows and tests?

[2021-08-10 06:02] carmark commented on #393
OK, SGTM

[2021-08-10 14:27] HeGaoYuan opened #396 "comment and code are inconsistent"
Hi, kubeflow/mpi-operator team
    I read your code, and found that this comment/code is confusing.
    https://github.com/kubeflow/mpi-operator/blob/990bf1c39dc641c65f9f56f2e9d2fbf1d9c31a81/pkg/controllers/v1/mpi_job_controller_status.go#L121-L124
    The comment says "Do not update lastTransitionTime if the status of the condition doesn't change.", but the code's action is "update lastTransition

[2021-08-10 15:04] alculquicondor commented on #396
It is copying the `LastTransitionTime` from the existing condition into the new condition. That is inline with the comment.

[2021-08-10 15:11] HeGaoYuan commented on #396
@alculquicondor Thanks for your reply. I am sorry that I was wrong.

[2021-08-10 15:11] #396 closed

[2021-08-12 21:03] Jeffwan commented on #373
@alculquicondor Has community discussed tradeoffs about job vs pod for launcher, statefulsets vs plain pods for workers?

[2021-08-12 21:21] alculquicondor commented on #373
Yes for launcher. See the discussion here #386

For workers, it's still open for discussion. We could do Statefulsets, but I think plain pods might be fine for now. We might migrate to Indexed Jobs at some point, but since it's only available in k8s 1.22, it's kind of early to discuss.

[2021-08-13 02:47] gaocegege opened #400 "[question] MPIDistribution is missing in v1 CRD"
MPIDistribution is missing in v1 but it exists in v1alpha2. Did we remove it?

/cc @terrytangyuan @alculquicondor @zw0610

[2021-08-13 12:58] alculquicondor commented on #400
That would have been before I started contributing.

[2021-08-13 12:59] alculquicondor commented on #400
That said, I named the field `MPIImplementation` in v2beta1. Should we change it to MPIDistribution for consistency?

[2021-08-13 13:28] zw0610 commented on #400
I don't think so. It looks the v1 API drops MPIDistribution from v1alpha2.

[2021-08-13 19:32] alculquicondor commented on #364
The dependencies were upgraded for the v2 controller #370

/close

[2021-08-13 19:32] #364 closed

[2021-08-14 08:47] gaocegege commented on #400
Yeah, I am wondering why to drop it.

[2021-08-16 14:09] alculquicondor opened #401 "Add coverage for MPIJob scaling"
There are no tests covering a change in number of workers. Tests at unit and/or integration level would be ideal.

[2021-08-16 14:10] alculquicondor commented on #401
/help

[2021-08-16 14:43] alculquicondor opened #402 "Add coverage for cleanup Policies None and Running"
`TestShutdownWorker` only tests the policy `All`. We are missing unit tests for the other 2 policies.

/help

[2021-08-16 20:26] alculquicondor commented on #233
With #399 and #403, I think we should be good to close this.

@terrytangyuan wdyt?

[2021-08-16 20:27] terrytangyuan commented on #233
Sure

[2021-08-16 20:27] #233 closed

[2021-08-16 20:27] #296 closed

[2021-08-16 20:28] #9 closed

[2021-08-16 20:42] #393 closed

[2021-08-16 23:01] Jeffwan commented on #296
https://github.com/kubeflow/testing/tree/master/aws We use this infra for e2e testing. It can provision the cluster and you can run test against it.

[2021-08-16 23:01] Jeffwan commented on #296
/cc @alculquicondor

[2021-08-17 13:25] alculquicondor commented on #296
We added local tests using kind. This should be enough for now. But thanks for the pointer, maybe it will be useful in the future for more complex workloads.

[2021-08-17 18:06] alculquicondor commented on #373
I think this is pretty much ready. The last things I would like to do are:
- update the labels to use fully-qualified names. For that, I'm waiting for a release of kubeflow/common#153
- Add documentation (is there a website, or should I just do it on readmes)?

[2021-08-18 02:40] terrytangyuan commented on #373
There's this page https://www.kubeflow.org/docs/components/training/mpi/

[2021-08-18 15:26] xhejtman opened #407 "Wrong network rules for horovod example"
Hello,

I use kubeflow 1.3.0, mpi-operator latest from Jul 5 2021. I tried MPI Job example horovod, however, launcher deployment has error in kubectl-delivery pod:
Failed to list *v1.Pod: Get https://10.43.0.1:443/api/v1/namespaces/adrian/pods?limit=500&resourceVersion=0: dial tcp 10.43.0.1:443: connect: connection refused

I tested, the pod is unable to reach any outer node or external internet o

[2021-08-19 13:44] alculquicondor opened #408 "Build CRDs using kubebuilder"
Currently, CRDs are written manually. kubebuilder should be able to handle this for us, while guaranteeing that the API remains structured under the OpenAPI v3 definition.

[2021-08-19 13:44] alculquicondor commented on #408
/help

[2021-08-19 23:24] xhejtman commented on #407
It seems that the problem is that MPIJob cannot run in istio enabled namespace. In pure namespace, it runs OK. Is this expected? mpi-operator is currently incompatible with istio?

[2021-08-20 01:48] gaocegege commented on #408
Thanks for the issue. I think we need it.

Maybe we can use https://github.com/kubernetes-sigs/controller-tools directly.

[2021-08-20 05:58] Jeffwan opened #410 "Support target pod deletion in elastic training scenario"
Currently, as I understand, operator doesn't support to scale down specified pods. Replica delta won't give us the granular control.  If we plan to use spot instance, because the instance goes down, we will received notification from node terminator. In that case, we want to scale in the workers on that node instead of sequentially or randomly remove some replicas to achieve the desired number.

O

[2021-08-20 09:05] xhejtman commented on #407
The problem with istio namespace is, that an istio proxy sidecar is injected. If the istio proxy is not running, no pod can reach network, including init containers. However, istio proxy does not start till all init containers finish. mpi operator runs kubect-delivery initcontainer that needs to access kube api. This is not possible till istio proxy starts. However, the istio proxy does not start

[2021-08-20 09:11] gaocegege commented on #407
Can you add a label to disable injection?

[2021-08-20 09:25] xhejtman commented on #407
I could but I guess it is the same as a new namespace without istio, isn't it? The question is whether the mpi operator can work in istio enabled namespaces or not. If not, maybe it is worth of mention it in README as whole kubeflow framework actually needs istio ;)

[2021-08-20 09:51] gaocegege commented on #407
/cc @andreyvelich I remember that we encounter this problem before in Katib.

[2021-08-20 11:44] andreyvelich commented on #407
We disabled istio sidecar for Katib Trials because we are using external source to download dataset: https://github.com/kubeflow/katib/blob/master/examples/v1beta1/mxnet-mnist/mnist.py#L44.
I am not sure if MPI Operator can work with istio enabled.

What do you think @alculquicondor @terrytangyuan ?

[2021-08-20 14:01] alculquicondor commented on #410
In the scenario you describe, I think the solution goes like this:
- You cordon the node (this prevents new pods from landing there)
- You drain the node (removes the pods and the node once all pods are gone)
- The operator creates replacement pod that would land somewhere else.

Is this what you are looking for? Or do you want to only have 2 workers after you drain the node?

[2021-08-20 14:06] zw0610 commented on #410
/assign @zw0610

I will add this feature into v1 controller.

[2021-08-20 14:16] alculquicondor commented on #410
@zw0610 can we discuss first what the use case is and the solution could look like?
One question I foresee is how do we handle the indexes. So far all the indexes are continuous. Would we break this assumption? What is the API going to look like?

Also, the v2 controller is pretty much ready #373 (only missing documentation) so we probably need to implement this in v2 or both.

[2021-08-20 15:11] alculquicondor commented on #410
FYI, we recently introduced a similar feature in k8s ReplicaSet kubernetes/enhancements#2255

And there are some interesting discussions around it in the past week.

[2021-08-20 16:40] Jeffwan commented on #410
@alculquicondor

That's not the same the case. You can think in some scenarios, we don't want to find replacement any more. Is spot is recycled, usually entire VM market lack of resources. It's very hard to get new cheep resources. Technically, we don't the job scale in instead of two tasks pending and keep waiting for resources.

I looked at PodDeletionCost feature. some other advanced StatefulSe

[2021-08-20 16:50] alculquicondor commented on #410
So we are talking about reducing the parallelism here. Can you answer the questions above then?

[2021-08-20 17:47] alculquicondor commented on #410
When we are building an API, it's fine to start small to cover just the use case we already know of. But it's useful to think what other extensions could there be in the future and leave the options open for that. That's why I shared the discussion in kubernetes/enhancements#2255, so that we have a view of the problems that other people are facing and are trying to solve.

[2021-08-20 18:08] terrytangyuan commented on #407
I haven't tried it with Istio before so I would recommend adding a note on README regarding this unless others have successful experience with using them together.

[2021-08-20 18:16] alculquicondor commented on #407
The v2 controller doesn't have init containers. Please consider giving it a try. I'm currently working on documenting it, but it's already fully functional.

You can build it with

[code]

Then you can deploy it with
[code]

[2021-08-20 19:30] alculquicondor opened #412 "Update helm chart to use the v2 controller"
Some changes I'm aware of:

- RBACs have changed a little
- Some arguments are no longer supported (such as `gpus-per-node`, `kubectl-delivery-image`)

/help

[2021-08-20 19:32] alculquicondor commented on #412
@omesser were there any scripts you used to generate the original chart?

[2021-08-20 19:40] alculquicondor opened #413 "Include the v2beta1 CRD in the Python client"
Probably possible by regenerating the client using the v2 submodule

/help

[2021-08-20 20:15] ahg-g commented on #410
Also, the sequence of events that leads to the job getting downscaled and how that is communicated is not clear to me.

[2021-08-20 23:43] zw0610 commented on #410
There is one thing we have to clarify first: these user cases are limited to [Horovod Elastic](https://horovod.readthedocs.io/en/stable/elastic_include.html) distributed training tasks. In these cases, the index is meaningless.

@Jeffwan @DeliangFan
Regarding the APIs, I would suggest two scenarios:
1. convert the desired deletion sequence into a string and update the annotation of the MPIJob with

[2021-08-21 19:48] xhejtman commented on #407
Ok, thanks, I will give it a try. Does it use ssh or does it work without root? I am interested in the latter one. Not sure whether to create a new issue or just mention it here, but it seems that if MPI job fails (e.g. due to istio problem) and you delete it and recreate then no pods ever get created on the second try. I need to rename the job.

[2021-08-23 12:49] Garrybest opened #415 "v1 deploy dees not work"
What happened:
[code]

It seems the image `mpioperator/mpi-operator:latest` does not contains `/opt/mpi-operator.v1`.

[2021-08-23 12:50] Garrybest commented on #415
/kind bug

[2021-08-23 14:33] alculquicondor commented on #410
Even if the index is meaningless, we need to clarify the expectations to users. It's also useful for us to have a clear algorithm to manage the indexes so that we don't end up removing Pods that we shouldn't. For example, the current controller removes any pod that has an index greater than the number of replicas.
Follow up question: what happens when the user decides to increase the number of rep

[2021-08-23 14:40] alculquicondor commented on #407
Yes, it uses ssh and it works without root, but you need to make sure the image supports it. See the example in `examples/pi`.

Please open a separate issue with precise steps, wait times, log lines, etc.

[2021-08-23 14:46] xhejtman commented on #407
Unfortunately, it requires root for init-ssh container. If you have restrictive PSP, it fails. I try to fix it so it is able to run on PSP enabled cluster and provide patch if interested.

[2021-08-23 15:00] xhejtman commented on #407
this is launcher definition:

[code]

and I believe, this code should set runasuser for init-ssh container as well, but apparently, it does not.

[code]

[2021-08-23 15:02] xhejtman commented on #407
ah, nope, my bad. It is not implemented for init-ssh container.

[2021-08-23 15:03] alculquicondor commented on #415
AFAIK, the v1 controller was not officially released. You have to build it yourself.

[2021-08-23 15:55] alculquicondor commented on #407
Unfortunately, the init container needs root permissions to be able to change the owner of the volumes. This is some kubernetes limitation. One thing we could do is to have an option to disable the init-container, but then your image should know how to grab the ssh keys from `/mnt/ssh` and put them in the HOME directory.

This was actually my initial approach, but it put burden in the author of th

[2021-08-23 18:26] xhejtman commented on #407
What about using a PVC for home? Those init containers are good as you do not need to make special initialization in the MPI containers. PVCs for home are already working OK.

So perhaps to add an option for home storage instead of emptyDir and allow init containers to run as user?

[2021-08-23 19:27] alculquicondor commented on #407
Do you mean having `/home` as a Volume or `/home/mpiuser`? I tried the latter but `ssh` complained about directory permissions.

I don't think it being a PVC or emptyDir would be an issue

[2021-08-23 20:08] xhejtman commented on #407
You are probably right. However, I found how to mitigate this problem. Just set `StrictModes no` into /etc/ssh/sshd_config. For non-root, also listen on, e.g., port 2222, set /etc/ssh/ssh_config to connect on port 2222 instead of 22, and PI example works even on PSP enabled clusters. Also do not set CAP on /usr/sbin/sshd in such a case.

The only thing I needed in operator was to put away chmod 07

[2021-08-23 20:18] alculquicondor commented on #407
Oh, I didn't know about `StrictModes no`. Does this disable the check for both `/home/mpiuser` and `/home/mpiuser/.ssh` or just the first?

I think you should be able to change the port to 2222 and the ssh_config on your own images. I prefer to keep the sample simple. The operator doesn't need to know about the port.

It sounds like you have a working prototype. Can you send a PR?

[2021-08-23 20:22] alculquicondor commented on #407
I think we can simply remove those lines and recommend users to set `StrictModes no`.

Since the workloads run in a container, there is no need to "secure" the home directory and ssh keys further.

[2021-08-23 20:24] xhejtman commented on #407
I use emptyDir for ~/.ssh now with terrible access rights 0777 but it just works with `StrictModes no`.

yeah the port 2222 is good perhaps for non-root example.

Prototype is currently like this:
[code]

but if you are ok just remove them, ok, no other change is needed.

So, you are happy to remove those lines, I can provide at least working PI - non root example.

[2021-08-23 20:27] alculquicondor commented on #407
Can we go further and remove the initContainer altogether?

The only reason we needed it was because of the tight file permission requirements. If we can get rid of those checks with `StrictModes no`, can't we simply mount the Secret in the workload container and point sshd_config to the keys there?

[2021-08-23 20:29] alculquicondor commented on #407
/retitle v2 initContainer can't run as non-root

[2021-08-23 20:30] alculquicondor commented on #407
That didn't work, @xhejtman can you retitle the issue as suggested above?

[2021-08-23 20:30] xhejtman commented on #407
We could if it is ok that ~/.ssh/known_hosts is not writtable.  Mounted secrets are readonly.

[2021-08-23 20:35] alculquicondor commented on #407
I think we would have to mount the secret somewhere else, for example `/opt/ssh-creds`. Then have a `sshd_config` that points to the keys in there. And we also need `.ssh/config` that points to the public key.

[2021-08-23 20:42] xhejtman commented on #407
or you just can use UserKnownHostsFile to point .known-hosts to a different location.. or maybe a bit safer solution, pre-generate hostkeys and populate /etc/ssh/ssh_known_hosts. Not sure, if this is easy to do currently.

[2021-08-23 20:50] alculquicondor commented on #407
Generating the known_hosts would be impossible, because we don't know the Pod IPs before they start.

Having a different `UserKnownHostsFile` sounds good. But the problem I see with mounting the `.ssh` folder directly is anything that the image had in there is lost, like a `.ssh/config` file. But maybe that's fine, because there are alternatives (like just editing /etc/ssh/ssh_config).

So it come

[2021-08-23 20:55] xhejtman commented on #407
Yes you are right, letting user decide where to mnount ssh keys is the best option. Whether they mount it to ~/.ssh or not is up to them.

So if you release a new version of the operator, I can test it and provide PI example without root.

[2021-08-24 06:09] zw0610 commented on #410
Good point. Here is a more detailed behavior expectation:
- Assume an MPIJob is reconciled
- When reconciling pods, if the (worker) replicas number is less than the existing pods, the reconciler will delete pods by the following order:

- If the (worker) replicas number is larger than the existing pods, the reconciler will fill the gap until the total number of pods matches the replicas.

[2021-08-24 11:43] #415 closed

[2021-08-24 15:52] alculquicondor commented on #407
I'm still working on it. After removing the init container, the non-root use case works, but root doesn't. This is the error:

[code]

Are you aware of away to disable that check?

[2021-08-24 15:58] xhejtman commented on #407
Are you mounting a secret? I think you can set mode for individual files: defaultMode: 400, just checked, for ssh connect, access rights 0777 on .ssh do not matter.

[2021-08-24 16:03] alculquicondor commented on #407
Yes, I'm mounting the secret directly. However, I cannot use `0400` for non-root. It has to be at least `0440`. I can detect if there is any security context with `runAsUser`, but I would be great if I didn't have to do that.

[2021-08-25 05:54] Jeffwan commented on #410
I was out of town and just come back. Agree. We should avoid one-way door. As I said, Both way work and there're tradeoffs.  Like "controller.kubernetes.io/pod-deletion-cost"  feature has assumption. 1. ReplicaSets 2. client accepts to update the pods and has the permission to update the pod instead of operate job itself. 3. No concerns on scalability.  In some scenarios, these won't be fulfilled.

[2021-08-25 13:10] alculquicondor commented on #410
Clarifying on (1) and (4): I wasn't suggesting we "use" the existing pod-deletion-cost feature as it's only available for RS in 1.22+. I was just suggesting we use the same API so that in the future we could migrate the worker Pods management to a k8s workload API with less disruption to users.

In any case, I think you are presenting fair points in favor of an API at the MPIJob level. The next qu

[2021-08-25 13:26] xhejtman commented on #386
the second is functional, but looks a bit nasty to me:
![mpi-launcher](https://user-images.githubusercontent.com/22795052/130798770-b7b63c99-b51f-4e04-b983-28e691cb7b5d.png)

[2021-08-25 13:27] xhejtman commented on #386
but may be it solvable just to use another type of deployment of launcher job so that it restarts in place?

[2021-08-25 13:27] alculquicondor commented on #386
You can definitely use `restartPolicy: OnFailure`

[2021-08-25 13:31] xhejtman commented on #386
could it be a default then?

[2021-08-25 13:43] alculquicondor commented on #386
The default in k8s is `Always`, which is not allowed for Jobs. I guess having `OnFailure` for MPIJob is fair. Do you mind sending a PR for that?

[2021-08-25 13:54] xhejtman commented on #386
wilco

[2021-08-25 16:42] Jeffwan commented on #410
Got you.

Agree. A lot of details need to be finalized. Seems @zw0610 is interested in this story and let's see if he wants to drive the efforts. I can give some help if needed.

[2021-08-26 18:28] alculquicondor opened #418 "Provide base images that work with the v2 operator"
We need a base image that has OpenSSH properly configured. The other example images should inherit from it.

We can also provide a base image that contains OpenMPI and another for Intel.

[2021-08-30 13:56] alculquicondor commented on #386
@xhejtman are you still working on that PR? I think that would be the only change pending before we can release v2.

[2021-08-30 14:00] xhejtman commented on #386
I already sent it. Maybe on wrong place?

https://github.com/alculquicondor/mpi-operator/pull/1

[2021-08-30 14:01] alculquicondor commented on #386
Yes, that's my fork. Do it for this repository