[2021-08-31 06:14] evalsocket commented on #322
@kuizhiqing I made the changes that you mention, But issue is not resolve

[2021-09-03 15:52] alculquicondor opened #422 "Delete v1alpha1 operator"
And migrate samples to the v2 controller. Notably `examples/mxnet`

/help

[2021-09-06 02:31] Jeffwan opened #423 "Update mpi-operator docs for 1.4"
Can someone help update docs for 1.4 base on mpi release plan?

Doc: https://www.kubeflow.org/docs/components/training/mpi/
Umbrella issue: https://github.com/kubeflow/website/issues/2915

/cc @terrytangyuan @zw0610 @alculquicondor

[2021-09-06 22:50] #423 closed

[2021-09-07 13:51] alculquicondor commented on #423
@terrytangyuan I thought the new operator wouldn't be included in kubeflow 1.4

[2021-09-08 11:20] crispto opened #424 "tensorflow-bencharmark worker Authentication refused: bad ownership or modes for directory /root/.ssh"
I'm new to kubefow, and I'm trying to run  a exmaple job in /examples/v1/tensorflow-benchmarks.yaml, but the launcher crashed after a few minutes and the working is still running. Logs show something like this is ORTE problem.
Some more infomation
 logs of the launcher, the launcher disappeared afater a few minutes while the workers are still running

`root@localhost v1]# kubectl logs tensorflow-b

[2021-09-08 14:04] alculquicondor commented on #424
I apologize, I forgot to upload the new image for the tensorflow benchmarks that is compatible with the new version. I just uploaded it and did a successful run of `examples/v1/tensorflow-benchmarks.yaml`.

I think the failure you are seeing for the imagenet might be because the workers don't fit in your cluster (note that the workers request 8 GPUs). The way kubernetes works is that it would only

[2021-09-09 02:53] crispto commented on #424
Thank you for your reply. I have pull the lated code and run examples/v1/tensorflow-benchmarks.yaml , but still get the error. The workers  are  running, while the launcher can not access them , looks like some ssh authentication problem.

root@localhost v1# kubectl get po
NAME                                                READY   STATUS             RESTARTS   AGE
nfs-client-nfs-client-provisione

[2021-09-09 13:42] alculquicondor commented on #424
From the master branch, I just ran in a brand new cluster:

[code]

And it worked normally. Note that the latest image has the following configuration: https://github.com/kubeflow/mpi-operator/blob/master/examples/tensorflow-benchmarks/Dockerfile#L3-L7
This should disable the file permission checks and disable writing the known hosts (because `/root/.ssh` is indeed read-only in mpi-operator).
So I

[2021-09-09 21:32] alculquicondor opened #426 "Conditionally create the launcher Service for Intel"
If you are not familiar with Intel MPI, by default workers communicate back to the launcher using its hostname. In the operator, we use a headless Service so the launcher hostname gets a DNS record.

However, I recently learned that there is a way to avoid a launcher Service when creating Intel MPI jobs. If you specify the `-iface` flag with the network interface, the IP is used instead. You can a

[2021-09-09 21:33] alculquicondor commented on #426
cc @terrytangyuan @ahg-g

[2021-09-09 22:31] alculquicondor opened #427 "Support hostNetwork Pods"
In a normal Pod `/etc/resolv.conf` contains this line:

[code]

This allow us to resolve services in the same namespace by just using the service name. Or when using a headless Service, to refer to specific pod hostnames by `pod-hostname.service-name`.

However, when using `hostNetwork: true`, the `/etc/resolv.conf` doesn't include those search entries. Then, the only way to resolve a pod hostname

[2021-09-09 22:31] alculquicondor commented on #427
cc @ahg-g

[2021-09-09 22:42] prameshj commented on #427
I thought that might work too.. but we can't add a TXT record like "cluster.domain"pointing to cluster.local. The dns provider is authoritative only for "cluster.local" (or any custom cluster suffix). So all names should be of the form *.cluster.local. Not much point in "cluster.domain.cluster.local" TXT "cluster.local" for your usecase.

[2021-09-10 03:41] crispto commented on #424
you got it ,  though I don't know why docker pull didn't get me the latest clone.  I  build a new image from Dockerfile and the error disappeared! ,  Thanks!

[2021-09-10 13:12] alculquicondor commented on #424
Awesome

/close

[2021-09-10 13:12] #424 closed

[2021-09-10 15:50] ahg-g commented on #427
If we want to address this locally, then I think the most generic approach is to pass the cluster domain as a flag that defaults to `cluster.local`. This will work most of the time.

If we want to be a bit more sophisticated, we can do the following:
1) if hostnetworking is not set, continue with the current approach (refer to pods using `pod-hostname.service-name`), completely ignore the flag.
2)

[2021-09-10 15:52] ahg-g commented on #427
the other option is for the flag to default to parsing from its `/etc/resolv.conf` as you mentioned in the first option.

[2021-09-10 18:20] ahg-g commented on #426
You mean the launcher will communicate its IP to the workers so they use it when connecting back?

In general, specifying the interface name is quite strange. Other than the issue of hostnetworking, which I think we can workaround, what is the disadvantage of continuing to create a headless service for the launcher?

[2021-09-10 18:25] alculquicondor commented on #426
Correct.

Actually, if the launcher uses the node hostname, I think the workers should be able to resolve it. At least they do in GKE.

It's just one more DNS entry we need to wait for to be ready. But perhaps the effect is negligible in a big Job. So, very low priority.

[2021-09-10 18:46] terrytangyuan commented on #426
It's no big deal to create a headless service for launcher for me. You can give very minimal resources if that's the concern.

[2021-09-10 20:30] alculquicondor commented on #427
While I was trying to add code to parse `/etc/resolv.conf`, I realized that there is a field in the Pod spec that forces the kubelet to add the search fields to the Pod even if it uses hostNetwork: [ClusterFirstWithHostNet](https://kubernetes.io/docs/concepts/services-networking/dns-pod-service/#pod-s-dns-policy).

So there are two solutions:
1. Document that if users want support for hostNetwork,

[2021-09-10 21:20] alculquicondor commented on #427
Just verified that using `dnsPolicy: ClusterFirstWithHostNet` works :)

[2021-09-14 14:52] ahg-g commented on #426
Services don't require "giving" resources.

[2021-09-14 15:29] alculquicondor commented on #426
It doesn't seem like getting rid of the Service would provide a valuable difference to users.

Perhaps we can re-evaluate if Intel MPI handles failures and retries better so that we can completely get rid of the entry point. That would make it equivalent to the infrastructure for Open MPI.

/close

[2021-09-14 15:29] #426 closed

[2021-09-20 19:08] alculquicondor commented on #394
btw @Dimss: the v2 controller is now released as v0.3.0.

[2021-09-24 17:14] OpenZSD commented on #297
I'm encountering this issue, is there a quick fix/hack to this issue?

[2021-09-24 19:03] alculquicondor commented on #297
Please provide more information: the version you are running, the api version you are using, etc.

[2021-09-24 19:36] OpenZSD commented on #297
Let me know what else to query...

kubeflow.org/v1
kubeflow.org/v1alpha1
kubeflow.org/v1alpha2
kubeflow.org/v1beta1
Server Version: version.Info{Major:"1", Minor:"20", GitVersion:"v1.20.4", GitCommit:"e87da0bd6e03ec3fea7933c4b5263d151aafd07c", GitTreeState:"clean", BuildDate:"2021-02-18T16:03:00Z", GoVersion:"go1.15.8", Compiler:"gc", Platform:"linux/amd64"}

[2021-09-24 19:50] OpenZSD commented on #297
As for my job manifest:

apiVersion: kubeflow.org/v1beta1
kind: MPIJob
metadata:
...

[2021-09-24 20:00] alculquicondor commented on #297
Can you confirm which version of the mpi-operator you are running? I suppose you can have a look at the deployment image.

[2021-09-27 22:14] OpenZSD commented on #297
via [k get all -n mpi-operator -oyaml > mpi-operator-k-get-all.yaml] :
.../docker.io/mpi-operator:v0.2.3

[2021-09-28 15:33] alculquicondor commented on #297
Are you getting the same kind of error in the logs?

[code]

If so, I believe the manifest here: https://github.com/kubeflow/mpi-operator/blob/master/deploy/v1/mpi-operator.yaml shouldn't have the problem mentioned here https://github.com/kubeflow/mpi-operator/issues/297#issuecomment-758612853

[2021-09-29 06:39] celiawa commented on #424
Hi @alculquicondor, I have below error for the launcher pod.  Could you please help to have a look.

[code]
[code]

My mpioperator/tensorflow-benchmarks is below, "2 weeks ago" much new.

[code]

And I've checked that in this tensorflow-benchmarks image, It have the following configuration: https://github.com/kubeflow/mpi-operator/blob/master/examples/tensorflow-benchmarks/Dockerfile#L3-L7

[code]

[2021-09-29 08:07] celiawa opened #429 "tensorflow-bencharmark worker Authentication: Permissions 0640 for '/root/.ssh/id_rsa' are too open."
Hi, I'm trying to run a exmaple job in /examples/v1/tensorflow-benchmarks.yaml. I have below error for the launcher pod. Could you please help to have a look.

[code]

[code]

My mpioperator/tensorflow-benchmarks is below, "2 weeks ago" much new.
[code]

And I've checked that in this tensorflow-benchmarks image, It have the following configuration: https://github.com/kubeflow/mpi-operator/blob/mas

[2021-09-29 13:17] alculquicondor commented on #424
This log line:

Implies that somehow this didn't run:

https://github.com/kubeflow/mpi-operator/blob/c5c0c3ef99ec9de948600766988ea7134d3d2af6/v2/pkg/controller/mpi_job_controller.go#L1526

Can you show the output of `kubectl -o yaml pod tensorflow-benchmarks-launcher-62t7l`? I wonder if the volumes were setup correctly.

[2021-09-29 13:31] alculquicondor commented on #424
I just run the sample using mpi-operator:0.3.0, /deploy/v1beta2/mpi-operator.yaml and /examples/v1/tensorflow-benchmarks.yaml from the master branch and couldn't reproduce the issue

[2021-09-29 13:34] alculquicondor commented on #429
This log line:

Implies that somehow this didn't run:

https://github.com/kubeflow/mpi-operator/blob/c5c0c3ef99ec9de948600766988ea7134d3d2af6/v2/pkg/controller/mpi_job_controller.go#L1526

Can you show the output of `kubectl get -o yaml pod tensorflow-benchmarks-launcher-62t7l`? I wonder if the volumes were setup correctly.

[2021-09-29 13:34] alculquicondor commented on #424
I'll stop answering here in favor of #429

[2021-09-30 01:08] celiawa commented on #429
Hi @alculquicondor , thanks for taking time on this issue.

I think I found that maybe related to the istio sidercar. If I deployed /examples/v1/tensorflow-benchmarks.yaml in a namespace without sidecar.istio.io/inject: "true". Then the Launcher pod running without problem.

If deployed in a namespace with auto istio sider car injection. Then Launcher pod with this error.

[code]

[2021-09-30 16:04] alculquicondor commented on #429
I wonder if this has something to do with the security context:

[code]

Perhaps that's changing the permissions of the volume mounted in `/root/.ssh`.

Can you try running a different sample? https://github.com/kubeflow/mpi-operator/blob/master/examples/pi/pi.yaml

This sample run as non-root. That's a good thing in general. Perhaps there will be no way to support running as root when using istio

[2021-09-30 19:11] alculquicondor commented on #429
The root cause seems to be the `fsGroup` indeed. Here is the upstream issue: kubernetes/kubernetes#57923

And there is this proposal for a fix that hasn't started yet kubernetes/enhancements#2605

[2021-10-01 18:59] OpenZSD commented on #297
Couldn't find that line. Below is a chunk of the mpi pod log.
`
I0923 17:33:45.775485       1 server.go:88] Using cluster scoped operator
I0923 17:33:45.775535       1 server.go:94] [API Version: v1alpha2 Version: v0.2.2 Git SHA: aa96794299fa336f2132fb15fe98cc4b7f1d2599 Built: 2020-05-19 15:51:49 Go Version: go1.13.6 Go OS/Arch: linux/amd64]
I0923 17:33:45.775550       1 server.go:97] Server optio

[2021-10-04 13:45] alculquicondor commented on #297
Uhm.... And the job still exists?

[2021-10-04 15:06] alculquicondor commented on #429
@celiawa, could you try the other sample?

[2021-10-05 15:14] alculquicondor commented on #429
/retitle Can't run as root when using istio

[2021-10-07 00:11] OpenZSD commented on #297
Not sure about the one in the default namespace. Here's a more current one:
Log from MPI-Operator pod:
I1006 23:24:18.960746       1 mpi_job_controller.go:447] Finished syncing job "team/mpiexampledemo44" (70.336037ms)
E1006 23:24:18.960789       1 mpi_job_controller.go:434] error syncing 'team/mpiexampledemo44': mpijobs.kubeflow.org "mpiexampledemo44" not found
I1006 23:24:18.961804       1 mpi_j

[2021-10-08 13:51] alculquicondor commented on #429
Can you provide more information? Like the worker logs and the yamls for launcher and workers?

[2021-10-09 05:46] celiawa commented on #429
Hi, Please refer below info. Logs with OMPI_MCA_orte_debug  setting to true.

<details>
  <summary>yamls for launcher</summary>
<pre><code>
$ k turing001 -n mynamesoace get po pi-launcher-n5p27 -oyaml
apiVersion: v1
kind: Pod
metadata:
  annotations:
    cni.projectcalico.org/podIP: 10.42.198.107/32
    cni.projectcalico.org/podIPs: 10.42.198.107/32
    kubectl.kubernetes.io/default-logs-container

[2021-10-09 07:03] celiawa commented on #429
BTW,  the sample https://github.com/kubeflow/mpi-operator/blob/master/examples/pi/pi.yaml worked well in the namespace without istio injection.

[2021-10-09 13:46] alculquicondor commented on #429
From the worker logs, it seems that:
- DNS resolution is working
- SSH is working: no file permission or handshake errors.

Maybe the orte protocol is failing to establish over an istio service? Perhaps TCP needs to be authorized or something. I'm not at all familiar with istio.

@xhejtman you were also running over istio. Did you find issues similar to this?
cc @ahg-g for ideas around istio netwo

[2021-10-09 21:23] xhejtman commented on #429
no, but mainly I do not use run-as-root, I am avoiding it as much as possible. The istio had an issue with initcontainers which is not the case here. But I can give it a try on our cluster.

[2021-10-09 22:16] Jeffwan commented on #422
I briefly check all the dependencies. I think the major problem Aldo encountered was master used too old kubernetes and old volcano dependencies.

[code]

and v2 uses 1.19 which is aligned with existing training operator setting.  We've actually handles these issues in the past. See follow issues for details

https://github.com/kubeflow/common/pull/87
https://github.com/kubeflow/common/pull/123
ht

[2021-10-10 01:40] zw0610 commented on #422
Sounds good. Since our holiday week just ended, let me check with @hackerboy01 when we can remove `WIP`.

[2021-10-11 00:38] terrytangyuan commented on #422
Sounds good to me.

[2021-10-12 21:01] xhejtman commented on #429
@alculquicondor I can confirm that tensorflow benchmark does not work, if run in istio enabled namespace. I ended with:
ssh_exchange_identification: Connection closed by remote host

It seems that istio proxy is causing this, as I saw that it changes peer IPs.

[2021-10-13 01:47] zw0610 commented on #422
From the pr to merge v1 controller https://github.com/kubeflow/training-operator/pull/1413/files, I found the there is no dependency changes. So technically, we won't need priority for merging the two versions: they can be merged independently.

[2021-10-13 13:30] alculquicondor commented on #422
Can the same contributor work on the v2 migration?

[2021-10-14 10:54] viktoriaas opened #432 "Missing options in Python SDK specs"
Hi,
probably related to #413 , would it be possible to generate Python SDK for newer versions of specs? e.g. `MPIJob`  has in `apiVersion: kubeflow.org/v2beta1` option `spec.sshAuthMountPath` which is not supported in current Python SDK.

The code functions properly when I create normal dictionary instead of `mpijob.V1MPIJob` with needed kv pairs but it's not a nice code anymore, rather a mixture

[2021-10-14 13:32] alculquicondor commented on #432
/close

Duplicate of #413

We just need someone to work on it. Feel free to take it.

[2021-10-15 09:39] AlexChenSkyBlue opened #433 "upgrade to 0.3.0 still need kube-delivery binary"
/bin/sh: 1: /opt/kube/kubectl: not found
/bin/sh: 1: /opt/kube/kubectl: not found

[2021-10-16 02:24] AlexChenSkyBlue commented on #433
Yes. but 0.3.0 state already dropped kubectl-delivery requirement

[2021-10-19 13:55] alculquicondor commented on #433
Please provide detailed steps to repro

[2021-11-03 18:13] ArangoGutierrez commented on #288
Any update on this?

[2021-11-03 18:21] ArangoGutierrez commented on #288
for current kube 1.22, I guess I must deploy `v1` , but documentation still points to `v2beta1` but that doesn't work with kube 1.22 / nor OCP 4.9 that is using 1.22

What's the current, updated, way to deploy the operator?

[2021-11-03 18:34] alculquicondor commented on #288
v2beta1 is newer than v1 and it's supported in kubernetes 1.22. The README is up to date.

[2021-11-08 14:10] ramakrishnamamidi opened #435 "SSH issue when trying to deploy horovod mnist example"
Following is the mpi-operator configuration file i am trying to deploy on our kubernetes cluster.

[code]

Following is the error i am getting in the launcher pod
[code]

What am i missing as i am unable to find anything on horovod docs or mpi operator

As per the official docs of [mpi operator](https://www.kubeflow.org/docs/components/training/mpi/)
this config is for tf v1.14 examples/v2beta1/te

[2021-11-08 15:21] alculquicondor commented on #435
You can use this file as a reference of what configurations the image needs https://github.com/kubeflow/mpi-operator/blob/master/examples/base/Dockerfile

[2021-11-09 06:17] victpf opened #436 "v2beta1 mpi job example not working"
I installed v2beta1 mpi operator and then submit a mpijob via the yaml file in /examples/v2beta1/tensorflow-benchmarks.yaml
The launcher pod would keep on reporting errors:

Warning: Permanently added 'tensorflow-benchmarks-worker-1.tensorflow-benchmarks-worker,172.30.2.166' (ECDSA) to the list of known hosts.
2021-11-09 06:07:20.032551: I tensorflow/stream_executor/platform/default/dso_loader.cc:

[2021-11-09 06:23] gaocegege commented on #436
cc @alculquicondor

[2021-11-09 06:33] victpf commented on #435
I have tried that container, reporting this error for launcher:
  Warning  Failed     16s (x3 over 27s)  kubelet            Error: failed to start container "tensorflow-benchmarks": Error response from daemon: OCI runtime create failed: container_linux.go:346: starting container process caused "exec: \"mpirun\": executable file not found in $PATH": unknown @alculquicondor

[2021-11-09 11:04] ramakrishnamamidi commented on #435
Ok so I modified the docker image as follows

[code]

And used the below mpi config

[code]

It worked and completed execution in 15m.

Couple of things i noticed, after the mpirun executes the launcher pod goes into CrashLoopBackOff state
![image](https://user-images.githubusercontent.com/13113531/140911769-4b37a5fb-1869-436a-a4dd-7d79f2429a96.png)
Following is the logs of the pod
![image](https:

[2021-11-09 19:38] thoraxe opened #437 "v0.2.3 deployment manifest incorrectly refers to latest tag on mpi-operator image"
https://github.com/kubeflow/mpi-operator/blob/v0.2.3/deploy/v1alpha2/mpi-operator.yaml

The deployment for the operator pod is using the `latest` tag. Unfortunately, the `latest` build of the operator image no longer supports `kubectl-delivery-image` as an option/flag.

The `mpi-operator.yaml` needs to refer to the matching tag string. In this case, `v0.2.3`'s manifest should refer to `mpioperator

[2021-11-09 19:45] alculquicondor commented on #437
Can you please send a PR for this? I'm happy to review.

[2021-11-09 19:53] thoraxe commented on #437
@alculquicondor yes and no. I can send a PR with `v0.2.3` tags, but I'm not sure what your NVRC policy is, so technically any PR should result in a `v0.2.4` tag being created, and that's a bit of a chicken-egg problem.

If you're going to version image releases along with repo tags, it might make more sense to use `kustomize` to handle the deployment to ensure the correct tag(s)... ?

[2021-11-09 20:06] alculquicondor commented on #437
I'm not sure if a new version is planned (cc @terrytangyuan)

but at least you can fix it for master.

[2021-11-09 20:09] thoraxe commented on #437
@alculquicondor I cannot fix it for master, because `master` *SHOULD* point to `latest`. There's nothing to PR for master. Unless you are referring to _removing_ the flag from the deployment that's no longer supported by the operator. But that's not what this issue is about.

[2021-11-09 20:13] alculquicondor commented on #437
Ah, that's a fair point. The problem is that we always release from master, instead of doing branch cuts.

In any case, anything preventing you from upgrading to 0.3.0?

[2021-11-09 20:17] alculquicondor commented on #435
Those errors are expected/acceptable. mpi-operator handles the retries for you. The thing is that, depending on your k8s installation, the networking (DNS names) might take some time to setup.

[2021-11-09 20:18] alculquicondor commented on #435
@terrytangyuan I think we should have our fork of horovod images in here https://hub.docker.com/u/mpioperator

We just need the changes that @ramakrishnamamidi identified:

[code]

Can you create a repo for it?

[2021-11-09 20:45] alculquicondor commented on #436
This looks a lot like a problem on your platform/nodes. The logs show that the MPI job actually started and then there is some failure in the GPU, as opposed to the networking (which is what the mpi-operator provides). I would guess that the sample doesn't work on older versions of the controller either.

Can you include more details about your platform? Although I doubt that I can help diagnose y

[2021-11-09 20:53] alculquicondor commented on #435
Although it would be good to also add the configuration to be able to run as non-root. Similar to this https://github.com/kubeflow/mpi-operator/commit/fee9913c6c5ee657871cf8967ec7e8d773666ea5#diff-be50a3cb50e4eb471c7337dba6036a840f2cadb8faf1ab15c421e682dafd9842

[2021-11-10 11:00] victpf commented on #436
Here are the detailed steps that I use:
[code]
As I do not have GPU node, I just delete the resource configuration from that yaml file when I submit mpijob

[2021-11-10 11:00] victpf commented on #436
@alculquicondor I posted my steps above, would you please help? Thanks

[2021-11-10 14:26] alculquicondor commented on #435
Actually, isn't the above what we have as the tensorflow benchmarks image?

- https://github.com/kubeflow/mpi-operator/blob/master/examples/tensorflow-benchmarks/Dockerfile
- https://hub.docker.com/r/mpioperator/mpi-operator

[2021-11-10 14:28] alculquicondor commented on #436
In that case, I suspect the error is because a GPU is needed. We have a sample that doesn't require GPU: https://github.com/kubeflow/mpi-operator/tree/master/examples/horovod

I don't know enough horovod to tell you how to disable the GPU in the other benchmark. In any case, this doesn't sound like a bug in the operator.

/close

[2021-11-10 14:29] #436 closed

[2021-11-10 17:20] thoraxe commented on #437
I was told there were issues running 0.3.0 on OpenShift. I'll give 0.3.0 a whirl and see what happens. I'm trying to run OpenFOAM OpenMPI jobs so I've got a bunch of pre-work to do to get to a point where it might work.

[2021-11-10 17:39] alculquicondor commented on #437
Yeah, there is some prework on the images. They require some particular SSH configuration. You can have a look at them here:
- https://github.com/kubeflow/mpi-operator/blob/master/examples/base/Dockerfile
- https://github.com/kubeflow/mpi-operator/blob/master/examples/tensorflow-benchmarks/Dockerfile

[2021-11-10 17:41] alculquicondor commented on #437
But you can always upgrade to 0.3.0 and use the old controller this way:
- https://github.com/kubeflow/mpi-operator/blob/8943cf734da77ea0445b4ee2afd3927240b5a2d5/deploy/v1/mpi-operator.yaml#L192
- https://github.com/kubeflow/mpi-operator/blob/8943cf734da77ea0445b4ee2afd3927240b5a2d5/deploy/v1alpha2/mpi-operator.yaml#L199

But I strongly encourage you to use the newer operator (v2, the default)

[2021-11-11 17:09] thoraxe commented on #437
It's not clear to me how SSH is used. The `tensorflow-benchmark` image is based on the `horovod` image. While the latter has some SSH libraries installed, it does not appear to actually run or start SSHD. The [blog post](https://medium.com/kubeflow/introduction-to-kubeflow-mpi-operator-and-industry-adoption-296d5f2e6edc) mentions:

But it is not clear what causes the `mpi-operator` to use that scr

[2021-11-11 17:31] alculquicondor commented on #437
We got rid of kubectl exec in 0.3.0 in favor of SSH, as it was not a scalable solution.

[2021-11-12 13:00] xhejtman opened #439 "Export RANK variable"
Hello,

could it be possible to export RANK variable to launcher and worker jobs with corresponding value by the mpioperator?

[2021-11-15 01:52] gaocegege commented on #439
Do you mean the operator sets the environment variable RANK for workers?

[2021-11-16 08:18] xhejtman commented on #439
Yes, but in meantime I found another solution for this.

[2021-11-16 08:18] #439 closed

[2021-11-19 09:15] seansxl opened #440 "tensorflow-mnist.py runing failed"
Traceback (most recent call last):
  File "/home/sxl/PythonDev/k8s_client/mpi_main.py", line 137, in <module>
    crd_api.create_namespaced_custom_object(
  File "/home/sxl/.local/lib/python3.8/site-packages/kubernetes-20.12.0b1-py3.8.egg/kubernetes/client/api/custom_objects_api.py", line 225, in create_namespaced_custom_object
    return self.create_namespaced_custom_object_with_http_info(group,

[2021-11-27 17:49] gajanankulkarni-18 opened #442 "Uploading image on docker hub"
Hi,
There is no image available for ppc64le of mpi-operator.
we will create the image but can you please provide the mechanism to upload the image on docker hub

[2021-11-28 01:21] terrytangyuan commented on #442
Perhaps it's more maintainable to just keep the Dockerfiles in the repo so that others can build the images themselves.

[2021-11-30 12:44] #413 closed

[2021-12-02 00:37] aalugore-ai opened #443 "[Question] v2 versus v1alpha2"
Hello,

I am attempting to port some custom functionality from my previously used v1alpha2 code/fork into v2 as I notice v1alpha2 is being deprecated.

I have read through the code but am struggling to identify all the functional differences added to v2 except for worker statefulsets being converted to plain pods, and OpenSSH support.

Could someone explain the main architectual differences introd

[2021-12-02 01:03] terrytangyuan commented on #443
https://github.com/kubeflow/mpi-operator/blob/master/proposals/scalable-robust-operator.md

Perhaps it would be great to have an upgrading guide.

/cc @alculquicondor

[2021-12-02 14:08] alculquicondor commented on #443
Your images need some compatible SSH configuration. You can find a base image here:
https://github.com/kubeflow/mpi-operator/tree/master/examples/base

An upgrade guide would be great, I'm happy to review a PR to the README.

[2021-12-07 06:58] tingweiwu opened #444 "tensorflow-mnist-elastic example failed"
I tried the example [examples/horovod/tensorflow-mnist-elastic.yaml](https://github.com/kubeflow/mpi-operator/blob/master/examples/horovod/tensorflow-mnist-elastic.yaml)

I first deployed mpi-operator by
[code]
and I got the error
[code]

[2021-12-07 06:58] gaocegege commented on #444
/cc @zw0610

[2021-12-07 07:09] zw0610 commented on #444
Unfortunately, v2beta1 does not support elastic training, which we should make it clear to users. Please use [deploy file for v1](https://github.com/kubeflow/mpi-operator/blob/master/deploy/v1/mpi-operator.yaml) and try the example again. Please let me know if v1 works in your environment.

[2021-12-07 12:15] tingweiwu commented on #444
It works after redeploy v1 mpi-operator.yaml. it seems that  v2beta1 missed `slots` field in the `discover_hosts.sh`

Another question is launcher  did not start when the num of `Running` slots is bigger than the value  `min-np`

[code]

[code]

[code]

[2021-12-07 13:06] tingweiwu commented on #444
Another scene
1、I deploy `MPIJob` with Worker.replicas: 3，
the training job start with 3 ranks
[code]

2、kubectl edit mpijob tensorflow-mnist-elastic-2 , and modify Worker.replicas: 4 ` ,
the training job  change to 4 ranks

[code]

3、kubectl edit mpijob tensorflow-mnist-elastic-2 , and modify Worker.replicas: 3 `
the training job change back to 3 ranks
[code]
4、kubectl edit mpijob tensorflow-mnis

[2021-12-07 13:18] zw0610 commented on #444
Exactly. However, the `min-np` is specified as args or commands or entrypoint embedded in training image, which mpi-operator cannot determine. So for mpi-operator, it will still check if number of workers specified in `replicas` is fully running and then start the launcher pod.

-----
For the 5th pod issue, I will check how this happens. But the fix may filed in the https://github.com/kubeflow/tra

[2021-12-07 14:08] zw0610 commented on #444
the training job change back to 3 ranks

Could you confirm the pods status (`kubectl get po`) when worker replicas is backing to 3? Meanwhile, could you let us know the pods status when apply the change of replicas from 3 to 4? It may be the `tensorflow-mnist-elastic-2-worker-3    ` is in terminating while the replicas is scale back to 4, which we still consider as a bug.

the 5th pod is Pending a

[2021-12-07 18:07] alculquicondor commented on #444
The slots were replaced by a environment variable in v2, as it simplified the support of Intel. I was not aware that this was necessary for horovod to do elastic resize.

Happy to review a fix. But I would also ask the contributor to add an E2E test for future proofing.

[2021-12-07 18:11] alculquicondor opened #445 "Elastic resize broken in v2 operator: Horovod requires the slots parameter"
In the v2 controller, the slots parameter in the hostfile was replaced by environment variables:

https://github.com/kubeflow/mpi-operator/blob/b88edad03a4b55708deaed5f8ebe058eeacf19bd/v2/pkg/controller/mpi_job_controller.go#L116-L117

However, horovod still requires the number of slots. So we need to put the parameter back. The duplication of information should be fine.
It's unclear if horovod su

[2021-12-07 18:11] alculquicondor commented on #445
/help

[2021-12-07 18:11] alculquicondor commented on #444
Opened #445 for tracking.

[2021-12-08 02:08] tingweiwu commented on #444
this is the pod status  and logs in step2 , edit replicas from 3 to 4.
[code]
then in step3 , edit replicas from 4 to 3. the  `tensorflow-mnist-elastic-2-worker-3` terminating state is temporary
[code]
the pod status in step 4
[code]
 error logs about `tensorflow-mnist-elastic-2-worker-4` in mpi-operator
[code]

[2021-12-08 02:08] tingweiwu commented on #444
[mpi-operator.log](https://github.com/kubeflow/mpi-operator/files/7672796/mpi-operator.log)

[2021-12-08 02:42] tingweiwu commented on #444
Will you consider adding min-replicas into mpi-operator to check the min running workers instead of fully

[2021-12-08 02:54] zw0610 commented on #444
Yes. We just added similar feature to PyTorchJob in training-operator by adding a special field called [`ElasticPolicy`](https://github.com/kubeflow/training-operator/blob/master/pkg/apis/pytorch/v1/types.go#L66). We are considering adding such feature to all other elastic-compatible APIs including MPIJob and TFJob.

[2021-12-08 03:00] zw0610 commented on #444
@tingweiwu Could you consider adding my WeChat (Zhang_Wang) so we can locate the issue as I was not able to reproduce it by myself?

[2021-12-08 06:24] #444 closed

[2021-12-10 16:58] aalugore-ai commented on #443
Is there any plan to put out an upgrade guide? I attempted performing the upgrade myself and tried a few things but was unsuccessful.

[2021-12-10 17:04] alculquicondor commented on #443
I unfortunately don't have time to do it. Does this help? https://github.com/kubeflow/mpi-operator/pull/416/files#diff-a7f96af68d899e069e558ca372a2a3976a62761ce47e1e90a4f2f281f47690eeL72

[2021-12-13 16:22] evalsocket commented on #412
@alculquicondor Are you working on it ? Or else please assign to me

[2021-12-13 17:55] alculquicondor commented on #412
Feel free to send a PR

On Mon., Dec. 13, 2021, 11:22 a.m. Yuvraj, ***@***.***> wrote:

[2021-12-13 18:00] evalsocket commented on #412
/assign @evalsocket

[2021-12-18 10:03] evalsocket commented on #365
@terrytangyuan @rongou should we use GitHub workflow for publishing these images in GitHub registry ?

[2021-12-18 18:51] terrytangyuan commented on #365
I think new images will be released as part of https://github.com/kubeflow/training-operator.

[2021-12-30 08:06] hongyonggan commented on #297
hi, when you use

[2021-12-30 08:10] hongyonggan commented on #297
Hi asahalyft, In my case it is possible to cleanPod succeed, You can try
`  runPolicy:
    cleanPodPolicy: Running`

e.g.
`apiVersion: kubeflow.org/v1
kind: MPIJob
metadata:
  name: tf2-keras-mnist-mpi-gpu
spec:
  slotsPerWorker: 1
  runPolicy:
    cleanPodPolicy: Running
  mpiReplicaSpecs:
    Launcher:
      replicas: 1
      template:
        spec:
          containers:
          - image: docke

[2022-01-07 18:18] aalugore-ai commented on #443
Greetings! I hope you had a wonderful holiday season :) So in lieu of an upgrade guide, I decided to just try and perform the upgrade and see what happens. I hope by doing this I can ask you more specific, smaller scoped questions as I fiddle my way through this. Currently hitting an error when I use helm to deploy the mpi operator. I am using this chart with some minor innocuous changes to get th

[2022-01-07 19:32] alculquicondor commented on #443
Was was removed was the need for the controller to create service accounts.

However, the mpi-operator itself still requires permissions that can be given through a service account. Perhaps it would help to have a look at the cluster role: https://github.com/kubeflow/mpi-operator/blob/master/manifests/base/cluster-role.yaml

Also, there is an open PR for the helm update, but I haven't had a chance

[2022-01-12 14:29] kpouget commented on #288
FYI, I got the MPI-Operator v0.3.0 running on OpenShift (4.9), here are some notes about how I proceeded (do _not_ assume it's safe, it's only *working*):

**Deployment of the operator**
[code]

**Configuration of the namespace, to allow the default service account to run pods as root:**
[code]

**Setup of the container image:**
[code]
---
Besides, in v0.3.0, the Launcher Pod starts its life by fa

[2022-01-12 14:33] kpouget commented on #386
FYI, here is the way I awaited for the worker Pods to be ready before launching the main container of the Launcher Pod. This avoids running into errors from the main container:
[code]
(see also [my original post](https://github.com/kubeflow/mpi-operator/issues/288#issuecomment-1011101805))

[2022-01-12 16:03] alculquicondor commented on #386
Alternatively, you can adapt the entry-point that we have for Intel (Intel doesn't do retries, so it's absolutely necessary to wait).

https://github.com/kubeflow/mpi-operator/blob/master/examples/base/intel-entrypoint.sh

[2022-01-12 16:04] alculquicondor commented on #445
Also, we need to adapt the intel entry point to the change of the hostfile format: https://github.com/kubeflow/mpi-operator/blob/master/examples/base/intel-entrypoint.sh

[2022-01-13 16:05] kpouget commented on #288
In addition to what's above, the `Worker` Pod must run with privileges:
[code]
otherwise the `ssh` connection will fail with this error:
[code]

[2022-01-13 16:36] alculquicondor commented on #288
If you change the sshd port number, you might not need the container to be privileged

[2022-01-13 21:13] aalugore-ai commented on #443
Hello again!

Quick thank you for all your help @alculquicondor, each interaction we've had has moved me forward so I appreciate your time!

I've been able to stand up the V2 mpi-operator to a point where it is waiting for a job. However, When I attempt to start a simple "hello_world" job (which runs a simple 2 layer model using horovod to distribute work) I see the launchers fail over to the back

[2022-01-13 23:24] aalugore-ai commented on #443
I also wanted to add my MpiJobSpec for your reference in case it helps:

[code]
Not sure if there is some "new" way mpijobs need to be defined.

[2022-01-14 14:28] alculquicondor commented on #443
The v2 controller doesn't use Indexed Jobs, although it's my desire that we do that in the future.

It is possible that the worker's sshd is not allowing the connection due to a misconfiguration. You can gather more information about this if you have a look at the worker's logs (`kubectl logs` should help you with that).

BUT! You are not actually running sshd in your workers, you are running `sle

[2022-01-14 16:25] aalugore-ai commented on #443
So I actually have to run sshd from my mpijob yaml?

Do I need to do all the mpiuser stuff?

[2022-01-14 17:28] alculquicondor commented on #443
If you run as root, the mpi operator takes care of that. Unfortunately, if you run as non-root, the challenging part is providing the location of a PID file that the user has permissions to use https://github.com/kubeflow/mpi-operator/blob/master/examples/base/sshd_config
Maybe there's an alternative way of doing this that I couldn't think of. Regardless, it requires a proper sshd config in the im

[2022-01-14 18:57] aalugore-ai commented on #443
Okay, so in my worker container, I am indeed running as root.

[2022-01-14 21:03] alculquicondor commented on #443
Then you can probably remove the command and let mpi-operator set it for you

[2022-01-19 18:36] aalugore-ai commented on #443
Okay, so I tried a bunch of things.
- I added the ssh config Docker instructions to the container image and confirmed the changes propagated to the worker pod
- I turned hostNetwork off
- I created an sshd_config file that propagated to ~/.sshd_config modeled after the example
- I changed the port to 2222 and 3022. Any value other than 22 got "Connection refused"
- I explicitly added `sshAuthMount

[2022-01-19 19:01] alculquicondor commented on #443
I think it's possible that this:

[code]

is a red-herring. Maybe initially the hostnames are not reachable, but openmpi retries and eventually it connects and a password is required.

It's more useful if you take a look at the worker's logs to see why they are rejecting the connections.

[2022-01-20 07:42] kilicbaran commented on #400
It looks like it is not only a rename. MPICH support is also dropped.

[2022-01-20 14:35] terrytangyuan commented on #400
Do you know which commit caused this? I did a quick search but couldn't find it.

[2022-01-20 14:55] terrytangyuan commented on #400
Okay looks like it's lost in the removal of folders. Would anyone like to help bring it back with 07bbb45 as a reference?

[2022-01-20 14:56] terrytangyuan commented on #400
Perhaps contribute to https://github.com/kubeflow/training-operator if you are interested in using it in earlier versions of the controller.

[2022-01-20 15:02] alculquicondor commented on #400
I would rather encourage people to use the v2beta1 APIs that already support Intel. And perhaps add MPICH if you can contribute.

[2022-01-21 11:41] kilicbaran commented on #443
Hello! I had an issue similar to the one in https://github.com/kubeflow/mpi-operator/issues/443#issuecomment-1016755568. I migrated from v1alpha2 to v2beta1. I can only run an MPIJob exactly once. The first run successfully completes. After I delete the job and run it again, I get the same `ssh: Could not resolve hostname` error. I don't remember that I had such an issue with v1alpha2.

When I con

[2022-01-21 14:39] alculquicondor commented on #443
Previous versions don't use SSH, so you wouldn't see connection errors.

SSH errors are expected as networking takes some time to setup. But again, OpenMPI implements retries, so it should eventually connect. Unless you are missing some ssh/sshd configuration parameters.

[2022-01-24 18:33] talcoh2x opened #450 "MPI Operator - namespace scope"
Hi, there is an option to run MPI operator cross namespaces?

[2022-01-24 19:16] alculquicondor commented on #450
I think this was discussed here: #449

Not sure what the solution was, but you could ask that contributor. And if you could document the steps in the README or in a sample yaml, that would be helpful for future users.

[2022-01-25 01:57] zw0610 commented on #450
If you wish to let mpi-operator to watch MPIJobs across multiple namespaces, you can either just omit the launch argument `--namespace` and it will use turn to [default mode](https://github.com/kubeflow/mpi-operator/blob/master/cmd/mpi-operator.v1/app/options/options.go#L57), which is to monitor MPIJobs across all namespace unless environment variable `KUBEFLOW_NAMESPACE ` is set.

[2022-01-25 15:14] alculquicondor commented on #443
That's interesting, can you share those errors and the parameters? Do you think it's possible that others might run into the same issues and require these parameters?

[2022-01-25 15:53] kilicbaran commented on #443
I experimented a little bit more. It looks like I was just impatient and I deleted the job without letting it restart enough. My MPI job worked after 3 restarts without setting any MCA parameters. Sorry for misleading you @alculquicondor and others.

[2022-01-25 16:10] alculquicondor commented on #443
You can use `restartPolicy: OnFailure` (or remove the line, as that's the default), so that you don't end up with failed Pods left.

[2022-01-25 16:10] alculquicondor commented on #443
/close

[2022-01-25 16:10] #443 closed

[2022-01-27 15:13] #394 closed

[2022-02-10 22:31] shaowei-su opened #453 "[Feature request] Add namespace and `svc` suffix for host configmap"
In the v2 implementation, headless worker service is referenced by `jobname-worker-0.jobname-worker` (https://github.com/alculquicondor/mpi-operator/blob/master/v2/pkg/controller/mpi_job_controller.go#L1110)  which requires the pod `/etc/resolv.conf` config having `namespace.svc.cluster.local` presented.

The `tf-operator` on the other side composes TFCONFIG with both namespace and `svc` suffix: h

[2022-02-11 14:06] alculquicondor commented on #453
Isn't `namespace.svc.cluster.local` already added by kubelet?

In any case, I think it should all continue to work seamlessly if we add `namespace.svc`

[2022-02-11 19:20] shaowei-su commented on #453
Not always the case depends on network level configs set up. I validated that adding `namespace.svc` works well like you mentioned.

[2022-02-11 19:27] alculquicondor commented on #453
Feel free to send a PR

[2022-02-11 19:33] shaowei-su commented on #453
PTAL https://github.com/kubeflow/mpi-operator/pull/454

[2022-02-14 18:24] mChowdhury-91 commented on #429
@alculquicondor I'm facing the same issue. Is there any solution to the permission issue

[2022-02-14 18:42] alculquicondor commented on #429
on istio? I don't think anyone found a workaround.

[2022-02-16 19:13] xhejtman opened #456 "[Question] RBAC control -- allow anyone to use mpijob"
Hello,

I cannot find whether this can be parmaterized, so is it possible to run mpijob operator so that any user is allowed to run mpi job? Currently, it seems that user needs explicit rbac permission.

[2022-02-20 22:10] alculquicondor commented on #453
Fixed in #454
/close

[2022-02-20 22:10] #453 closed

[2022-02-22 15:12] HVKHCM opened #457 "Porting v1alpha2 job to v2beta1 on Google Kubernetes Engine"
Hi guys,

I am currently working on a research project about using Kubernetes to run mpi jobs on containers as hosts for teaching parallel and distributed computing. Our main platform right now is Google Kubernetes Engine. Previously, I used version V1alpha2 and it worked flawlessly. However, since I changed to version V2beta1 now, the mpi-operator is acting up. The problem is when I use command:

[2022-02-22 16:28] alculquicondor commented on #457
Hi, can you look at the mpi-operator logs?

At a quick glance, it looks like you are using some fields that have moved location. So likely validation is failing.

However, it's also important that you update your images, as the new controller uses SSH instead of `kubectl exec` to start workers, which is proved to be more scalable.

You can use these images to base your images out of https://github

[2022-02-23 17:46] HVKHCM commented on #457
Thank you. I think it could possibly be the problem since I used the same container image that was used in version V1alpha2 for version V2beta1.

[2022-02-23 18:56] alculquicondor commented on #457
If you figure the migration steps, feel free to open a PR to enhance our documentation.

[2022-02-23 19:09] alculquicondor commented on #341
There some renewed interest in moving the mpi-operator to (possibly) kubernetes-sigs, assuming that SIG Apps is willing to sponsor the repo.

The motivation is to encourage non-training users (like HPC) to use and contribute to it, without having to install or learn about kubeflow's training-operator.

Let us know what your thoughts are in favor or against this.

cc @ArangoGutierrez

[2022-02-23 19:30] rongou commented on #341
FWIW I think it's a good idea. The current solution has always been a "temporary" one, eventually it'd be nice to implement a "native" solution (e.g. through PMIx #12).

[2022-02-23 19:50] alculquicondor commented on #341
I agree. Using `kubectl exec` brings scalability problems for the control plane and `ssh` causes a lot of problems because of permissions, plus it's added communication overhead for the workload. It would be great to have PMIx support.

[2022-02-23 19:55] ArangoGutierrez commented on #341
I have been discussing with PMIx developers like @jjhursey on possible ways to develop a k8s PLM for prrte, so we can start building a real solution moving forward. but we are still on brainstorming conversations, noting to show yet

[2022-02-23 20:01] alculquicondor commented on #341
Ok, I made the mistake of continue to mention PMIx on this thread. We should probably leave that discussion for #12.

[2022-02-23 20:06] ArangoGutierrez commented on #341
TLDR: I agree and support donating the MPI-Operator to k8s-sigs. happy to lead the effort with whom ever want's to help

[2022-02-23 20:41] terrytangyuan commented on #341
+1 to donate to a more generic place (e.g. K8s SIG Apps) where this project could be beneficial to more people, not limiting to ML-specific workloads. Especially given that now kubeflow/training-operator gets heavier, people should be given the option to only install MPI Operator for their use cases. I hope this direction could help attract more users and contributors to this project going forward

[2022-02-28 01:15] salanki commented on #386
+1 to this. depending on the launcher to fail is pretty hackish

[2022-03-02 18:22] #408 closed

[2022-03-05 17:58] ArangoGutierrez commented on #12
/assign

[2022-03-06 18:45] snirkop89 commented on #323
I'm having troubles using the typed client with the same reason of this issue.
Client:
`"github.com/kubeflow/mpi-operator/pkg/client/clientset/versioned/typed/kubeflow/v1"`
 getting error:
 `../../../../go/pkg/mod/github.com/kubeflow/mpi-operator@v0.3.0/pkg/client/clientset/versioned/typed/kubeflow/v1alpha2/mpijob.go:72:5: not enough arguments in call to c.client.Get().Namespace(c.ns).Resource("mp

[2022-03-07 21:54] ArangoGutierrez commented on #341
In today's Mar-7 2022 SIG-APP call we discussed about this (https://github.com/kubernetes/community/tree/master/sig-apps#meetings)

TLDR: we have a go to start the process to donate the MPI-Operator to kubernetes-sigs under the sponsorship of sig-app, @soltysh will provide more details

[2022-03-08 00:58] zw0610 commented on #341
I agree with @rongou that an implementation with PMIx would benefit generic batch jobs.

Originated as an operator for data-parallel distributed training, we would keep the existing implementation in training-operator, which helps deep learning researchers to launch horovod job. @kubeflow/wg-training-leads

@ArangoGutierrez Just for curiosity, will the donation process be like `implement PMIx sche

[2022-03-08 01:04] ArangoGutierrez commented on #341
I would say the later

1. first donate
2. Stabilize the current code
3. have PMIx as a KEP
4. PoC PMIx KEP
5. Implement KEP

[2022-03-08 01:06] ArangoGutierrez commented on #341
on the PMIx front

[code]

PoC already under development :)

[2022-03-08 12:41] soltysh commented on #341
Correct, SIG-Apps will be happy to sponsor mpi-operator as a subproject. For this to happen I'll work with @ArangoGutierrez and @alculquicondor to follow the process as described in https://github.com/kubernetes/community/blob/master/github-management/kubernetes-repositories.md#rules-for-donated-repositories

[2022-03-08 15:09] alculquicondor commented on #341
@soltysh let's make sure the OWNERS are migrated as well https://github.com/kubeflow/mpi-operator/blob/master/OWNERS

I suppose, long-term, you would use the kubernetes-sig implementation as a dependency, right?

[2022-03-08 15:29] ArangoGutierrez commented on #341
question for @zw0610

[2022-03-08 15:37] soltysh commented on #341
:+1:

[2022-03-08 17:44] alculquicondor commented on #341
/retitle move mpi-operator to kubernetes-sigs

[2022-03-08 21:49] hfwen0502 commented on #457
Where is the documentation regarding the change from using "kubectl exec" to "ssh" to start workers in the controller? Though I was able to migrate to v2beta1 MPI jobs on OCP, I would be interested to check where the existing document is and how that can be improved.

[2022-03-08 22:03] alculquicondor commented on #457
There is no such document, you can start one section in https://github.com/kubeflow/mpi-operator/blob/master/README.md or a new README file in https://github.com/kubeflow/mpi-operator/tree/master/v2

[2022-03-09 01:26] zw0610 commented on #341
Seems not a question I can give a confirmative answer right now. The main concern comes from the elastic training feature, which will be the major point for the training-operator. *(horovod-elastic requires `horovodrun` instead of `mpirun` to launch new training process on new workers.)*

We can verify the compatibility between horovod-elastic and the PMIx-based mpi-operator after the later one is

[2022-03-09 01:54] terrytangyuan commented on #341
Great! @alculquicondor @soltysh Let’s kick off the process and let me know if there’s anything we can help.

[2022-03-09 03:00] gaocegege commented on #341
/cc @richardsliu

[2022-03-09 18:57] alculquicondor commented on #341
Is there a template we can use? Otherwise I could summarize here. Or maybe a new issue is preferred?

[2022-03-09 19:02] ArangoGutierrez commented on #341
I think a new issue with checklist/milestones is preferred

[2022-03-09 19:04] ArangoGutierrez opened #459 "Donate repo to kubernetes-sigs"
TLDR from : #341

---
There is some renewed interest in moving the mpi-operator to (possibly) kubernetes-sigs, assuming that SIG Apps is willing to sponsor the repo.

The motivation is to encourage non-training users (like HPC) to use and contribute to it, without having to install or learn about kubeflow's training-operator.

- Most Kubeflow components are "loosely coupled", so the definition of

[2022-03-09 19:04] ArangoGutierrez commented on #341
https://github.com/kubeflow/mpi-operator/issues/459

[2022-03-09 19:17] alculquicondor commented on #459
Can you add the rationale for the donation in the description?

Also it would be good to add what's the high-level plan for kubeflow to use the kubernetes-sig/mpi-operator in their manifests.

[2022-03-09 21:02] ArangoGutierrez commented on #459
/assign @alculquicondor @ArangoGutierrez

[2022-03-09 21:12] jbottum commented on #459
Perhaps this data point is relevant from the Kubeflow User Survey, which shows MPI's position to other technologies used by Kubeflow users.
<img width="754" alt="Screen Shot 2022-03-09 at 3 08 46 PM" src="https://user-images.githubusercontent.com/10553232/157536808-bf0549e2-113f-49d6-abaa-cc3418336c11.png">

[2022-03-09 21:16] ArangoGutierrez commented on #459
Step one:
- To the question: Are you ok with donating the repo mpi-operator to kubernetes-sigs, please reply lgtm

From the OWNERS file:
@ rongou @terrytangyuan @alculquicondor @carmark @gaocegege @zw0610

[2022-03-09 21:18] theadactyl commented on #459
Hi there, @kubeflow/project-steering-group will need to see a proposal with the following information. This should also be open for broader community feedback before any decision is made.

- Goals
- Motivation / Rationale
- User Benefit
- Design Proposal
 - Including:
  - Alternatives Considered
  - Dependencies
  - User Impact
- Detailed Design

[2022-03-09 21:20] ArangoGutierrez commented on #459
Will work on it, thanks for the check list

[2022-03-09 21:22] theadactyl commented on #459
The best place to submit is as a PR to the following directory: https://github.com/kubeflow/community/tree/master/proposals

Thank you! Our proposal process is not widely known, but it's important to follow for any proposed changes that include code governance.

[2022-03-09 21:47] rongou commented on #459
lgtm

On Wed, Mar 9, 2022 at 1:22 PM Thea Lamkin ***@***.***> wrote:

[2022-03-09 21:57] terrytangyuan commented on #459
LGTM.

[2022-03-10 01:12] gaocegege commented on #459
/cc @richardsliu

LGTM

[2022-03-10 01:21] carmark commented on #459
LGTM

[2022-03-10 09:08] thesuperzapper commented on #459
I also want to highlight that by definition, if a project is donated from Kubeflow to another organization, Kubeflow will no longer have any control over it.

This means there would be a question of what to do with the Kubeflow Working Group which controls that project.

In the case that only one part of a WG is donated, then that WG would continue to exist.
(Assuming the community thinks there ar

[2022-03-11 22:58] ArangoGutierrez commented on #341
https://github.com/kubeflow/community/pull/557

[2022-03-11 22:58] ArangoGutierrez commented on #459
https://github.com/kubeflow/community/pull/557

[2022-03-12 13:18] cheimu commented on #134
Hi. I got the same issue in training-operator. It seems like it too workers hours to be completed

[2022-03-17 01:34] talcoh2x opened #460 "MPI worker - initContainer"
Hi, I have a Q regarding initContainer for Worker. I have DevicePlugin which exposes our devices on k8 and I saw that once I defined initContainer I get a request from kubelet for both the "containers"  and for the "initContainer" at the same time and this is not the same behavior as POD has. we expect to get requests first from the initContainer and then from the "containers" the "containers" at

[2022-03-21 12:21] canshiwei opened #461 "Can MPI operator no clean on error?"
Mpi operator would clean the failed pod. What should I do to prevent it because I would like to read the log when the pod failing

[2022-03-21 13:47] alculquicondor commented on #461
Launcher or worker?

Are you already using `.runPolicy.cleanPodPolicy`?

https://github.com/kubeflow/mpi-operator/blob/e267b015aee62648cd2c9f309bdefbca225f09af/v2/pkg/apis/kubeflow/v2beta1/types.go#L48:2

[2022-03-21 15:10] alculquicondor commented on #461
That's very odd. Are you using the v2 controller?

[2022-03-21 15:17] canshiwei commented on #461
yes. I'm using v2 controller.  the launcher script (python) I wrote as follows:

1. check passing parameters, if parameters are invalid, exit(1)
2. if parameters are right, run subprocess.run("mpirun -np {} --allow-run-as-root ....", ....)

sometimes I passed a wrong parameter in step 1 before running "mpirun ...", would this cause the launcher pod to be exit and deleted?

[2022-03-21 15:22] alculquicondor commented on #461
We just create a `batch/v1.Job` for the launcher. We don't even have code to delete it.

Which environment are you running on? Do you have logs from the apiserver to check what's deleting the pod?

[2022-03-21 15:44] alculquicondor commented on #461
This is very odd. The job controller is only supposed to remove pods that are running. Which version of kubernetes are you running?
Can you try to reproduce by creating a Job directly?

[2022-03-21 15:50] alculquicondor commented on #461
I just created this job in a 1.23 cluster:

[code]

And I was left with 3 failed pods.

Can you post the yaml for the Job that the mpi-operator created?

[2022-03-21 16:07] canshiwei commented on #461
here is mine, the launcher would be deleted:

[code]

and the helloworld:v0.1 is simply

[code]

[2022-03-21 16:09] alculquicondor commented on #461
can you post the `Job` (not `MPIJob`) that the mpi-operator created?

[2022-03-21 16:09] alculquicondor commented on #461
Also, the kubernetes version you are running.

[2022-03-21 16:16] alculquicondor commented on #461
/close

[2022-03-21 16:17] #461 closed

[2022-03-21 16:21] canshiwei commented on #461
Hi, I explicitly set the 'restartPolicy: Never' as following, but it seems does not work
[code]

[2022-03-29 01:03] jzfb2 opened #462 "Is there a way to have each worker print its index in the logs?"
Does MPI-Operator jobs have a parameter allowing each worker to print it's index?

[2022-03-29 06:40] zw0610 commented on #462
I believe the hostname of each worker contains the index information. So maybe just use `echo` + `hostname` + `awk`.
If the hostname does not work, you can set an environment variable as [downard api](https://kubernetes.io/docs/tasks/inject-data-application/downward-api-volume-expose-pod-information/) from the Pod name (`metadata.name`).

But if the real information you would like to have is the `

[2022-03-29 19:38] jzfb2 commented on #462
Ya, I'm terrible with jargon, I believe the correct term is rank. So in the case of a job with 2 nodes and 3 slots, I should see values 0 to 5.

So from the launcher pod logs what I'm expecting from 2 worker nodes with a single slot each is....
0: entry 1
1: entry 1
1: entry 2
0: entry 2
....
0: entry N
1: entry N

I currently am accomplishing this with a python script that runs the payload as a s

[2022-03-29 20:11] alculquicondor commented on #462
Any reason why you can't use https://www.open-mpi.org/doc/v4.0/man3/MPI_Comm_rank.3.php ?

[2022-03-29 21:16] jzfb2 commented on #462
The issue isn't knowing rank, the issue is having each entry line print {rank}: {log entry}. I already know the environment variable for rank. @zw0610, I'm not familiar with how awk can resolve this issue. If you could elaborate on it, that would be appreciated.

[2022-03-29 21:18] alculquicondor commented on #462
Do you want the rank in the MPI world or the "index" that mpi-operator assigns to each worker pod that it creates?

[2022-03-29 21:49] jzfb2 commented on #462
So I have the rank, it's $OMPI_COMM_WORLD_RANK, but I don't know a command line way to do `#: log entry` via command line. With SLURM it just does it without issue(I didn't create the setup for SLURM), but I'm trying to do the same with K8S.

[2022-03-30 02:15] jzfb2 commented on #462
So what I thought was produced by SLURM turns out to be a product of mpirun. What I was looking for was the flag `--tag-output`.

[2022-03-30 02:15] #462 closed

[2022-04-02 15:58] heyfey commented on #297
Met the same issue, and solution from @hongyonggan doesn't work for me.

I applied the training operator as follows:
`kubectl apply -k "github.com/kubeflow/training-operator/manifests/overlays/standalone"`

`kubectl logs -f training-operator-5cfdcb7d9d-nvf57 -n kubeflow`:

[code]

[2022-04-03 18:40] heyfey commented on #297
Resolved by updating manifests with latest image tag (8c4323194a09b3cabd36248cc172493006f71b75),
as it is fixed by https://github.com/kubeflow/training-operator/pull/1550

[2022-04-05 09:03] andyzheung opened #464 "MPI-Operator run example failed"
I setup the mpi-operator v0.3.0

and try to deploy the example:
mpi-operator-0.3.0/examples/horovod/tensorflow-mnist.yaml

but it seem can not run it correctly:
NAME                              READY   STATUS    RESTARTS   AGE
tensorflow-mnist-launcher-ffkrh   0/1     Error     4          2m39s
tensorflow-mnist-worker-0         1/1     Running   0          2m39s
tensorflow-mnist-worker-1

[2022-04-05 09:12] andyzheung commented on #464
I try to run the  mpi-operator-0.3.0/examples/horovod/tensorflow-mnist-elastic.yaml
still can't not work, did this repo have any maintain?

# kubectl logs tensorflow-mnist-elastic-launcher-rjlbk
Traceback (most recent call last):
  File "/usr/local/bin/horovodrun", line 33, in <module>
    sys.exit(load_entry_point('horovod==0.20.0', 'console_scripts', 'horovodrun')())
  File "/usr/local/lib/pytho

[2022-04-05 14:12] alculquicondor commented on #464
This is a duplicate of #445

If you can send a fix, I'm happy to review. Otherwise, you will have to resort to the v1 controller.

[2022-04-22 22:32] NateRoiger opened #467 "Unable to load host key"
All my workers are failing with the same message
[code]

I see warnings that ssh-auth volume is failing to mount, but this might be a result of the container terminating and not necessarily the cause. It does look suspicious though.

[code]
  My Dockerfile includes everything in https://github.com/kubeflow/mpi-operator/blob/master/build/base/Dockerfile so it would appear to have the correct SSH se

[2022-04-25 13:41] alculquicondor commented on #467
Are you using a distro different than debian?
My guess would be that it doesn't come with an ssh private key by default.

What you can do is provide an sshd_config file https://github.com/kubeflow/mpi-operator/blob/master/build/base/sshd_config that points to /root/.ssh/id_rsa

But maybe try to run as non-root? https://github.com/kubeflow/mpi-operator/blob/master/examples/v2beta1/pi/pi.yaml

[2022-04-25 16:22] snirkop89 opened #468 "specifying minAvailable for volcano doesn't work"
I've built a CLI tool to create a mpi job based on our company's needs.

we want to use the volcano scheduler and give it the minAvailable parameter.
the package "github.com/kubeflow/mpi-operator/v2/pkg/apis/kubeflow/v2beta1" shows the 'schedulingPolicy' options
under 'runPolicy' but when I job, it does exist when I describe the job.

If I create the yaml manually I get the error:
error validating

[2022-04-25 16:36] NateRoiger commented on #467
Ahh, that explains it - I was using centos8 which must not initialize any ssh configuration/keys. Switching to debian resolved everything.

Appreciate the help.

[2022-04-25 16:36] #467 closed

[2022-04-25 17:08] alculquicondor commented on #468
`schedulingPolicy` was never supported. It's no listed in the CRD definition https://github.com/kubeflow/mpi-operator/blob/master/manifests/base/crd.yaml

But you can still setup volcano to apply to all your jobs https://github.com/kubeflow/mpi-operator/blob/master/v2/cmd/mpi-operator/app/options/options.go#L65

[2022-04-26 06:39] snirkop89 commented on #468
Ok, Thanks.
I looked under v2/crd and saw it - that was my mistake.
Is there a plan to support it in the next release?

Just to clarify, we can use volcano just as it is, without sending it any options, right?

[2022-04-26 14:21] snirkop89 commented on #468
understood. thank you for you help.

[2022-04-26 14:21] #468 closed

[2022-05-12 19:29] LetaoCh commented on #46
@tingweiwu I am hitting the same issue and trying to have a look at this doc https://community.mellanox.com/docs/DOC-3153 but it seems like the link is expired. Do you know what the new link is?

[2022-07-11 04:16] SachinT95 opened #469 "MPI Operator failing continuously"
I'm trying to install the kubeflow setup on my azure cluster but the MPI operator is failing due to "CrashLoopBackOff".

![image](https://user-images.githubusercontent.com/88109806/178187637-e8d2fa2f-5de0-459d-a52e-1b8f931ad30b.png)

Can any help me with the solution? what could be the root cause for the above error?
It is able to pull the image but not able to run the container.
![image](https://

[2022-07-11 13:48] alculquicondor commented on #469
You need to provide way more information than that :)

Which version of the operator are you running?

Can you gather the logs from the pods (driver and workers)?

[2022-07-12 11:41] SachinT95 commented on #469
Hey @alculquicondor, Thanks for responding

I'm using "**mpioperator/mpi-operator:latest**" i.e. version > 0.3.0.
please find the csv file which contains pods log
[query_data.csv](https://github.com/kubeflow/mpi-operator/files/9092442/query_data.csv)

Please let me know if you need more details.

[2022-07-12 14:08] alculquicondor commented on #469
`"7/12/2022, 11:30:42.000 AM",flag provided but not defined: -kubectl-delivery-image`

I think you are trying to use the new container image with old manifests.

Have you tried with these? https://github.com/kubeflow/mpi-operator/blob/master/deploy/v2beta1/mpi-operator.yaml

[2022-07-21 17:55] SachinT95 commented on #469
Hey @alculquicondor, sorry for my late reply.

Should I replace current yaml file with  https://github.com/kubeflow/mpi-operator/blob/master/deploy/v2beta1/mpi-operator.yaml this one? or do I need to replace specific parameter from the ymal file?

[2022-07-21 19:08] alculquicondor commented on #469
I would suggest replacing it.

[2022-07-29 18:52] amrragab8080 opened #470 "Adding back Launcher Init step in v2beta1 helps with ensure pod networking is up before launcher starts"
If i use v2beta1 as is I notice that my job starts after a Crashloopbackoff on the first run.
[code]
then CrashLoopbackOff
[code]
then on next restart it runs normally
[code]
I seem to be able to over come this problem by adding back the initContainer in the launcher step
[code]
i guess this was similar to the v1alpha2 behavior - but wanted to check to see if you think this would cause any compati

[2022-07-29 19:03] alculquicondor commented on #470
Removing the init launcher is intended to accelerate pod startup.

There are two problems with the init container:
- It prevents the main container from starting image pull
- It's a full blown controller, so it queries the apiserver to observe all the pods, which has security and performance implications.

[2022-07-29 19:03] alculquicondor commented on #470
and the temporary failure is purely cosmetic. The pod is retried and eventually it runs.

[2022-07-29 20:09] amrragab8080 commented on #470
- Understood but the initContainer is the same image as the main container so infact it actually improves main container performance. I am not using busybox or some lightweight image. I thought about this point and if its the same it actually alleviates this issue.

- I can see how its cosmetic, but unfortunately we have some monitoring mechanisms which looks for failed pods that are in CrashLoopB

[2022-07-29 20:13] alculquicondor commented on #470
Oh I thought you meant you added the initContainer from the v1 operator.

Your initContainer doesn't have the issues that I mentioned, but having a plain sleep doesn't seem right either.

One thing you can do, given your setup, is consider using an init script that checks for the hostnames to be reachable. We did this for IntelMPI, which is not as resilient to failures https://github.com/kubeflow/

[2022-07-29 22:36] #470 closed

[2022-08-07 17:49] #469 closed

[2022-08-07 17:49] SachinT95 commented on #469
Thanks @alculquicondor for your help

[2022-08-12 07:13] NettrixTobin commented on #435
@alculquicondor ,Hi,i had the same problem with the default ymal
`kubectl apply -f examples/v2beta1/tensorflow-benchmarks/tensorflow-benchmarks.yaml`

` kubectl logs -f tensorflow-benchmarks-imagenet-launcher-tnsxb
ssh: Could not resolve hostname tensorflow-benchmarks-imagenet-worker-1.tensorflow-benchmarks-imagenet-worker: Temporary failure in name resolution
-------------------------------------

[2022-08-12 07:16] NettrixTobin commented on #435
@alculquicondor ,Hi,i had the same problem with the default ymal

kubectl apply -f examples/v2beta1/tensorflow-benchmarks/tensorflow-benchmarks.yaml

`kubectl logs -f tensorflow-benchmarks-imagenet-launcher-tnsxb`
![image](https://user-images.githubusercontent.com/69492537/184304158-da1b6ff5-e6bf-4946-ba0a-5dce415ffb67.png)

How to set up password-free login between containers?
Is it necessary to

[2022-08-12 13:58] alculquicondor commented on #435
Can you confirm which image these pods are using? If I remember correctly, the images in dockerhub where built using the Dockerfile in the repo.

[2022-08-13 03:31] NettrixTobin commented on #435
Thank you for your prompt reply，I am executing the default tensorflow-benchmarks.yaml as below
` kubectl examples/v2beta1/tensorflow-benchmarks/tensorflow-benchmarks.yaml`

apiVersion: kubeflow.org/v2beta1
kind: MPIJob
metadata:
  name: tensorflow-benchmarks
spec:
  slotsPerWorker: 1
  runPolicy:
    cleanPodPolicy: Running
  mpiReplicaSpecs:
    Launcher:
      replicas: 1
      template:

[2022-08-13 03:55] NettrixTobin commented on #435
Thanks for your reply, I am using the default image
[code]

Maybe I solved the problem, after I adjusted the calico-node state.
before
[code]
after
[code]
But I got a new error as below
![image](https://user-images.githubusercontent.com/69492537/184467449-86b54cf3-a5d4-43cc-8791-10da0df9176e.png)

[2022-08-15 13:03] alculquicondor commented on #435
That error looks like a problem in the application, which is outside of the scope of the operator. Did you install GPU drivers?

[2022-08-16 02:31] NettrixTobin commented on #435
Thanks, my gpu driver version is 510.47.03, i solved this problem by updating the tf and cuda version in the image

[2022-08-16 13:06] alculquicondor commented on #435
In the horovod image or the GPU daemonset?

If the horovod image, maybe it's worth upgrading our patched image.

[2022-08-19 11:56] thuzhf opened #471 "launcher pod displays `Init:ImagePullBackOff`, and it failed to pull `mpioperator/kubectl-delivery:latest`"
When I apply a mpi related yaml, it shows:

![image](https://user-images.githubusercontent.com/8064242/185613054-6e602ac5-7edc-481b-9da4-c5820aee2089.png)

![image](https://user-images.githubusercontent.com/8064242/185613007-a3f799c8-b4b6-4a0b-84a7-6f77a43acac0.png)

But as the doc shows, v2 drops the kubectl-delivery image requirement.
Is this a bug? How can I solve this problem? I hope at least

[2022-08-19 12:37] terrytangyuan commented on #471
You can push the images to your own Docker registry and use those instead.

[2022-08-19 13:51] alculquicondor commented on #471
What is your yaml?

And how did you upgrade the mpioperator to v2?

[2022-08-19 17:52] thuzhf commented on #471
But I cannot change the image url. For example, the image url in our registry is: `myregistry.com/path1/kubectl-delivery:latest`. But there's no where for me to change to this url in mpi-operator's yaml. I use the following method to install v2 version of mpi-operator (refer to: https://github.com/kubeflow/mpi-operator#installation):
[code]

My yaml will be updated here later.

Please see the firs

[2022-08-19 19:18] alculquicondor commented on #471
Is it possible that the error is from an MPIJob that existed before the upgrade?

v2 is not backwards compatible, so you need to deploy your job again, following the new API https://github.com/kubeflow/mpi-operator/blob/master/examples/v2beta1/tensorflow-benchmarks/tensorflow-benchmarks.yaml

[2022-08-20 03:16] thuzhf commented on #471
That may be possible. I will try `kubectl delete -f deploy/v2beta1/mpi-operator.yaml` and `kubectl delete -f deploy/v1/mpi-operator.yaml` to delete all related resources to avoid using any v1 resources and reinstall v2 version to see if it works.

[2022-08-22 03:07] thuzhf commented on #471
I tried the above method, but it still didn't work. My yaml is as follows:
![image](https://user-images.githubusercontent.com/8064242/185830408-e856caf4-3b8e-4768-84b7-79c79446110b.png)

And the result is as follows:
`kubectl get pods`
![image](https://user-images.githubusercontent.com/8064242/185830509-ca31a65b-dcbb-473d-a983-e06b77356726.png)

`kubectl describe pods simple-mpi-launcher`

![image

[2022-08-22 07:51] thuzhf commented on #471
I have a few questions:
1. I doubt whether I am using v2 version only when I install it via `kubectl apply -f deploy/v2beta1/mpi-operator.yaml`. It seems there are some v1 resources in `deploy/v2beta1/mpi-operator.yaml`?
2. In v2, how does launcher send commands to workers? Via `ssh` or `kubectl`? It seems in v1, it is via `kubectl`. In v2, is it `ssh`?

[2022-08-22 09:42] o0fatigue opened #472 "mpi program only executed on launcher"
Hello, I am trying to use mpi-operator to run a simple hello world mpi program; however, I am confused that instead of running on all the workers, the program is only running on the launcher pod. I have no idea what is wrong with my configuration.

By the way, I also tried to exec into my launcher pod, trying to ssh to a worker pod, but ssh asked me for password although I could see that `id_rsa`,

[2022-08-22 13:24] alculquicondor commented on #471
The v2beta1 operator still adds the CRDs for v1, but it operates entirely with v2beta1 APIs. The image also comes with the v1 operator, but it should run the v2 operator by default.

What is the output of `kubectl get -o yaml -n mpi-operator deployment mpi-operator`?

v2 uses ssh. So everything you are showing points that you are somehow running the v1 operator instead.

[2022-08-22 13:33] thuzhf commented on #471
![image](https://user-images.githubusercontent.com/8064242/185933520-b50692d3-3486-45b7-a3e6-3fc4c519b16b.png)

[2022-08-22 13:42] alculquicondor commented on #472
Are you using openmpi?

You can try enabling debugging using the environment variable `OMPI_MCA_orte_debug` set to `true`.

[2022-08-22 13:59] alculquicondor commented on #471
I just installed mpi-operator in my cluster from https://hub.docker.com/r/mpioperator/mpi-operator and run this example https://github.com/kubeflow/mpi-operator/blob/master/examples/v2beta1/pi/pi.yaml and it worked.

Is it possible that your image is outdated?

You can also try adding this to the Deployment:

[code]

To be sure that the v2 operator is running.

[2022-08-22 15:46] thuzhf commented on #471
OK. I'll try to add this command.

[2022-08-22 16:47] thuzhf commented on #471
@alculquicondor Unfortunately, it doesn't work...it still uses `kubectl-delivery` image. Something must be wrong with `deploy/v2beta1/mpi-operator.yaml`...

![image](https://user-images.githubusercontent.com/8064242/185975150-c8f01fee-b5c8-4c56-bbd1-7031c16d09d3.png)
![image](https://user-images.githubusercontent.com/8064242/185975246-c2706ae1-eae2-4bba-a8a7-ce5d1a86b0d7.png)

[2022-08-22 16:52] thuzhf commented on #471
And when I comment all `v1alpha2` and `v1` parts from `deploy/v2beta1/mpi-operator.yaml` and apply this yaml, and rerun my mpijob, it works like a magic...
![image](https://user-images.githubusercontent.com/8064242/185975954-df294783-3cec-4067-97ce-25d620a5dec4.png)

[2022-08-22 20:23] alculquicondor commented on #471
That is very odd. I kind of looks like both operators were running.
I just noticed now that in all the screenshots you shared you have two launcher pods. The launcher pods from v2 should always have a `-randomstring` at the end. The ones from v1 didn't have this suffix.

Now, removing the old APIs shouldn't affect the fact that 2 operators are running. However, the old operator would now be crashi

[2022-08-23 01:21] thuzhf commented on #471
Where can I find the old operator (if it exists)? I can only find one pod running in namespace `mpi-operator`.

[2022-08-23 04:06] thuzhf opened #473 "Failed to watch *v2beta1.MPIJob:P failed to list *v2beta1.MPIJob: ..."
Sometimes I encounter the following log in `deploy/mpi-operator`, and the operator does not respond to my apply request.
![image](https://user-images.githubusercontent.com/8064242/186067243-2d93c1ec-2397-4fd4-be4a-fba308c5a7df.png)

Is this a bug or what?

[2022-08-23 04:07] gaocegege commented on #473
cc @zw0610

[2022-08-23 04:20] zw0610 commented on #473
Could you post the yaml file of `MPIJob` that posted? Seems like some issue with the `EnvVar` field in the `MPIJob` that the value of an environment variable cannot be set as  a boolean value `true` but a string value `"true"`?

[2022-08-23 04:36] thuzhf commented on #473
@zw0610 My yaml is as follows:
![image](https://user-images.githubusercontent.com/8064242/186070645-d71c983e-1f1a-40e4-b7c8-c8dd9bca4e36.png)

[2022-08-23 04:40] thuzhf commented on #473
And when this happens, even if I rollout restart `deploy/mpi-operator`,  it still does not recover from this condition.

[2022-08-23 04:46] zw0610 commented on #473
could you post all `EnvVar` parts in the `MPIJob` rather than the cropped one?

[2022-08-23 04:49] thuzhf commented on #473
This is already the full yaml content. I do not write any EnvVar by myself in this yaml file.

[2022-08-23 04:59] zw0610 commented on #473
Could you get from APIServer via `kubectl` instead of the source file you posted? There might be some legacy jobs or mutating webhook that makes the job in the cluster different from the source file.

[2022-08-23 05:04] thuzhf commented on #473
This is the result of `kubectl get pod simple-mpi-worker-1 -o yaml`:
![image](https://user-images.githubusercontent.com/8064242/186074157-2442d2b7-2bc6-4a8e-8d15-fcd2f8448052.png)

[2022-08-23 05:10] thuzhf commented on #473
And this is the result of `kubectl get pod simple-mpi-launcher-xxxx`:
![image](https://user-images.githubusercontent.com/8064242/186074933-f84d3ee0-a90d-47e4-9d86-650dd67d9be0.png)

[2022-08-23 05:54] o0fatigue commented on #472
@alculquicondor Thanks for your reply. After a little bit trying, I found that ssh connect was failing due to 777 permission of `/root/.ssh`. I have also tried non-root execution, it yields the same result.

[2022-08-23 06:27] zw0610 commented on #473
I'm afraid I cannot link this mpijob to the error message on the top unless there are other mpijobs.

[2022-08-23 07:19] o0fatigue commented on #472
Fixed the problem:
* program executed on launcher because I was somehow using mpich instead of openmpi
 * ssh key permission issue is bypassed by changing `StrictModes=no` in my sshd_config file

 Close this issue. Thank you

[2022-08-23 07:19] #472 closed

[2022-08-23 13:08] alculquicondor commented on #471
No idea. Do you also have kubeflow installed separately?

[2022-08-23 13:12] thuzhf commented on #471
Yes. I installed some parts of kubeflow about a year ago. And it includes mpi-operator and training-operator. But the  mpi-operator will not be deleted by `kubectl delete -f deploy/v2beta1/mpi-operator.yaml` and `kubectl delete -f deploy/v1/mpi-operator.yaml`? I have executed these commands multiple times before I do `kubectl apply -f deploy/v2beta1/mpi-operator.yaml`.

[2022-08-23 13:19] alculquicondor commented on #473
Is this the only MPIJob in the cluster?

You wouldn't have pods for this MPIJob, because it fails to parse.

[2022-08-23 13:24] alculquicondor commented on #472
Awesome. If you are willing to add mpich support to mpi-operator, I'm happy to review the PR.

[2022-08-23 13:26] thuzhf commented on #473
No. But even if someone else's MPIJob caused this. Why does this cause the whole `mpi-operator` to not work? I think it is not expected to not work because someone else apply a wrong yaml. Do I miss something?

[2022-08-23 13:30] alculquicondor commented on #471
No, because the mpi-operator packaged with kubeflow is in the kubeflow namespace. Check the documentation for kubeflow on how to disable a specific component (including in the training operator). I'm not familiar enough with it to give you more clear instructions.

/close

[2022-08-23 13:30] #471 closed

[2022-08-23 13:35] alculquicondor commented on #473
It's how the k8s go client works: it needs to fetch all MPIJobs in the cluster. If one of them doesn't parse, it fails.

I'm not sure if there is a way to skip the failing one. A quick google search didn't give me positive results.

[2022-08-23 13:37] alculquicondor commented on #473
In general, we would avoid these problems by having a validation webhook. Unfortunately, we haven't set up one yet.

[2022-08-23 13:39] thuzhf commented on #471
I just found the evil `mpi-operator` pod in kubeflow namespace. Holy crap...

[2022-08-23 13:51] thuzhf commented on #473
OK. But how can I know the full yaml content of the corresponding yaml to trace it? From the log, I have no idea what yaml/whose yaml caused this log. If I can know the full content of the corresponding yaml, I can easily find the creator of this yaml.

[2022-08-23 14:30] alculquicondor commented on #473
I would suggest using `kubectl get -A mpijobs` and grep for `OMPI_ALLOW_RUN_AS_ROOT`

[2022-08-23 14:41] thuzhf commented on #473
Understood. Thanks!

[2022-08-24 06:04] thuzhf opened #474 "How can I use a different scheduler from volcano?"
I want to use other scheduler (my own scheduler and etc). How can I configure mpi-operator to use other scheduler (like changing some parameter)?

[2022-08-24 13:29] alculquicondor commented on #474
You can set the `schedulerName` within the Pod templates of your MPIJobs.

There is this command line flag https://github.com/kubeflow/mpi-operator/blob/993b010e05c48c6f6ef5a5180362ccd3e716982e/v2/cmd/mpi-operator/app/options/options.go#L65, however, it assumes that you want to use Volcano's PodGroup API, even if using a different scheduler.

There are also these open issues https://github.com/kub

[2022-08-24 13:56] thuzhf commented on #474
Thanks. I'll have a try.
And the `job-manager` introduced by `kueue` seems very promising. I've always wanted to have a `job-level` manager (argo is not) instead of `pod-level` manager and avoid duplicating mature functionality in k8s.

[2022-09-06 03:46] o0fatigue opened #476 "Launcher pod seems disabling GPU"
Hello. I was trying to use GPUs in the launcher pod, because in my use case some non-mpi computing, which is prerequisite to my mpi program, should be done in the launcher before starting the mpi program. However, I found that in the launcher pod, GPUs are not available, and it seems due to the null environment variables of NVIDIA_VISIBLE_DEVICES and NVIDIA_DRIVER_CAPABILITIES set onto the launche

[2022-09-06 04:15] terrytangyuan commented on #476
It's by design. Launcher pod doesn't need GPUs.

[2022-09-06 08:34] o0fatigue commented on #476
@terrytangyuan Thank you for your reply. However, if I really need GPU in launcher pod (for some computation not related to MPI as I mentioned), is there any possible method to enable GPU usage in launcher? And will there be any limitations or problems if I use GPUs in launcher pod?

[2022-09-06 11:22] terrytangyuan commented on #476
You'll need to modify the source code yourself then.

[2022-09-06 15:09] alculquicondor commented on #476
Here is where the variables are added https://github.com/kubeflow/mpi-operator/blob/master/v2/pkg/controller/mpi_job_controller.go#L1379

Have you tried running the code on an MPI rank instead? that should be equivalent.

[2022-09-08 08:03] o0fatigue commented on #476
thank you guys! closing this issue

[2022-09-08 08:03] #476 closed

[2022-09-21 02:30] sheevy opened #477 "MPICH question"
I have a Docker image of my python program which calls into parallel version of meep (https://meep.readthedocs.io/en/latest/) which is compiled against the MPICH (pymeep package in conda-forge). I'd like to run it on the K8s using MPI-Operator. I see 3 possible paths:

1. Extend MPI-Operator to support MPICH
2. Recompile Parallel Meep to use OpenMPI
3. This whole things won't work either way becau

[2022-09-21 13:44] alculquicondor commented on #477
I have no idea whether it would work, but I would be happy to review a PR to support MPICH.

[2022-10-31 14:27] bimtauer opened #479 "Pass on MPIJob annotations to launcher and worker pods"
**Expected behavior**

Annotations defined in an MPIJob manifest are passed on to the generated launcher and worker pods. I.e.:

[code]
results in
[code]
Currently this doesn't happen.

**Why this matters**
Basically for anyone using annotations to manage something of importance in their cluster. In our case kube2iam, vault secret injection and other services rely on annotations and pods spawned b

[2022-10-31 14:39] alculquicondor commented on #479
Why not include the annotations on the PodTemplate?

[2022-11-01 09:16] bimtauer commented on #479
That sounds like a great feature to use, didn't know about that since I'm using the MPI operator through Flyte. Will check up on this, thank you!

[2022-11-01 13:20] alculquicondor commented on #479
This is the same way k8s APIs work (Deployment, StatefulSet, etc.)

/close

[2022-11-01 13:20] #479 closed

[2022-11-02 14:06] kimwnasptd opened #480 "MPIJobs and Istio"
I tried to run some MPIJobs with Istio enabled in the user namespaces but have bumped into a couple of issues. I'll use this issue to expose the bugs that occurred as well as proposed solutions. Although we might need to break this into smaller issues.

I used the [`tensorflow-benchmarks`](https://github.com/kubeflow/mpi-operator/tree/master/examples/v2beta1/tensorflow-benchmarks) example, so this

[2022-11-02 14:44] kimwnasptd commented on #480
I'll actually create issue in the training-operator repo, since IIUC this controller's code has been migrated in that repo

[2022-11-02 14:45] kimwnasptd commented on #480
Closing this in favor of https://github.com/kubeflow/training-operator/issues/1681

[2022-11-02 14:55] LY-today opened #481 "Launcher has been unable to complete initialization"
Hello, I tried to run the mpi-operator/examples/v1/horovod/tensorflow-mnist-elastic.yaml case, and found that the launcher has been unable to complete the Init, the log shows the following

# kubectl get pods -o wide -n mpi-operator
[code]

# kubectl logs tensorflow-mnist-elastic-launcher -n mpi-operator
[code]

How can I troubleshoot or solve

[2022-11-02 14:56] alculquicondor commented on #480
It's hasn't been fully migrated. There is a new version of the controller that uses ssh instead of exec, which might be a step in the right direction.

We discussed this topic before #429, but there is no solution.

[2022-11-02 14:58] alculquicondor commented on #480
Probably the solution is along the lines of istio using a TCP proxy, instead of an HTTPS proxy.

[2022-11-02 15:01] LY-today commented on #481
Do you mean the log of mpi-operator controller?

[2022-11-02 15:02] LY-today commented on #481
Do you mean the log of mpi-operator controller?

[2022-11-02 15:04] LY-today commented on #481
Do you mean mpi-operator controller's log? or elastic-worke's log?

[2022-11-02 15:16] LY-today commented on #481
[code]

[2022-11-02 15:29] alculquicondor commented on #481
`tensorflow-mnist-elastic-launcher`

Also, have you tried the v2 controller?

[2022-11-02 15:36] LY-today commented on #481
tensorflow-mnist-elastic-launcher's log
[code]

v2 controller refers to the mpi-operator controller of the v2beta1 version?

[2022-11-02 15:37] alculquicondor commented on #481
I think you can specify which container to look at, and then you should select the initContainer to see what's going on.

Yes, but you need to install the v2 controller as well.

[2022-11-02 16:38] alculquicondor commented on #481
I also don't have permissions to do so. Unless this works?

/reopen

[2022-11-03 12:06] LY-today commented on #481
@alculquicondor
I tried to use the v2 beta1 version. At present, when I created mpi-operator/examples/v2beta1/tensorflow-benchmarks/tensorflow-benchmarks.yaml, I found that CrashLoopBackOff appeared in the launcher, and the log showed
[code]

[2022-11-03 14:35] alculquicondor commented on #481
Did you upgrade the controller to v2? What are the logs in the workers?

[2022-11-03 15:00] LY-today commented on #481
Yes, I have switched to v2beta1, the worker's log is as follows
[code]

[2022-11-03 15:16] alculquicondor commented on #481
The logs seem to indicate that the network was not configured... Do you see any service for your MPIJob?
Have you tried the pi example? https://github.com/kubeflow/mpi-operator/tree/master/examples/v2beta1/pi

[2022-11-03 15:19] alculquicondor commented on #481
Any chance you are using istio? It's not currently supported.

[2022-11-04 07:13] LY-today commented on #481
pi-launcher's logs
[code]

[2022-11-04 07:15] LY-today commented on #481
not using istio

[2022-11-04 07:16] LY-today commented on #481
Client Version: version.Info{Major:"1", Minor:"18", GitVersion:"v1.18.2", GitCommit:"52c56ce7a8272c798dbc29846288d7cd9fbae032", GitTreeState:"archive", BuildDate:"2020-05-20T04:14:03Z", GoVersion:"go1.13.8", Compiler:"gc", Platform:"linux/amd64"}
Server Version: version.Info{Major:"1", Minor:"18", GitVersion:"v1.18.2", GitCommit:"52c56ce7a8272c798dbc29846288d7cd9fbae032", GitTreeState:"archive", B

[2022-11-04 14:11] alculquicondor commented on #481
Have you tried a newer version? 1.18 is significantly old and out-of-support.

I can't guarantee that all the features we used in mpi-operator would be supported.

[2022-11-04 14:17] alculquicondor commented on #481
Our E2E test runs on 1.21 https://github.com/kubeflow/mpi-operator/blob/master/v2/test/e2e/e2e_suite_test.go#L45

[2022-11-07 06:44] LY-today commented on #481
ok i'll try it on version 1.21

[2022-11-08 14:25] alculquicondor commented on #480
/reopen

Have you tried with the v2 controller?

[2022-11-10 20:45] alculquicondor commented on #481
It might be helpful to examine the Service and Endpoint objects.

[2022-11-10 21:20] kannon92 commented on #481
You know, right after I posted this, it started working..

So I'm still a little confused on how these things work under the hood.

So what I see is that it takes about 3-4 retries for it to work locally:

I get this in my logs at first:

[code]

And it takes some time but then I get these logs (3rd try)

[code]
What I don't really understand is where pi-worker-0.pi-worker is coming from and how t

[2022-11-11 13:17] alculquicondor commented on #481
It's a headless service https://kubernetes.io/docs/concepts/services-networking/service/#headless-services

Failures are expected while the network is being setup. That's why we use a Job that can retry.

[2022-11-14 18:48] thoraxe commented on #12
There hasn't been much motion on this issue. Is there anything I can do to help?

[2022-11-14 18:58] rhc54 commented on #12
I would love to see this completed, if possible. I learned that a colleague at IBM (@jjhursey) is going to describe a Kubernetes/PMIx effort this week - perhaps he could share how that might relate here?

[2022-11-14 19:01] alculquicondor commented on #12
It can also be shared during a kubeflow training meeting. Please let me know if you plan to do so, as I'd like to attend.

[2022-11-14 19:08] rhc54 commented on #12
Also, for those of you at SC this week - Jai Dayal (@jaidayal) of Samsung is going to give a very brief description of the work we are collaborating on to use PMIx to integrate dynamic applications to a dynamic scheduler at the PMIx BoF meeting. There will also be a couple of other talks about similar efforts. I would heartily recommend attending, if you can. If nothing else, it might be worth you

[2022-11-15 16:03] jjhursey commented on #12
My talk at SC22 was presented at the CANOPIE-HPC workshop
 * "A separated model for running rootless, unprivileged PMIx-enabled HPC applications in Kubernetes"
 * https://canopie-hpc.org/program/

The organizers should be posting the slides at some point. I'm planning on giving a more PMix focused version of the talk during the PMIx Standard ASC meeting in Jan [link](https://github.com/pmix/pmix-s

[2022-11-15 16:23] alculquicondor commented on #12
Thanks, I'll take a look once the talks are available.

Shameless plug, in case you didn't know: https://opensource.googleblog.com/2022/10/kubeflow-applies-to-become-a-cncf-incubating-project.html

It would be great if the PMIx solution could be integrated with kubeflow or (even better), the kubernetes Job API directly.

[2022-11-15 16:27] ahg-g commented on #12
/cc

[2022-11-15 17:13] rhc54 commented on #12
Ah - no I was unaware of this! Congrats to all involved. I'm retired and so wouldn't really be able to write the integration code, but I am happy to advise and/or contribute where possible if someone wishes to pursue this. Having a "native" way of starting parallel applications in a Kubeflow environment would seem desirable, and extending that later to support dynamic integration to the scheduler

[2022-11-16 14:04] kimwnasptd commented on #480
Orthogonal to the technical discussion, but shouldn't we close this issue and keep this context on https://github.com/kubeflow/training-operator/issues/1681? Why was this issue re-opened? Isn't the main development of MPI Operator now happening in Training Operator repo?

[2022-11-16 14:12] alculquicondor commented on #480
Not all of it. The v2 operator hasn't been migrated yet.

[2022-11-16 14:27] alculquicondor commented on #480
Using `kubectl exec` implies that every job startup sequence involves a tunnel through the API server. The connection stays up for the entirety of the runtime. This is not scalable.

TBH, I'm not familiar with istio. I picked up that suggestion from #429.

Yes, they are in this repo. I don't think you can have both running at the same time. IIUC, there is a way to disable specific operators in tra

[2022-11-19 23:25] xhejtman opened #482 "Failing launcher because network is not yet ready"
Hello,

I created draft implementation of mpijob into [nextflow](https://github.com/nextflow-io/nextflow/pull/3392).

I run into problem that nextflow expects that job does not fail temporary as is the case of launcher job.

Moreover, failing launcher can be for longer time as it might happend that there are not free resources for all the workes (like few days) and launcher will fail as it exhaust

[2022-11-21 13:38] alculquicondor commented on #482
The main motivation to spawn both at the same time is because images tend to be big. If the launcher is spawned after the workers, there's 2x the wait time for image download.
But maybe this is not a fair assumption and we could have a configurable field in the API that dictates whether to wait for the workers.

[2022-11-21 18:20] xhejtman commented on #482
I would appreciate such option.

[2022-11-21 19:35] alculquicondor commented on #482
Feel free to work on a proposal. I myself don't have time to work on this.